Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Rename source to dfetch-source
  .github/workflows/build.yml
  .github/workflows/source-provenance.yml
  .github/workflows/test.yml
  doc/howto/verify-integrity.rst
Due: doc8

Add test attestation
  .github/workflows/ci.yml
  .github/workflows/test.yml
  doc/tutorials/installation.rst
Due: doc8

Move integrity into separate howto
  doc/howto/verify-integrity.rst
  doc/index.rst
  doc/tutorials/installation.rst
Due: doc8

Allow empty manifest, fixes #1197
  CHANGELOG.rst
  dfetch/manifest/manifest.py
  dfetch/manifest/schema.py
  doc/howto/adding-a-project.rst
  features/check-git-repo.feature
  features/fetch-git-repo.feature
  features/freeze-projects.feature
  features/interactive-add.feature
  features/report-sbom.feature
  features/validate-manifest.feature
  tests/test_manifest.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Threat models
  pyproject.toml
  security/README.md
  security/__init__.py
  security/report_template.md
  security/threats.json
  security/tm_common.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black

Add threat models to docs
  doc/conf.py
  doc/explanation/security.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/README.md
  security/report_template.md
  security/report_template.rst
  security/tm_common.py
Due: isort, black, doc8

Add SLSA Source Provenance Attestation via slsa-source-corroborator
  .github/workflows/source-provenance.yml
  doc/explanation/threat_model_supply_chain.rst
  doc/howto/verify-integrity.rst
  security/tm_supply_chain.py
Due: isort, black, doc8

refactor: replace SubProject inheritance with has-a Fetcher composition
  dfetch/commands/add.py
  dfetch/commands/environment.py
  dfetch/commands/format_patch.py
  dfetch/project/__init__.py
  dfetch/project/archivesubproject.py
  dfetch/project/fetcher.py
  dfetch/project/gitsubproject.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/project/svnsuperproject.py
  pyproject.toml
  tests/test_add.py
  tests/test_archive.py
  tests/test_subproject.py
  tests/test_svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: address code-review findings from composition refactoring
  dfetch/commands/add.py
  dfetch/project/__init__.py
  dfetch/project/gitsubproject.py
  dfetch/terminal/pick.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: resolve all pre-commit check failures
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/project/archivesubproject.py
  dfetch/project/fetcher.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/terminal/pick.py
  dfetch/terminal/prompt.py
  dfetch/util/license.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

docs: update architecture diagram and AGENTS.md for composition refactoring
  AGENTS.md
  doc/static/uml/c3_dfetch_components_project.puml
Due: doc8

fix: address four code-review findings
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/project/svnsubproject.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve docs
  .claude/settings.json
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/tm_common.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8

hotfix slsa provenance
  .github/workflows/source-provenance.yml
  doc/explanation/threat_model_supply_chain.rst
  doc/howto/verify-integrity.rst
  security/tm_supply_chain.py
Due: isort, black, doc8

Allow release-assets.githubusercontent.com in source-provenance egress policy
  .github/workflows/source-provenance.yml
Due: none

Add timestamp.githubapp.com to harden-runner allowed-endpoints
  .github/workflows/build.yml
  .github/workflows/source-provenance.yml
  .github/workflows/test.yml
Due: none

hotfix slsa provenance
  .github/workflows/ci.yml
  .github/workflows/source-provenance.yml
Due: none

Notes added by 'git notes append'
  918c44b69e14a5c0c3a22526e524c5a8d206ca17
Due: none

Notes added by 'git notes append'
  055c83209f8e73af8d7674c55a31a925fd31162b
Due: none

Notes added by 'git notes append'
  18c0e7fca868dc4eac567f29014610d1bde458f7
Due: none

Notes added by 'git notes append'
  bd30409555d7c8bfbcf5d1913b3ebe2ccfd3dd1f
Due: none

Notes added by 'git notes append'
  8b06f1c50b17637dbe5c6e42fc0a9f500661b8d8
Due: none

Fix CI build: upgrade actions/download-artifact from v5 to v7.0.0
  .github/workflows/build.yml
  .github/workflows/python-publish.yml
  .github/workflows/test.yml
Due: none

Notes added by 'git notes append'
  30be878ae8560a09d50d8dcb5c6e6f5f09b8cce6
Due: none

Notes added by 'git notes append'
  d8406a81de27759cab0357c6aa8ef0e9e7322053
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
