Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Fix three bugs in apply_eol_conversion and _apply_superproject_eol
  dfetch/project/svnsubproject.py
  dfetch/vcs/git.py
  tests/test_git_vcs.py
  tests/test_svnsubproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add passthrough SVN eol scenarios (CRLF→CRLF and LF→LF)
  features/superproject-line-ending-attrs.feature
Due: none

Simplify apply_eol_conversion: use index checkout, drop commit step
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  07409bb75e5f8a8ad5c80363be8862b1c177fc8f
Due: none

Update implementation
  .pre-commit-config.yaml
  CHANGELOG.rst
  dfetch/commands/update.py
  dfetch/commands/update_patch.py
  dfetch/project/archivesubproject.py
  dfetch/project/gitsubproject.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/project/svnsubproject.py
  dfetch/project/svnsuperproject.py
  dfetch/util/cmdline.py
  dfetch/vcs/git.py
  dfetch/vcs/svn.py
  doc/howto/updating-projects.rst
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/svn_steps.py
  features/superproject-line-ending-attrs.feature
  tests/test_git_vcs.py
  tests/test_subproject.py
  tests/test_svn_vcs.py
  tests/test_svnsubproject.py
  tests/test_update.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Automate Winget manifest submission on release
  .github/workflows/winget-publish.yml
  CHANGELOG.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/howto/contributing.rst
Due: doc8

Extend supply chain threat model with Winget
  doc/explanation/threat_model_supply_chain.rst
  security/threats.json
  security/tm_supply_chain.py
Due: isort, black, doc8

Add unobtrusive newer-version notice to check and environment commands
  CHANGELOG.rst
  dfetch/commands/check.py
  dfetch/commands/environment.py
  dfetch/util/github_version_check.py
  tests/test_github_version_check.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update implementation
  .pre-commit-config.yaml
  CHANGELOG.rst
  dfetch/commands/update.py
  dfetch/commands/update_patch.py
  dfetch/project/archivesubproject.py
  dfetch/project/gitsubproject.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/project/svnsubproject.py
  dfetch/project/svnsuperproject.py
  dfetch/util/cmdline.py
  dfetch/vcs/git.py
  dfetch/vcs/svn.py
  doc/conf.py
  doc/explanation/line-endings.rst
  doc/howto/updating-projects.rst
  doc/index.rst
  doc/static/uml/update.puml
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/svn_steps.py
  features/superproject-line-ending-attrs.feature
  tests/test_git_vcs.py
  tests/test_subproject.py
  tests/test_svn_vcs.py
  tests/test_svnsubproject.py
  tests/test_update.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use git-native eol config before fetch instead of Python post-processing
  dfetch/vcs/git.py
  features/superproject-line-ending-attrs.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Ignore .claude/worktrees/ directory
  .gitignore
Due: none

Add explanatory comments for non-obvious heuristics
  dfetch/project/gitsubproject.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix apply_eol_conversion: use commit+delete+checkout instead of checkout-index
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Address review feedback on superproject eol feature
  dfetch/project/gitsubproject.py
  dfetch/vcs/git.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/superproject-line-ending-attrs.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add SVN subproject eol support and cross-check scenarios
  dfetch/project/svnsubproject.py
  dfetch/vcs/git.py
  features/steps/svn_steps.py
  features/superproject-line-ending-attrs.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Respect superproject .gitattributes eol rule when fetching git dependencies
  CHANGELOG.rst
  dfetch/project/gitsubproject.py
  dfetch/vcs/git.py
  dfetch/vcs/git_types.py
  doc/howto/updating-projects.rst
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/superproject-line-ending-attrs.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use Scenario Outline + Examples tables in eol feature; update docs
  doc/howto/updating-projects.rst
  features/superproject-line-ending-attrs.feature
Due: doc8

Notes added by 'git notes append'
  4cd25fb2e2a43cfc6b0fefd194fe5cff5f6358eb
Due: none

Remove unused test imports; let black format _RELEASES_URL as single line
  dfetch/util/github_version_check.py
  tests/test_github_version_check.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  CHANGELOG.rst
  dfetch/commands/check.py
  dfetch/commands/environment.py
  dfetch/log.py
  dfetch/util/github_version_check.py
  tests/test_github_version_check.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add test
  dfetch/util/github_version_check.py
  features/environment.feature
  features/environment.py
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Catch more exceptions
  dfetch/util/github_version_check.py
  tests/test_github_version_check.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add unobtrusive newer-version notice to check and environment commands (#1262)
  CHANGELOG.rst
  dfetch/commands/check.py
  dfetch/commands/environment.py
  dfetch/log.py
  dfetch/util/github_version_check.py
  features/environment.feature
  features/environment.py
  features/steps/generic_steps.py
  tests/test_github_version_check.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  4800144484b9b5140feac46881613388da941569
Due: none

Review comments
  .github/workflows/winget-publish.yml
  CHANGELOG.rst
  doc/howto/contributing.rst
  security/tm_supply_chain.py
Due: isort, black, doc8

Add setup docs
  .github/workflows/winget-publish.yml
Due: none

Review comment
  doc/explanation/threat_model_supply_chain.rst
  security/tm_supply_chain.py
Due: isort, black, doc8

Automate Winget manifest submission on release (#1263)
  .github/workflows/winget-publish.yml
  CHANGELOG.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/howto/contributing.rst
  security/threats.json
  security/tm_supply_chain.py
Due: isort, black, doc8

Notes added by 'git notes append'
  c5e12fca98272bd6510520fe034ccf5d1e2f0e06
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
