Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, flake8, mypy, doc8, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        args: [--strict]
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Fix gitpod config
  .gitpod.yml
Due: none

Bump version in scenario
  features/report-sbom.feature
Due: none

Fixes #358: If suggestion not found, crash
  dfetch/manifest/manifest.py
  tests/test_manifest.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Update Changelog
  CHANGELOG.rst
Due: none

Make linters happy
  dfetch/manifest/manifest.py
  tests/test_manifest.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Add Gitpod link to contributing documentation
  doc/contributing.rst
Due: doc8

Drop python 3.6 support
  CHANGELOG.rst
  setup.py
Due: isort, black

Drop 3.6 support in run.yml
  .github/workflows/run.yml
Due: none

Let dependabot check github-actions
  .github/dependabot.yml
Due: none

Create reprodcuing test #383
  features/check-svn-repo.feature
  features/freeze-projects.feature
  features/list-projects.feature
Due: none

Fixes #383: Add branches prefix in svn
  CHANGELOG.rst
  dfetch/project/svn.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Bump cyclone-dx version
  features/report-sbom.feature
Due: none

Add mypy as explicit dependency
  requirements.txt
Due: none

Use latest Prospector to fix Poetry issue
  requirements.txt
Due: none

Add git-graph to gitpod workspace
  .gitpod.yml
Due: none

Drop prospector due to semver
  .pre-commit-config.yaml
  .prospector.yaml
  dfetch.code-workspace
  requirements.txt
  setup.cfg
Due: none

Add missing isort dependency
  requirements.txt
Due: none

Run isort in vscode
  dfetch.code-workspace
Due: none

Add pylint to requirements
  requirements.txt
Due: none

Bump read the docs python version
  .readthedocs.yml
Due: none

Use newer syntax
  .readthedocs.yml
Due: none

Disable flake8 until python 3.7 EOL
  .pre-commit-config.yaml
  dfetch.code-workspace
  requirements.txt
Due: none

Use pep517 to first create wheel before installing
  create_venv.py
Due: isort, black

Disable flake8 in github actions
  .github/workflows/test.yml
Due: none
