Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

docs: promise to credit vulnerability reporters in SECURITY.md
  SECURITY.md
Due: none

tests: add 143 unit tests to raise coverage from 72.5% to ~80%
  tests/test_check_reporters.py
  tests/test_check_stdout_reporter.py
  tests/test_commands_diff.py
  tests/test_commands_format_patch.py
  tests/test_commands_freeze.py
  tests/test_commands_misc.py
  tests/test_commands_update_patch.py
  tests/test_gitsuperproject.py
  tests/test_jenkins_reporter.py
  tests/test_sarif_reporter.py
  tests/test_screen.py
  tests/test_stdout_reporter.py
  tests/test_superproject_and_version.py
  tests/test_svnsubproject.py
  tests/test_svnsuperproject.py
  tests/test_terminal_prompt.py
Due: isort, black

Review comments
  doc/_ext/latex_tabs.py
  tests/test_check_reporters.py
  tests/test_check_stdout_reporter.py
  tests/test_commands_common.py
  tests/test_commands_diff.py
  tests/test_commands_format_patch.py
  tests/test_commands_freeze.py
  tests/test_commands_misc.py
  tests/test_commands_update_patch.py
  tests/test_jenkins_reporter.py
  tests/test_sarif_reporter.py
  tests/test_screen.py
  tests/test_stdout_reporter.py
  tests/test_superproject_and_version.py
  tests/test_svnsubproject.py
  tests/test_svnsuperproject.py
  tests/test_terminal_prompt.py
Due: isort, black, doc8

docs: add governance page covering roles and access continuity
  doc/explanation/governance.rst
  doc/index.rst
Due: doc8

docs: add empty roadmap page
  doc/index.rst
  doc/reference/roadmap.rst
Due: doc8

tests: add unit tests for commands/common.py
  tests/test_commands_common.py
Due: isort, black

dont introduce too much uni tests at once
  .github/workflows/test.yml
  pyproject.toml
  tests/test_check_reporters.py
  tests/test_check_stdout_reporter.py
  tests/test_commands_common.py
  tests/test_commands_diff.py
  tests/test_commands_format_patch.py
  tests/test_commands_freeze.py
  tests/test_commands_misc.py
  tests/test_commands_update_patch.py
  tests/test_gitsuperproject.py
  tests/test_jenkins_reporter.py
  tests/test_sarif_reporter.py
  tests/test_screen.py
  tests/test_stdout_reporter.py
  tests/test_superproject_and_version.py
  tests/test_svnsubproject.py
  tests/test_svnsuperproject.py
  tests/test_terminal_prompt.py
Due: isort, black

fix pre-commit
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  security/compliance.py
  security/compliance_data.py
  security/compliance_types.py
  security/dfetch.component-definition.json
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8

reduce threshold
  .github/workflows/test.yml
  pyproject.toml
Due: none

tests: add test for environment.py to clear 80% coverage gate
  tests/test_commands_misc.py
Due: isort, black

ci: enforce 80% statement coverage gate
  .github/workflows/test.yml
  pyproject.toml
Due: none

Notes added by 'git notes append'
  00/3460775a976812619e5827f74ee1ff10727526
Due: none

docs: expand patching how-to into a mature guide
  doc/howto/patching.rst
Due: doc8

Notes added by 'git notes append'
  c3/2329df5c80fd15f35caf86e3511b0ca13e7f59
Due: none

Notes added by 'git notes append'
  ef/32ad6f0093e59bfec2568b5f53e5e7386aac57
Due: none

Surface actionable error when git remote redirects to sign-in or requires credentials (#1138)
  CHANGELOG.rst
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix git auth/redirect silently treated as non-git (#1138)
  CHANGELOG.rst
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Reduce is_git() complexity below xenon B threshold
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Shorten changelog entry and document format rule in AGENTS.md
  AGENTS.md
  CHANGELOG.rst
Due: none

Redact query/fragment from redirect URL before debug logging
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  ba/1aa1b20a4575763c3cef6cab8e78cadee1d29b
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
