Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Review comments
  dfetch/manifest/project.py
  dfetch/project/subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update docs to reflect multiple patches
  dfetch/commands/diff.py
  dfetch/manifest/project.py
  dfetch/project/metadata.py
  doc/manifest.rst
  doc/static/uml/update.puml
  doc/vendoring.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add example
  doc/vendoring.rst
Due: doc8

Add problems dfetch solves to README
  README.md
Due: none

Add permissions for landing page workflow
  .github/workflows/docs.yml
Due: none

Migrate to peaceiris/actions-gh-pages
  .github/workflows/docs.yml
Due: none

Update actions-gh-pages version in workflow
  .github/workflows/docs.yml
Due: none

Add LsiGitCheckout
  doc/alternatives.rst
Due: doc8

Add alternatives
  doc/alternatives.rst
Due: doc8

Make sure the secrets are passed down
  .github/workflows/ci.yml
Due: none

Also check output for multi patches
  features/patch-after-fetch-git.feature
Due: none

Move patching to dfetch.vcs.patch
  dfetch/project/subproject.py
  dfetch/vcs/patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Reproduce Unclear error message if patch file is utf-16 encoded
  features/patch-after-fetch-git.feature
  features/steps/generic_steps.py
Due: isort, black

Fixes Unclear error message if patch file is utf-16 encoded Fixes #941
  CHANGELOG.rst
  dfetch/manifest/project.py
  dfetch/vcs/patch.py
  features/patch-after-fetch-git.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Skip patches outside manifest dir
  CHANGELOG.rst
  dfetch/project/subproject.py
  features/patch-after-fetch-git.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Patch file path in metadata not platform independent Fixes #937
  CHANGELOG.rst
  dfetch/manifest/project.py
  dfetch/project/subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Don't let subproject get knowledge about manifest
  dfetch/project/subproject.py
  features/patch-after-fetch-git.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove redundant import
  dfetch/project/subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

calculate relative patch only once
  dfetch/project/subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix #614: Introduce new update-patch command
  CHANGELOG.rst
  dfetch.code-workspace
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/update_patch.py
  dfetch/project/git.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/project/svn.py
  dfetch/vcs/git.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make all paths absolute and resolve them fixes #946
  dfetch/project/superproject.py
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use path more consistent
  dfetch/project/superproject.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  dfetch/vcs/svn.py
  tests/test_check.py
  tests/test_report.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon
