Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Enforce minimum python version
  pyproject.toml
  tests/test_manifest.py
  tests/test_svn.py
  tests/test_update.py
  tests/test_vcs.py
Due: isort, black

Korbit review comments
  dfetch/manifest/manifest.py
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/jenkins_reporter.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Korbit review changes
  dfetch/commands/report.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move manifest path & text location into Manifest class
  dfetch/commands/check.py
  dfetch/commands/common.py
  dfetch/commands/diff.py
  dfetch/commands/freeze.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/manifest/manifest.py
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/jenkins_reporter.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  tests/manifest_mock.py
  tests/test_check.py
  tests/test_manifest.py
  tests/test_report.py
  tests/test_svn.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add more info to sbom
  dfetch/commands/report.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Extend sbom
  dfetch/reporting/sbom_reporter.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

rework suggestions by korbit
  dfetch/commands/report.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add support for python 3.14
  .github/workflows/run.yml
  CHANGELOG.rst
  pyproject.toml
Due: none

Installation from .zip fails Fixes #812
  README.md
Due: none

Update action to also run outside dfetch repo and pins deps
  README.md
  action.yml
  dfetch/reporting/check/sarif_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update changelog
  CHANGELOG.rst
Due: none

Don't document local action
  dfetch/reporting/check/sarif_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Test the external action path when running on main
  action.yml
Due: none

SVN tag with space not supported unless percent-encoded Fixes #811
  CHANGELOG.rst
  dfetch/project/svn.py
  features/fetch-svn-repo.feature
  features/steps/svn_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

No need to actually fetch the external for an import
  features/steps/svn_steps.py
Due: isort, black

Document Gitlab/Github sbom generation Fixes #290
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump pip in devcontainer
  .devcontainer/Dockerfile
Due: none

Pin upload action
  .github/workflows/python-publish.yml
Due: none

Add tooling for building with Nuitka
  .devcontainer/Dockerfile
  pyproject.toml
Due: none

Create & release standalone binaries Fixes #701
  .github/workflows/build.yml
  pyproject.toml
  script/build.py
Due: isort, black

Unpin deps in build.yaml
  .github/workflows/build.yml
Due: none

Use 3.13 for build
  .github/workflows/build.yml
Due: none

Hide debug output
  pyproject.toml
Due: none

Split test to clean environment
  .github/workflows/build.yml
Due: none

Fix build
  .github/workflows/build.yml
  pyproject.toml
  script/build.py
Due: isort, black

Fix build
  .github/workflows/build.yml
Due: none

Patchelf is already installed & ccache unneeded for ephermeral agent
  .github/workflows/build.yml
Due: none

Optimize binary
  pyproject.toml
Due: none

Fix path in binary test
  .github/workflows/build.yml
Due: none

Fix build with symlink
  .github/workflows/build.yml
  pyproject.toml
Due: none

Make sure dfetch can be executed
  .github/workflows/build.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
