Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Add scenarios to documentation
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/freeze.py
  dfetch/commands/update.py
  dfetch/commands/validate.py
  dfetch/reporting/sbom_reporter.py
  doc/manual.rst
  features/check-git-repo.feature
  features/freeze-projects.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

PoC: Add gherkin scenario to documentation
  doc/conf.py
  doc/manual.rst
  pyproject.toml
Due: isort, black, doc8

Use custom sphinx directive
  doc/_ext/scenario_directive.py
  doc/conf.py
  doc/manual.rst
Due: isort, black, doc8

Add browser preview tip
  doc/contributing.rst
Due: doc8

Add more scenarios
  dfetch/commands/check.py
  dfetch/commands/update.py
  dfetch/manifest/project.py
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/jenkins_reporter.py
  dfetch/reporting/check/sarif_reporter.py
  doc/getting_started.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add metadata to index pages for better SEO
  doc/index.rst
  doc/landing-page/index.rst
Due: doc8

Add html title
  doc/conf.py
  doc/landing-page/conf.py
Due: isort, black, doc8

Trim trailing whitespaces
  dfetch/manifest/project.py
  doc/contributing.rst
  doc/getting_started.rst
  doc/landing-page/index.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add google-site-verification
  doc/index.rst
Due: doc8

Add site verification to landing page
  doc/landing-page/index.rst
Due: doc8

Add sitemap to rtfd
  doc/conf.py
  pyproject.toml
Due: isort, black, doc8

Add robots.txt to rtfd
  doc/conf.py
  doc/robots.txt
Due: isort, black, doc8

Add sitemap & robots.txt to landing page
  doc/landing-page/conf.py
  doc/landing-page/robots.txt
Due: isort, black, doc8

Let google ony crawl stable & latest
  doc/conf.py
  doc/robots.txt
Due: isort, black, doc8

Use correct paths in sitemap
  doc/conf.py
  doc/landing-page/conf.py
Due: isort, black, doc8

Add git-vendor & vendorpull as alternative
  doc/alternatives.rst
Due: doc8

Auto-trim whitespace
  dfetch.code-workspace
Due: none

update deps
  doc/generate-casts/demo-magic/.dfetch_data.yaml
  doc/generate-casts/demo-magic/demo-magic.sh
  doc/static/uml/styles/plantuml-c4/.dfetch_data.yaml
Due: doc8

MInor suggestions
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/import_.py
  dfetch/commands/validate.py
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/jenkins_reporter.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/sarif_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add ruff
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix issues found by ruff
  dfetch/vcs/git.py
  doc/landing-page/conf.py
  doc/static/uml/generate_diagram.py
  features/steps/git_steps.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump pip to 25.0
  .devcontainer/Dockerfile
Due: none

Add pyright
  .github/workflows/test.yml
  pyproject.toml
Due: none

Fix pyright issues
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/project/metadata.py
  dfetch/project/vcs.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/sbom_reporter.py
  doc/_ext/scenario_directive.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
  pyproject.toml
  tests/test_import.py
  tests/test_manifest.py
  tests/test_svn.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add ruff
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Add pyright
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none
