Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Improve documentation
  CHANGELOG.rst
  dfetch/manifest/project.py
  dfetch/project/abstract_check_reporter.py
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/jenkins_reporter.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/check/stdout_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

Move check into dfetch.vcs.git and use dry-run
  dfetch/project/git.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Check if revision exists on remote if only revision given
  dfetch/project/git.py
  dfetch/project/svn.py
  dfetch/project/vcs.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix #381: Warn about unavailable projects
  CHANGELOG.rst
  dfetch/project/abstract_check_reporter.py
  dfetch/project/vcs.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/stdout_reporter.py
  features/check-git-repo.feature
  features/check-report-jenkins.feature
  features/check-svn-repo.feature
  tests/test_util_version.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update puml
  doc/static/uml/check.puml
Due: doc8

Consider up-to-date if latest revision is on disk and thats enough
  dfetch/project/vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update feature test
  features/check-git-repo.feature
Due: none

Use more concise naming
  dfetch/project/abstract_check_reporter.py
  dfetch/project/vcs.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/stdout_reporter.py
  features/check-git-repo.feature
  features/check-report-sarif.feature
  features/check-svn-repo.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update changelog
  CHANGELOG.rst
Due: none

Switch back directory when exception occurs in call
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Be quiet about using master as the default branch during tests
  features/steps/git_steps.py
Due: isort, black

Update feature tests
  features/check-report-code-climate.feature
  features/check-report-jenkins.feature
  features/check-report-sarif.feature
Due: none

Tag all feature tests using remote svn repo
  features/check-svn-repo.feature
  features/fetch-svn-repo.feature
  features/freeze-projects.feature
  features/list-projects.feature
  features/patch-after-fetch-svn.feature
Due: none

Skip remote-svn tests in github action
  .github/workflows/test.yml
Due: none

(GIT) Add possibility to ignore files #571
  CHANGELOG.rst
  dfetch/manifest/project.py
  dfetch/project/git.py
  dfetch/project/vcs.py
  dfetch/resources/schema.yaml
  dfetch/vcs/git.py
  features/fetch-with-ignore-git.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

(SVN) Add possibility to ignore files #571
  dfetch/project/svn.py
  dfetch/util/util.py
  features/fetch-with-ignore-svn.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Never ignore license files
  dfetch/manifest/project.py
  dfetch/project/svn.py
  dfetch/util/util.py
  features/keep-license-in-project.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use python 3.12 for readthedocs
  .readthedocs.yml
Due: none

Use terminal font-size for asciinema
  doc/conf.py
Due: isort, black, doc8

As workaround add asciinema from cdn
  doc/conf.py
Due: isort, black, doc8

Revert back to sphinxcontrib.asciinema==0.3.0
  doc/conf.py
  pyproject.toml
Due: isort, black, doc8

Use version 0.3.8
  pyproject.toml
Due: none

Add basic file hashing test
  tests/test_util_util.py
Due: isort, black

WIP: Track eol in dfetch metadata
  dfetch/project/git.py
  dfetch/project/metadata.py
  dfetch/project/svn.py
  dfetch/project/vcs.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Reformat with new black
  dfetch/commands/common.py
  dfetch/manifest/project.py
  dfetch/manifest/validate.py
  dfetch/project/__init__.py
  dfetch/project/abstract_check_reporter.py
  dfetch/reporting/stdout_reporter.py
  tests/manifest_mock.py
  tests/test_check.py
  tests/test_cmdline.py
  tests/test_git_vcs.py
  tests/test_import.py
  tests/test_manifest.py
  tests/test_project_entry.py
  tests/test_project_version.py
  tests/test_report.py
  tests/test_resources.py
  tests/test_svn.py
  tests/test_update.py
  tests/test_util_version.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove trailing spaces
  .github/workflows/docs.yml
Due: none

Make infer-license support conditional
  pyproject.toml
Due: none

Add alternatives
  doc/alternatives.rst
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
