Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Move create_venv.py to script folder and make it more robust.
  check_quality.bat
  create_docs.bat
  doc/contributing.rst
  script/create_venv.py
  tests/run_tests.bat
Due: isort, black, doc8

Make everything more consistent to 3.13
  .devcontainer/Dockerfile
  .readthedocs.yml
  doc/contributing.rst
  script/create_venv.py
Due: isort, black, doc8

Make path independent
  script/create_venv.py
Due: isort, black

Update sbom
  features/report-sbom.feature
Due: none

Move scripts into script folder
  doc/contributing.rst
  script/check_quality.bat
  script/create_docs.bat
Due: doc8

Remove double comma
  script/create_venv.py
Due: isort, black

Move version check into main
  script/create_venv.py
Due: isort, black

Cast root to string explicitly
  script/create_venv.py
Due: isort, black

Use single define for python version
  script/create_venv.py
Due: isort, black

Update comment
  script/create_venv.py
Due: isort, black

Bump C$-puml
  doc/static/uml/styles/plantuml-c4/.dfetch_data.yaml
  doc/static/uml/styles/plantuml-c4/C4.puml
Due: doc8

Latest master
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
  doc/_ext/sphinxcontrib_asciinema/__init__.py
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
Due: isort, black, doc8

Move sphinxcontrib changes into patch & update
  dfetch.yaml
  doc/_ext/sphinxcontrib_asciinema.patch
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
Due: isort, black, doc8

Document patch reversal in git
  dfetch/commands/diff.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix coderabbit comments
  doc/_ext/sphinxcontrib_asciinema.patch
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
Due: isort, black, doc8

Document updating patch
  dfetch/commands/diff.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump pip
  .devcontainer/Dockerfile
Due: none

Install prefix leads to /opt/dfetch/opt/dfetch
  .github/workflows/build.yml
  script/package.py
Due: isort, black

Create installer packages
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  README.md
  dfetch/resources/__init__.py
  pyproject.toml
  script/package.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump devcontainer to trixie & ruby 3.3
  .devcontainer/Dockerfile
  .github/workflows/build.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
