Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, flake8, mypy, doc8, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        args: [--strict]
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Add patch for demo-magic
  dfetch.yaml
  doc/generate-casts/demo-magic.patch
  doc/generate-casts/demo-magic/.dfetch_data.yaml
Due: doc8

Remove unused folder
  doc/tooling/demo-magic/.dfetch_data.yaml
  doc/tooling/demo-magic/demo-magic.sh
  doc/tooling/demo-magic/license.txt
  doc/tooling/generate-casts.sh
  doc/tooling/init-demo.sh
Due: doc8

Fix typo about patches
  dfetch/project/vcs.py
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Don't check patch files for typo's
  doc/generate-casts/demo-magic.patch
  setup.cfg
Due: doc8

Add cucumber auto-complete to workspace
  dfetch.code-workspace
Due: none

Fixes #295: Remove cyclic depedendency
  dfetch/project/abstract_check_reporter.py
  dfetch/project/vcs.py
  dfetch/reporting/check/reporter.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Fixes #170: Warn user about not changing metadata file
  CHANGELOG.rst
  dfetch/project/metadata.py
  doc/generate-casts/demo-magic/.dfetch_data.yaml
Due: isort, black, pylint, flake8, mypy, doc8, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Fix feature test
  features/report-sbom.feature
Due: none

Fix esbonio paths
  dfetch.code-workspace
Due: none

Remove @wip tag
  features/report-sbom.feature
Due: none

Bump version in feature file
  features/report-sbom.feature
Due: none

Fixes #337: Only add license if exists
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Fixes #337 Always add name
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Add more info to generic purl
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Fix pylint issues
  dfetch/project/abstract_check_reporter.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/check/stdout_reporter.py
  dfetch/reporting/sbom_reporter.py
  setup.cfg
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Add dependencies section to sbom
  features/report-sbom.feature
Due: none

Update changelog
  CHANGELOG.rst
Due: none

Bump version in feature test
  features/report-sbom.feature
Due: none

Suggest a correct project name if not found (Fixes #320)
  CHANGELOG.rst
  dfetch/manifest/manifest.py
  features/steps/manifest_steps.py
  features/suggest-project-name.feature
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

No-self-use make method static
  dfetch/reporting/check/sarif_reporter.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon
