Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Update casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

Bump version for release 0.8.0
  CHANGELOG.rst
  dfetch.code-workspace
  dfetch/__init__.py
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/guard-against-overwriting.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-usage.feature
  features/keep-license-in-project.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove unknown docs-folder option
  .github/workflows/docs.yml
Due: none

Run bandit in github action
  .github/workflows/test.yml
Due: none

Remove unused cast
  doc/asciicasts/list.cast
Due: doc8

Delete casts before regenerating them
  doc/generate-casts/generate-casts.sh
Due: doc8

Bump changelog for next dev-cycle
  CHANGELOG.rst
Due: none

Warn when git cannot find host
  dfetch/project/svn.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Warn if project in manifest contains non-existent remote
  dfetch/manifest/manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve warning in svn
  dfetch/project/svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add feature tests
  features/check-git-repo.feature
  features/check-svn-repo.feature
Due: none

Update changelog
  CHANGELOG.rst
Due: none

Make test more portable
  features/check-git-repo.feature
Due: none

Don't show skipped tests during debugging
  dfetch.code-workspace
Due: none

Make errors between svn/git more common
  dfetch/project/svn.py
  dfetch/vcs/git.py
  features/check-git-repo.feature
  features/check-svn-repo.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

No need to print in local repo
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix #381: Warn about unavailable projects
  CHANGELOG.rst
  dfetch/project/abstract_check_reporter.py
  dfetch/project/vcs.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/stdout_reporter.py
  features/check-git-repo.feature
  features/check-report-jenkins.feature
  features/check-svn-repo.feature
  tests/test_util_version.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update feature test
  features/check-git-repo.feature
Due: none

Consider up-to-date if latest revision is on disk and thats enough
  dfetch/project/vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update maintenance badge on README.md
  README.md
Due: none

Be quiet about using master as the default branch during tests
  features/steps/git_steps.py
Due: isort, black

Switch back directory when exception occurs in call
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update feature tests
  features/check-report-code-climate.feature
  features/check-report-jenkins.feature
  features/check-report-sarif.feature
Due: none

Check if revision exists on remote if only revision given
  dfetch/project/git.py
  dfetch/project/svn.py
  dfetch/project/vcs.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use more concise naming
  dfetch/project/abstract_check_reporter.py
  dfetch/project/vcs.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/stdout_reporter.py
  features/check-git-repo.feature
  features/check-report-sarif.feature
  features/check-svn-repo.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update puml
  doc/static/uml/check.puml
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
