Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Add workflow_dispatch
  .github/workflows/python-publish.yml
Due: none

Fix pypi publish workflow
  .github/workflows/python-publish.yml
Due: none

Use bleeding edge twine
  .github/workflows/python-publish.yml
Due: none

Pin twine
  .github/workflows/python-publish.yml
Due: none

Fix minor issues
  .devcontainer/Dockerfile
  create_venv.py
Due: isort, black

Set correct path to dockerfile
  .github/dependabot.yml
Due: none

Pin versions in Dockerfile
  .devcontainer/Dockerfile
Due: none

Pin pip in Dockerfile
  .devcontainer/Dockerfile
Due: none

Add support for python 3.13
  .github/workflows/run.yml
  CHANGELOG.rst
  pyproject.toml
Due: none

Hotfix asciinema options
  doc/conf.py
Due: isort, black, doc8

Also hotfix landing-page asciicasts
  doc/landing-page/conf.py
Due: isort, black, doc8

Ensure the col & rows are consistent
  doc/conf.py
  doc/landing-page/conf.py
Due: isort, black, doc8

Loop the asciicasts
  doc/conf.py
  doc/landing-page/conf.py
Due: isort, black, doc8

Using deprecated argument onerror of method rmtree() (deprecated-argument)
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Install deps for user
  .devcontainer/Dockerfile
Due: none

Reformat manifest.py
  dfetch/manifest/manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use same python version in test.yml as in codespace
  .github/workflows/test.yml
Due: none

Store data per fetched file
  dfetch/project/metadata.py
  dfetch/project/vcs.py
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add list of files as last entry in metadata (important info first)
  dfetch/project/metadata.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Check for local changes on per-file basis
  dfetch/project/metadata.py
  dfetch/project/vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Only remove fetched files
  dfetch/project/vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add subpatch to alternatives list #662
  doc/alternatives.rst
Due: doc8

PoC: Add gherkin scenario to documentation
  doc/conf.py
  doc/manual.rst
  pyproject.toml
Due: isort, black, doc8

Use custom sphinx directive
  doc/_ext/scenario_directive.py
  doc/conf.py
  doc/manual.rst
Due: isort, black, doc8

Add scenarios to documentation
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/freeze.py
  dfetch/commands/update.py
  dfetch/commands/validate.py
  dfetch/reporting/sbom_reporter.py
  doc/manual.rst
  features/check-git-repo.feature
  features/freeze-projects.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make the :scenario: argument optional
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Add more examples to documentation
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/freeze.py
  dfetch/commands/import_.py
  dfetch/commands/update.py
  dfetch/commands/validate.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add browser preview tip
  doc/contributing.rst
Due: doc8
