Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Make test install more clear
  .github/workflows/python-publish.yml
Due: none

Give all history to use setuptools scm properly
  .github/workflows/python-publish.yml
Due: none

Only install build
  .github/workflows/python-publish.yml
Due: none

Make pypi available for the deps
  .github/workflows/python-publish.yml
Due: none

Use no local version, pypi does not allow
  pyproject.toml
Due: none

Bump version in feature test
  features/report-sbom.feature
Due: none

Use LicenseExpression instead of LicenseChoice(expression=
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use cyclonedx 1.6 schema (bump to 1.7.0)
  CHANGELOG.rst
  dfetch/reporting/sbom_reporter.py
  features/report-sbom.feature
  features/steps/generic_steps.py
  pyproject.toml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump to version 11.1.0
  dfetch/reporting/sbom_reporter.py
  features/report-sbom.feature
  features/steps/generic_steps.py
  pyproject.toml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Run sbom during action
  .github/workflows/run.yml
Due: none

Suppress pyright issue with decorators
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Sync devcontainer & workspace extensions
  .devcontainer/devcontainer.json
  dfetch.code-workspace
Due: none

Support multiple licenses per project
  CHANGELOG.rst
  dfetch/commands/report.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

wip
  dfetch/commands/report.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fixup list output
  features/list-projects.feature
Due: none

Korbit review comments
  dfetch/manifest/manifest.py
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/jenkins_reporter.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve tests
  features/report-sbom.feature
  tests/test_manifest.py
  tests/test_report.py
Due: isort, black

rework suggestions by korbit
  dfetch/commands/report.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Enforce minimum python version
  pyproject.toml
  tests/test_manifest.py
  tests/test_svn.py
  tests/test_update.py
  tests/test_vcs.py
Due: isort, black

Add more info to sbom
  dfetch/commands/report.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Extend sbom
  dfetch/reporting/sbom_reporter.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move manifest path & text location into Manifest class
  dfetch/commands/check.py
  dfetch/commands/common.py
  dfetch/commands/diff.py
  dfetch/commands/freeze.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/manifest/manifest.py
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/jenkins_reporter.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  tests/manifest_mock.py
  tests/test_check.py
  tests/test_manifest.py
  tests/test_report.py
  tests/test_svn.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix sbom feature test
  dfetch/manifest/manifest.py
  dfetch/reporting/sbom_reporter.py
  features/report-sbom.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Korbit review changes
  dfetch/commands/report.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/license.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update changelog
  CHANGELOG.rst
Due: none
