Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Hide debug output
  pyproject.toml
Due: none

Test binaries on all OS'es
  .github/workflows/build.yml
Due: none

Add verbose ccache
  .github/workflows/build.yml
Due: none

Create & release standalone binaries Fixes #701
  .github/workflows/build.yml
  pyproject.toml
  script/build.py
Due: isort, black

Cleanup build script
  script/build.py
Due: isort, black

There is no example folder
  .github/workflows/build.yml
Due: none

Update changelog
  CHANGELOG.rst
Due: none

Build binaries on windows & macos
  .github/workflows/build.yml
Due: none

Fix build with symlink
  .github/workflows/build.yml
  pyproject.toml
Due: none

Fix scenario
  features/report-sbom.feature
Due: none

Add pyupgrade to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Apply all pyupgrade changes
  dfetch/__main__.py
  dfetch/commands/check.py
  dfetch/commands/command.py
  dfetch/commands/common.py
  dfetch/commands/diff.py
  dfetch/commands/freeze.py
  dfetch/commands/import_.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/manifest/remote.py
  dfetch/project/git.py
  dfetch/project/metadata.py
  dfetch/project/svn.py
  dfetch/project/vcs.py
  dfetch/reporting/__init__.py
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/jenkins_reporter.py
  dfetch/reporting/check/reporter.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/reporting/stdout_reporter.py
  dfetch/resources/__init__.py
  dfetch/util/cmdline.py
  dfetch/util/purl.py
  dfetch/util/util.py
  dfetch/util/versions.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Check pyupgrade during test action
  .github/workflows/test.yml
Due: none

Update demo-magic
  doc/generate-casts/demo-magic/.dfetch_data.yaml
  doc/generate-casts/demo-magic/demo-magic.sh
Due: doc8

Update c4
  doc/static/uml/styles/plantuml-c4/.dfetch_data.yaml
  doc/static/uml/styles/plantuml-c4/C4.puml
  doc/static/uml/styles/plantuml-c4/C4_Component.puml
  doc/static/uml/styles/plantuml-c4/C4_Container.puml
  doc/static/uml/styles/plantuml-c4/C4_Context.puml
  doc/static/uml/styles/plantuml-c4/C4_Deployment.puml
  doc/static/uml/styles/plantuml-c4/C4_Sequence.puml
  doc/static/uml/styles/plantuml-c4/LICENSE
Due: doc8

Update casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

dfetch sphinxcontrib.asciinema into project
  .pre-commit-config.yaml
  dfetch.yaml
  doc/_ext/sphinxcontrib.asciinema/.dfetch_data.yaml
  doc/_ext/sphinxcontrib.asciinema/LICENSE
  doc/_ext/sphinxcontrib.asciinema/__init__.py
  doc/_ext/sphinxcontrib.asciinema/_static/asciinema-player_3.6.3.css
  doc/_ext/sphinxcontrib.asciinema/_static/asciinema-player_3.6.3.js
  doc/_ext/sphinxcontrib.asciinema/asciinema.py
  pyproject.toml
Due: isort, black, doc8

Let editor help in whitespace stuff
  dfetch.code-workspace
Due: none

Use proper path
  dfetch.yaml
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
  doc/_ext/sphinxcontrib_asciinema/LICENSE
  doc/_ext/sphinxcontrib_asciinema/__init__.py
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.6.3.css
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.6.3.js
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
  doc/conf.py
Due: isort, black, doc8

Fix Asciicasts not looping Fixes #827
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
  doc/conf.py
  doc/landing-page/conf.py
Due: isort, black, doc8

Bump asciinema player to 3.12.1
  doc/_ext/sphinxcontrib_asciinema/__init__.py
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.12.1.css
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.12.1.js
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.6.3.css
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.6.3.js
Due: isort, black, doc8

Fix landing page by using dfetch'ed asciinema extenstion
  doc/landing-page/conf.py
Due: isort, black, doc8

Add task for serving landing page
  dfetch.code-workspace
Due: none

Don't check spelling of dfetched extension
  pyproject.toml
Due: none

Let korbit ignore the asciinema player
  .korbitignore
Due: none

Make all python 3.13
  .github/workflows/landing-page.yml
  .github/workflows/test.yml
Due: none

Fix codespell suppressions
  pyproject.toml
Due: none

Move exclusions to pyproject
  .pre-commit-config.yaml
  dfetch.code-workspace
  pyproject.toml
Due: none

Fix typo
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
  pyproject.toml
Due: isort, black, doc8
