Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Notes added by 'git notes append'
  54/f8790519ab0b7fdb09fa90a3adf5e83f8c894f
Due: none

Notes added by 'git notes append'
  1e/9b848d35eb370226a61c5587f3b51500d4bed0
Due: none

test: reproduce UnicodeDecodeError on non-UTF-8 svn output (#1383)
  tests/test_svn_vcs.py
Due: isort, black

fix: tolerate non-UTF-8 svn output instead of crashing (#1383)
  CHANGELOG.rst
  dfetch/util/cmdline.py
  dfetch/vcs/svn.py
  tests/test_cmdline.py
  tests/test_svn_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: address review feedback and codespell CI failure on #1384
  dfetch/util/cmdline.py
  tests/test_cmdline.py
  tests/test_svn_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  a5/2f83a880518b820bbafc5c2eec558823f35484
Due: none

Notes added by 'git notes append'
  17/87991e36fc30c7b2d4fcffc988672881d3db52
Due: none

Notes added by 'git notes append'
  cb/db70b2f0d4bc2e6ed4e2e2fb1bd90f979f164a
Due: none

Notes added by 'git notes append'
  dd/c60a2399b85a1533dd5a49a24638c4024286b7
Due: none

Notes added by 'git notes append'
  61/a02250c6e866ea27909f6dc8438d8aece6bb13
Due: none

Notes added by 'git notes append'
  ce/02f0dc1c575a471641a13e0b82af647a8a71ee
Due: none

Notes added by 'git notes append'
  3e/bacfad4913db8eef335ab43fb94cb537edfbf3
Due: none

Notes added by 'git notes append'
  f3/89979ff27c8f598c828312803062d4d57e70f0
Due: none

build(deps-dev): bump ruff from 0.15.22 to 0.16.4
  pyproject.toml
Due: none

fix: address ruff 0.16 default rule findings instead of pinning the old select
  dfetch/commands/command.py
  dfetch/commands/diff.py
  dfetch/commands/import_.py
  dfetch/commands/update_patch.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/manifest/version.py
  dfetch/project/archivesubproject.py
  dfetch/project/gitsubproject.py
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/project/svnsuperproject.py
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/reporter.py
  dfetch/resources/__init__.py
  dfetch/terminal/__init__.py
  dfetch/terminal/tree_browser.py
  dfetch/util/purl.py
  dfetch/util/util.py
  dfetch/util/versions.py
  dfetch/vcs/git.py
  dfetch/vcs/patch.py
  dfetch/vcs/svn.py
  pyproject.toml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: address CodeRabbit review comments on PR #1386
  dfetch/manifest/manifest.py
  dfetch/resources/__init__.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  88/cc6cb2f7c40ff1c01bbecea8eaa35d7a76ab01
Due: none

Notes added by 'git notes append'
  53/d0d91e2bccec22e5ab41aa8c92c65e52966edb
Due: none

Notes added by 'git notes append'
  ee/e9ef76e280c9fef44ab4b9207394f05d7846c9
Due: none

Notes added by 'git notes append'
  f1/31225f44395531773b0b64a98340f1ab9e8359
Due: none

Notes added by 'git notes append'
  a3/5737a5fe8c3d4886a57dfa35e756afaf09bd84
Due: none

Notes added by 'git notes append'
  b1/e719936a27737fc805a8ae055a7c693411a717
Due: none
