Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Move updating project to howto
  dfetch/commands/update.py
  doc/index.rst
  doc/updating-projects.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add visual Design Guide to contributing docs
  doc/contributing.rst
  doc/static/css/custom.css
Due: doc8

Use more active titles for howto
  doc/adding-a-project.rst
  doc/check-ci.rst
  doc/contributing.rst
  doc/migration.rst
  doc/patching.rst
  doc/sbom.rst
  doc/troubleshooting.rst
  doc/updating-projects.rst
Due: doc8

Add command mindmap and wire up flow diagrams in manual
  doc/manual.rst
  doc/static/css/custom.css
  doc/static/uml/commands.puml
Due: doc8

Reword commands
  doc/commands.rst
Due: doc8

Split out patching guide
  doc/index.rst
  doc/manual.rst
  doc/patching.rst
  doc/static/js/diataxis.js
Due: doc8

Move adding project to howto
  dfetch/commands/add.py
  doc/adding-a-project.rst
  doc/index.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update doc/howto/sbom.rst
  doc/howto/sbom.rst
Due: doc8

Fix cheatsheet
  doc/cli_cheatsheet.rst
  doc/static/css/custom.css
Due: doc8

Redesign CLI Cheatsheet as a beautiful dark terminal card
  doc/manual.rst
  doc/static/css/custom.css
Due: doc8

Restyle docs to match landing page and restructure per Diataxis
  doc/conf.py
  doc/index.rst
  doc/static/css/custom.css
Due: isort, black, doc8

remove outdated after confirmation mention
  features/add-project-through-cli.feature
Due: none

Improve command documentation clarity and completeness
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/environment.py
  dfetch/commands/format_patch.py
  dfetch/commands/import_.py
  dfetch/commands/init.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/commands/validate.py
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix styling
  doc/static/css/custom.css
  doc/static/js/diataxis.js
Due: doc8

Rename manual to command
  README.md
  doc/commands.rst
  doc/conf.py
  doc/index.rst
  doc/landing-page/index.rst
Due: isort, black, doc8

shorter titles
  doc/howto/patching.rst
  doc/howto/sbom.rst
  doc/howto/troubleshooting.rst
Due: doc8

Deduplicate docs
  dfetch/commands/add.py
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Restructure docs
  doc/_ext/scenario_directive.py
  doc/conf.py
  doc/explanation/alternatives.rst
  doc/explanation/internal.rst
  doc/explanation/vendoring.rst
  doc/howto/adding-a-project.rst
  doc/howto/check-ci.rst
  doc/howto/contributing.rst
  doc/howto/migration.rst
  doc/howto/patching.rst
  doc/howto/sbom.rst
  doc/howto/troubleshooting.rst
  doc/howto/updating-projects.rst
  doc/index.rst
  doc/reference/changelog.rst
  doc/reference/cli_cheatsheet.rst
  doc/reference/commands.rst
  doc/reference/legal.rst
  doc/reference/manifest.rst
  doc/tutorials/getting_started.rst
  doc/tutorials/installation.rst
Due: isort, black, doc8

Minor doc issues
  doc/explanation/internal.rst
  doc/howto/contributing.rst
  doc/howto/sbom.rst
  doc/howto/troubleshooting.rst
  doc/landing-page/index.rst
  doc/reference/manifest.rst
  doc/tutorials/getting_started.rst
Due: doc8

Fix changelog
  doc/reference/changelog.rst
Due: doc8

Add copybutton to examples
  doc/conf.py
  pyproject.toml
Due: isort, black, doc8

Cleanup sidebar
  doc/_templates/about.html
  doc/conf.py
  doc/static/css/custom.css
Due: isort, black, doc8

Extend glossary
  doc/explanation/internal.rst
  doc/index.rst
  doc/reference/glossary.rst
Due: doc8

Rename internal to architecture
  doc/explanation/architecture.rst
  doc/index.rst
Due: doc8

Add links to glossary
  doc/tutorials/getting_started.rst
Due: doc8

Fixup design guide and table
  doc/_ext/colordot.py
  doc/_ext/designguide.py
  doc/conf.py
  doc/howto/contributing.rst
  doc/static/css/custom.css
Due: isort, black, doc8

Remove horizontal rules
  doc/howto/migration.rst
Due: doc8

Don't mix usage of dependency and project
  doc/howto/check-ci.rst
  doc/howto/patching.rst
Due: doc8

Remove horizontal rules
  doc/explanation/vendoring.rst
  doc/howto/check-ci.rst
  doc/howto/patching.rst
  doc/howto/sbom.rst
  doc/index.rst
Due: doc8

Review comments
  doc/_ext/colordot.py
  doc/_ext/designguide.py
  doc/_templates/about.html
  doc/landing-page/index.rst
  doc/static/css/custom.css
Due: isort, black, doc8

Vendor font-awesome
  .pre-commit-config.yaml
  dfetch.yaml
  doc/conf.py
  doc/static/fonts/font-awesome/.dfetch_data.yaml
  doc/static/fonts/font-awesome/LICENSE.txt
  doc/static/fonts/font-awesome/css/all.css
  doc/static/fonts/font-awesome/css/all.min.css
  doc/static/fonts/font-awesome/css/brands.css
  doc/static/fonts/font-awesome/css/brands.min.css
  doc/static/fonts/font-awesome/css/fontawesome.css
  doc/static/fonts/font-awesome/css/fontawesome.min.css
  doc/static/fonts/font-awesome/css/regular.css
  doc/static/fonts/font-awesome/css/regular.min.css
  doc/static/fonts/font-awesome/css/solid.css
  doc/static/fonts/font-awesome/css/solid.min.css
  doc/static/fonts/font-awesome/css/v4-font-face.css
  doc/static/fonts/font-awesome/css/v4-font-face.min.css
  doc/static/fonts/font-awesome/css/v4-shims.css
  doc/static/fonts/font-awesome/css/v4-shims.min.css
  doc/static/fonts/font-awesome/css/v5-font-face.css
  doc/static/fonts/font-awesome/css/v5-font-face.min.css
  doc/static/fonts/font-awesome/webfonts/fa-brands-400.woff2
  doc/static/fonts/font-awesome/webfonts/fa-regular-400.woff2
  doc/static/fonts/font-awesome/webfonts/fa-solid-900.woff2
  doc/static/fonts/font-awesome/webfonts/fa-v4compatibility.woff2
Due: isort, black, doc8
