Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Fix references
  doc/explanation/vendoring.rst
  doc/reference/commands.rst
  doc/reference/glossary.rst
  doc/tutorials/getting_started.rst
Due: doc8

Review comments
  CHANGELOG.rst
  dfetch/commands/report.py
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  dfetch/reporting/stdout_reporter.py
  features/handle-invalid-metadata.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Handle non-mapping in metadata
  dfetch/project/metadata.py
  tests/test_metadata.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix unhelpful message when a metadata file (fixes #1145)
  CHANGELOG.rst
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  features/handle-invalid-metadata.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add patch
  .pre-commit-config.yaml
  dfetch.yaml
  doc/_ext/patches/003-only-handle-html-sphinxcontrib.asciinema.patch
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
Due: doc8

Update fonts
  doc/static/fonts/font-awesome/.dfetch_data.yaml
  doc/static/fonts/inter/.dfetch_data.yaml
Due: doc8

Prevent ssh command injection
  CHANGELOG.rst
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix arbitrary file write via malicious tar/zip symlink
  CHANGELOG.rst
  dfetch/vcs/archive.py
  tests/test_archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix path traversal
  CHANGELOG.rst
  script/create_release_notes.py
Due: isort, black

Review comments
  CHANGELOG.rst
  dfetch/util/ssh.py
  dfetch/vcs/archive.py
  dfetch/vcs/git.py
  tests/test_archive.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update C4 diagrams to match current codebase
  doc/static/uml/c3_dfetch_components_commands.puml
  doc/static/uml/c3_dfetch_components_manifest.puml
  doc/static/uml/c3_dfetch_components_project.puml
Due: doc8

fix: use rolling cache key for clcache on Windows to get cache hits
  .github/workflows/build.yml
Due: none

fix: split clcache into restore/save steps, drop deprecated save-always
  .github/workflows/build.yml
Due: none

ci: generate and publish Python SBOM (.cdx.json) alongside wheel/tar.gz
  .github/workflows/build.yml
  .github/workflows/python-publish.yml
Due: none

ci: consolidate Python SBOM generation into create_sbom.py --py
  .github/workflows/build.yml
  .github/workflows/python-publish.yml
  pyproject.toml
  script/create_sbom.py
Due: isort, black

ci: make PyPI publish step idempotent on re-runs
  .github/workflows/python-publish.yml
Due: none

ci: add pre-commit ecosystem to dependabot config
  .github/dependabot.yml
Due: none

Block outbound calls from ci runners to unallowed endpoints
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/devcontainer.yml
  .github/workflows/docs.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  .github/workflows/run.yml
  .github/workflows/scorecard.yml
  .github/workflows/test.yml
Due: none

Add sbom attestations
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  doc/tutorials/installation.rst
Due: doc8

Reduce scope of ci secrets
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/test.yml
Due: none

Extend endpoints
  .github/workflows/scorecard.yml
Due: none

Auto-format
  script/create_sbom.py
Due: isort, black
