Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Update casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/format-patch.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update-patch.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

Update planyuml-c4
  doc/static/uml/styles/plantuml-c4/.dfetch_data.yaml
  doc/static/uml/styles/plantuml-c4/C4.puml
  doc/static/uml/styles/plantuml-c4/C4_Component.puml
  doc/static/uml/styles/plantuml-c4/C4_Deployment.puml
  doc/static/uml/styles/plantuml-c4/C4_Sequence.puml
  doc/static/uml/styles/plantuml-c4/LICENSE
Due: doc8

Automate more release steps
  doc/contributing.rst
  doc/installation.rst
  script/release.py
Due: isort, black, doc8

Bump version to 0.12.0
  CHANGELOG.rst
  dfetch/__init__.py
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-patching.feature
  features/journey-basic-usage.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/patch-fuzzy-matching-git.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

automate version update in sbom feature file
  script/release.py
Due: isort, black

Make name in format-patch demo reproducible
  doc/generate-casts/format-patch-demo.sh
Due: doc8

Bump dev from 3.13 to 3.14
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .readthedocs.yml
  action.yml
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/sbom_reporter.py
  doc/contributing.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use latest sha256
  .devcontainer/Dockerfile
Due: none

Add changelog entry
  CHANGELOG.rst
Due: none

Use full path of contextlib
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update changelog
  CHANGELOG.rst
Due: none

Fix release script to make it copy paste
  script/release.py
Due: isort, black

Revert "Bump devcontainers/python in /.devcontainer"
  .devcontainer/Dockerfile
Due: none

Revert "Use full path of contextlib"
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Revert "Add changelog entry"
  CHANGELOG.rst
Due: none

Revert "Bump dev from 3.13 to 3.14"
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .readthedocs.yml
  action.yml
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/sbom_reporter.py
  doc/contributing.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Revert "Update changelog"
  CHANGELOG.rst
Due: none

Revert "Use latest sha256"
  .devcontainer/Dockerfile
Due: none

Binary windows dfetch-0.12.0 misses `rich._unicode_data.unicode17-0-0` Fixes #1014
  CHANGELOG.rst
  pyproject.toml
Due: none

Also run format and update-patch commands
  .github/workflows/build.yml
  .github/workflows/run.yml
Due: none

Fixup git steps in build.yml
  .github/workflows/build.yml
Due: none

Add patch to jsmn for testing full workflow
  .github/workflows/build.yml
Due: none

Update README.md path in build workflow
  .github/workflows/build.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
