Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Add patch to jsmn for testing full workflow
  .github/workflows/build.yml
Due: none

Also run format and update-patch commands
  .github/workflows/build.yml
  .github/workflows/run.yml
Due: none

Update README.md path in build workflow
  .github/workflows/build.yml
Due: none

Fixup git steps in build.yml
  .github/workflows/build.yml
Due: none

Binary windows dfetch-0.12.0 misses `rich._unicode_data.unicode17-0-0` Fixes #1014
  CHANGELOG.rst
  pyproject.toml
Due: none

dftech add command Fixes #25
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  doc/asciicasts/add.cast
  doc/generate-casts/add-demo.sh
  doc/generate-casts/generate-casts.sh
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

WIP
  features/add-project-through-cli.feature
Due: none

optimize loop
  dfetch/commands/common.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Rename child-manifests to sub-manifests
  CHANGELOG.rst
  dfetch/commands/check.py
  dfetch/commands/common.py
  dfetch/commands/update.py
  dfetch/manifest/parse.py
  doc/internal.rst
  features/updated-project-has-dependencies.feature
  tests/test_check.py
  tests/test_manifest.py
  tests/test_update.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add to example
  example/dfetch.yaml
Due: none

Fetching any submodule in a subproject with submodules Fixes #1013
  CHANGELOG.rst
  dfetch/log.py
  dfetch/project/gitsubproject.py
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove outdated tag
  .github/workflows/release.yml
Due: none

Add yocto and zephyr to docs
  doc/vendoring.rst
Due: doc8

Add example manifest to README
  README.md
Due: none

Fetching any submodule in a subproject with submodules Fixes #1013
  CHANGELOG.rst
  dfetch/log.py
  dfetch/project/gitsubproject.py
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
  features/list-projects.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
  tests/test_report.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove .git in submodules
  dfetch/project/gitsubproject.py
  features/fetch-git-repo-with-submodule.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add test for nested submodules
  features/environment.py
  features/fetch-git-repo-with-submodule.feature
  features/steps/git_steps.py
Due: isort, black

Only move up if it is directory
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix src: moving logic for multiple matching files/dirs
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Don't break when importing submodules with space in path
  CHANGELOG.rst
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Warn when src: glob pattern matches multiple directories
  CHANGELOG.rst
  dfetch/vcs/git.py
  features/fetch-file-pattern-git.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

WIP: respect ignore within submodules
  dfetch/util/util.py
  dfetch/vcs/git.py
  example/dfetch.yaml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump version in sbom scenario
  features/report-sbom.feature
Due: none

Modernize landing page with professional design overhaul
  doc/landing-page/conf.py
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: isort, black, doc8

Add new selling points, CSS animations, and page-wide color bands
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

Apply review feedback: URL fix, kebab keyframes, button animation scope
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

Add manifest-to-folder infographic
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

Fix secondary buttons invisible on white background
  doc/landing-page/static/css/custom.css
Due: doc8

Cleanup landing
  doc/landing-page/Makefile
  doc/landing-page/conf.py
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
  doc/landing-page/static/js/scroll-animate.js
Due: isort, black, doc8

improve styling
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

style how it works
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

style asciicasts
  doc/landing-page/static/css/custom.css
Due: doc8

Make docs visible
  doc/landing-page/static/css/custom.css
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
