Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Use proper cyclonedx 1.6 schema
  CHANGELOG.rst
  dfetch/reporting/sbom_reporter.py
  doc/howto/sbom.rst
  features/report-sbom-license.feature
  tests/test_sbom_reporter.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update images
  doc/images/dependency-track-license-detail.png
  doc/images/dependency-track-noassertion.png
  doc/images/dependency-track-properties.png
Due: doc8

Cleanup tests
  pyproject.toml
  stubs/py_serializable/__init__.pyi
  tests/conftest.py
  tests/test_license.py
  tests/test_sbom_reporter.py
Due: isort, black

Add claude config
  .claude/settings.json
  AGENTS.md
  CLAUDE.md
Due: none

Install all deps
  pyproject.toml
Due: none

Improve claude setup
  .claude/settings.json
  AGENTS.md
Due: none

Fixup tests
  tests/test_sbom_reporter.py
Due: isort, black

Update sbom.cast
  doc/asciicasts/sbom.cast
Due: doc8

Add ``dfetch:license:<spdx-id>:confidence``, ``dfetch:license:threshold``, and ``dfetch:license:tool`` SBOM properties (#1116)
  CHANGELOG.rst
  dfetch/commands/report.py
  dfetch/reporting/sbom_reporter.py
  dfetch/util/license.py
  doc/howto/sbom.rst
  features/report-sbom-license.feature
  features/report-sbom.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix test
  features/steps/generic_steps.py
  features/steps/json_steps.py
Due: isort, black

Update doc/howto/sbom.rst
  doc/howto/sbom.rst
Due: doc8

Embed base64-encoded license text in SBOM ``licenses[].text`` when a license is successfully identified (#1112)
  CHANGELOG.rst
  dfetch/reporting/sbom_reporter.py
  dfetch/util/license.py
  features/report-sbom-license.feature
  features/steps/archive_steps.py
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add noassertion reason to sbom
  dfetch/reporting/sbom_reporter.py
  doc/howto/sbom.rst
  features/report-sbom-license.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup tests
  tests/test_json_steps.py
  tests/test_sbom_reporter.py
Due: isort, black

Review comments
  features/steps/generic_steps.py
  features/steps/json_steps.py
Due: isort, black

Cleanup docs
  doc/howto/sbom.rst
Due: doc8

Solve Handle dual license Fixes #1112
  CHANGELOG.rst
  dfetch/commands/report.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/license.py
  doc/howto/sbom.rst
  features/report-sbom-license.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix doc issues
  CHANGELOG.rst
  doc/howto/sbom.rst
Due: doc8

Use ``.cdx.json`` as the default extension for CycloneDX SBOM reports
  CHANGELOG.rst
  dfetch/commands/report.py
  doc/asciicasts/sbom.cast
  doc/generate-casts/report-sbom-demo.sh
  features/report-sbom-archive.feature
  features/report-sbom-license.feature
  features/report-sbom.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/reporting/sbom_reporter.py
  features/report-sbom-license.feature
  features/report-sbom.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove duplication
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update dfetch/reporting/sbom_reporter.py
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve docs
  doc/howto/sbom.rst
  doc/images/dependency-track-license-detail.png
  doc/images/dependency-track-noassertion.png
  doc/images/dependency-track-properties.png
Due: doc8

Review comments
  dfetch/commands/report.py
  dfetch/reporting/sbom_reporter.py
  features/report-sbom-license.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Don't reject all .. symlinks i Fixes #1122
  CHANGELOG.rst
  dfetch/vcs/archive.py
  features/fetch-archive.feature
  features/steps/archive_steps.py
  tests/test_archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/util/cmdline.py
  dfetch/vcs/archive.py
  features/fetch-archive.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix #1096: print runtime errors in context of failing subproject
  CHANGELOG.rst
  dfetch/__init__.py
  dfetch/commands/check.py
  dfetch/commands/format_patch.py
  dfetch/commands/freeze.py
  dfetch/commands/update.py
  dfetch/util/util.py
  features/check-archive.feature
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-archive.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo-with-submodule.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-patching.feature
  features/journey-basic-usage.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/patch-fuzzy-matching-git.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix #1096: print runtime errors in context of failing subproject
  features/check-git-repo.feature
  features/check-svn-repo.feature
  features/patch-after-fetch-svn.feature
Due: none

Cleanup commands
  .claude/settings.json
Due: none
