Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Show the real replay-patches command in the demo, not the recording's pipe trick
  doc/asciicasts/replay-patches.cast
  doc/asciicasts/replay-patches.gif
  doc/generate-casts/replay-patches-demo.sh
Due: doc8

Normalize the trailing path in replay-patches.cast/gif
  doc/asciicasts/replay-patches.cast
  doc/asciicasts/replay-patches.gif
Due: doc8

Address remaining review comments: patch-path validation, CI clean-tree check
  .github/workflows/run.yml
  dfetch/commands/replay_patches.py
  tests/test_replay_patches.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Address CodeRabbit's latest review round
  dfetch/commands/replay_patches.py
  doc/generate-casts/interactive_helper.py
  doc/generate-casts/replay-patches-demo.sh
  doc/generate-casts/replay-patches-multi-demo.sh
  doc/howto/patching.rst
  features/replay-patches-in-git.feature
  features/steps/svn_steps.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix repo-wide ruff/pylint/pyright findings from pre-commit run --all-files
  doc/_ext/colordot.py
  doc/_ext/designguide.py
  doc/_ext/dfetch_style.py
  doc/_ext/scenario_directive.py
  doc/_ext/sphinxcontrib_asciinema/__init__.py
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
  doc/conf.py
  doc/generate-casts/interactive_helper.py
  doc/landing-page/conf.py
  doc/static/uml/generate_diagram.py
  features/steps/add_steps.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/json_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
  pyproject.toml
  script/build.py
  script/create_release_notes.py
  script/create_sbom.py
  script/dependabot_hook.py
  script/package.py
  script/release.py
  security/compliance.py
  security/compliance_data.py
  security/tm_elements.py
  security/tm_render.py
  security/tm_supply_chain.py
  security/tm_usage.py
  stubs/py_serializable/__init__.pyi
  tests/test_fuzzing.py
  tests/test_tree_browser.py
Due: isort, black, doc8

Add set -e to devcontainer CI runCmd so pre-commit failures fail the job
  .github/workflows/devcontainer.yml
Due: none

Run pyright hook serially to fix nodeenv install race in CI
  .pre-commit-config.yaml
Due: none

Fix the ruff/pyright pre-commit backlog that set -e now surfaces
  .pre-commit-config.yaml
  doc/_ext/colordot.py
  doc/_ext/designguide.py
  doc/_ext/dfetch_style.py
  doc/_ext/scenario_directive.py
  doc/conf.py
  doc/generate-casts/interactive_helper.py
  doc/landing-page/conf.py
  doc/static/uml/generate_diagram.py
  features/steps/add_steps.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/json_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
  pyproject.toml
  script/build.py
  script/create_release_notes.py
  script/create_sbom.py
  script/dependabot_hook.py
  script/package.py
  script/release.py
  security/compliance.py
  security/compliance_data.py
  security/compliance_part_ii_data.py
  security/tm_elements.py
  security/tm_render.py
  security/tm_supply_chain.py
  security/tm_usage.py
  stubs/py_serializable/__init__.pyi
  tests/test_fuzzing.py
  tests/test_tree_browser.py
Due: isort, black, doc8

Run the mypy hook serially to fix a mypy-cache race in CI
  .pre-commit-config.yaml
Due: none

Notes added by 'git notes append'
  44/172a77ca43cfec59ba481508749ae70f4dd41f
Due: none

Notes added by 'git notes append'
  fa/222df48e256b1d5ef17b4e134dcc6ddf638c46
Due: none

Notes added by 'git notes append'
  6a/051f68595d29c487758f51ba334ecdea4b22f1
Due: none

Notes added by 'git notes append'
  32/aa307795cf39c499d4e814bbfc47090f54aa7b
Due: none

Add replay-patches command
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/replay_patches.py
  dfetch/commands/update_patch.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/vcs/git.py
  features/replay-patches-in-git.feature
  features/replay-patches-in-svn.feature
  features/steps/git_steps.py
  features/steps/svn_steps.py
  security/__init__.py
  security/tm_usage.py
  tests/test_replay_patches.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add replay-patches documentation and demo recordings
  doc/asciicasts/replay-patches-multi.cast
  doc/asciicasts/replay-patches-multi.gif
  doc/asciicasts/replay-patches.cast
  doc/asciicasts/replay-patches.gif
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/interactive_helper.py
  doc/generate-casts/replay-patches-demo.sh
  doc/generate-casts/replay-patches-multi-demo.sh
  doc/howto/patching.rst
Due: isort, black, doc8

Wire replay-patches into the CI smoke-test run
  .gitattributes
  .github/workflows/run.yml
Due: none

Don't hide replay-patches restoration failures
  dfetch/commands/replay_patches.py
  doc/generate-casts/interactive_helper.py
  tests/test_replay_patches.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Wait longer for interactive_helper's graceful termination before SIGKILL
  doc/generate-casts/interactive_helper.py
Due: isort, black, doc8

Notes added by 'git notes append'
  4d/da1b730afefa894df8bfc86442ab9c86468e22
Due: none

Notes added by 'git notes append'
  cd/ebb8ba19f6afba46603029dc91e73807d756f3
Due: none

Prototype update-patch --patch to target an intermediate patch (#1335)
  CHANGELOG.rst
  dfetch/commands/update_patch.py
  features/steps/git_steps.py
  features/update-patch-intermediate-in-git.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix silent data loss and improve error handling in update-patch --patch
  dfetch/commands/update_patch.py
  features/update-patch-intermediate-conflict-in-git.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add asciicast/gif demo for update-patch --patch
  doc/asciicasts/update-patch-intermediate.cast
  doc/asciicasts/update-patch-intermediate.gif
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/strip-setup-from-cast.sh
  doc/generate-casts/update-patch-intermediate-demo.sh
Due: doc8

Notes added by 'git notes append'
  98/120a77ed9b1b3635eed8d282079281b25c4b9a
Due: none

Notes added by 'git notes append'
  19/e1541e64130bdd7d8b7cf218ef344c28c4e515
Due: none
