Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, flake8, mypy, doc8, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --strict

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit:
  name: bandit
  entry: bandit
  language: system

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Fix coverage settings
  pyproject.toml
Due: none

don't use setup.py when publishing package
  .github/workflows/python-publish.yml
Due: none

Replace config files with single pyproject.toml
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
Due: isort, black

Split in separate groups
  .github/workflows/test.yml
  .gitpod/Dockerfile
  .readthedocs.yml
  pyproject.toml
Due: none

Update Dockerfile
  .gitpod/Dockerfile
Due: none

Update changelog
  CHANGELOG.rst
Due: none

Fix codespell config
  pyproject.toml
Due: none

Fix pyproject
  pyproject.toml
Due: none

Remove typing extension dependency
  pyproject.toml
Due: none

Also build for python 3.11 in CI
  .github/workflows/run.yml
  CHANGELOG.rst
Due: none

Add 3.11 classifier to pyproject
  CHANGELOG.rst
  pyproject.toml
Due: none

UPdate landing
  doc/images/example-manifest.svg
  doc/landing.html
Due: doc8

BAsic landing page
  doc/images/example-manifest.png
  doc/landing.html
Due: doc8

Update demo-magic
  doc/generate-casts/demo-magic.patch
  doc/generate-casts/demo-magic/.dfetch_data.yaml
  doc/generate-casts/demo-magic/demo-magic.sh
  doc/generate-casts/demo-magic/license.txt
  pyproject.toml
Due: doc8

Install asciicast dependencies in gitpod
  .gitpod/Dockerfile
  pyproject.toml
Due: none

Update all casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

Fix codespell suppress
  pyproject.toml
Due: none

Don't patch demo-magic
  dfetch.yaml
Due: none

pin & install asciinema
  .gitpod/Dockerfile
  pyproject.toml
Due: none

Reupdate demo-magic
  doc/generate-casts/demo-magic/.dfetch_data.yaml
  doc/generate-casts/demo-magic/demo-magic.sh
Due: doc8

When importing non-std SVN external, identify `src` path
  CHANGELOG.rst
  dfetch/project/svn.py
  tests/test_svn.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Jump to generate cast dir when generating
  doc/generate-casts/generate-casts.sh
Due: doc8

let chatgpt generate a bash script
  doc/generate-casts/strip-setup-from-cast.sh
Due: doc8

Update
  doc/generate-casts/strip-setup-from-cast.sh
Due: doc8

Strip setup from casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
  doc/generate-casts/generate-casts.sh
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  flake8: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit: any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
