Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Notes added by 'git notes append'
  b1/e719936a27737fc805a8ae055a7c693411a717
Due: none

Notes added by 'git notes append'
  11/f68036f8ece89a024d0591a4f5ab70060b35fa
Due: none

Notes added by 'git notes append'
  94/d15392756e1ba3bcdf03fb2744b3459e87a946
Due: none

Notes added by 'git notes append'
  bd/a7e84606ba493ac1b4cf227e2552d103263e4b
Due: none

Fix interactive add cast generation still needing human input
  doc/generate-casts/interactive_add_helper.py
Due: isort, black, doc8

Rewrite interactive add cast helper to drive the real tree-browser UI
  doc/generate-casts/README.md
  doc/generate-casts/interactive_add_helper.py
  pyproject.toml
Due: isort, black, doc8

Notes added by 'git notes append'
  89/9c898edcc8fea265bb1ef796d78ee829e27d36
Due: none

Bump interactive add cast helper timings closer to the original pacing
  doc/generate-casts/interactive_add_helper.py
Due: isort, black, doc8

Add before/after gifs demonstrating the interactive add cast automation
  doc/generate-casts/pr-demo/after.gif
  doc/generate-casts/pr-demo/before.gif
Due: doc8

Generalize the interactive cast helper beyond add
  doc/generate-casts/README.md
  doc/generate-casts/interactive-add-demo.sh
  doc/generate-casts/interactive_add_helper.py
  doc/generate-casts/interactive_helper.py
Due: isort, black, doc8

Move add -i's scripted keystrokes out of the helper into its demo script
  doc/generate-casts/README.md
  doc/generate-casts/interactive-add-demo.sh
  doc/generate-casts/interactive_helper.py
Due: isort, black, doc8

Address CodeRabbit review findings on the cast automation
  doc/generate-casts/README.md
  doc/generate-casts/interactive-add-demo.sh
  doc/generate-casts/interactive_helper.py
Due: isort, black, doc8

Notes added by 'git notes append'
  a7/fb2657ee7a1117dc7fa19b65b70c47772222f7
Due: none

build(deps): bump cyclonedx-python-lib from 11.11.0 to 11.12.0
  features/report-sbom.feature
  pyproject.toml
Due: none

build(deps): bump cyclonedx-python-lib from 11.11.0 to 11.12.0
  features/report-sbom.feature
Due: none

Notes added by 'git notes append'
  65/b1b35f0623997a7381f2f10646d36156eea6f2
Due: none

test: reproduce gitlink-with-no-.gitmodules abort (#1380)
  features/fetch-git-repo-with-submodule.feature
  features/steps/git_steps.py
  tests/test_git_vcs.py
Due: isort, black

fix: address CodeRabbit findings on orphan-gitlink stripping
  dfetch/vcs/git_gitlinks.py
  tests/test_git_gitlinks.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: don't abort the fetch on a gitlink with no .gitmodules entry (#1380)
  CHANGELOG.rst
  dfetch/vcs/git.py
  dfetch/vcs/git_gitlinks.py
  features/import-from-git.feature
  features/steps/git_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor: consolidate git submodule handling into git_submodule.py
  dfetch/vcs/git.py
  dfetch/vcs/git_gitlinks.py
  dfetch/vcs/git_submodule.py
  dfetch/vcs/git_types.py
  tests/test_git_gitlinks.py
  tests/test_git_submodule.py
  tests/test_git_vcs.py
  tests/test_import.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: make orphan-gitlink stripping non-destructive to caller-owned repos
  dfetch/vcs/git.py
  dfetch/vcs/git_submodule.py
  features/import-from-git.feature
  features/steps/git_steps.py
  tests/test_git_submodule.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

test: cover orphan_gitlinks_dropped() restoring on failure, not just success
  tests/test_git_submodule.py
Due: isort, black

fix: never round-trip a conflicted gitlink through orphan-dropping
  dfetch/vcs/git_submodule.py
  tests/test_git_submodule.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Document git_submodule.py in AGENTS.md module listing
  AGENTS.md
Due: none

Restore already-removed orphan gitlinks if a later removal fails
  dfetch/vcs/git_submodule.py
  tests/test_git_submodule.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon
