Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

doc: fix three accuracy issues in glossary and flow diagram
  doc/reference/glossary.rst
  doc/static/uml/security_doc_flow.puml
Due: doc8

doc: add security documentation pipeline flow diagram (#1276)
  doc/explanation/security.rst
  doc/reference/glossary.rst
  doc/static/uml/security_doc_flow.puml
Due: doc8

Notes added by 'git notes append'
  91b13e32a367eeea5e9f1b2bd7c7711f5b831de2
Due: none

doc: fix diagram syntax error and move pipeline meta-docs to separate page
  doc/explanation/security.rst
  doc/explanation/security_pipeline.rst
  doc/static/uml/security_doc_flow.puml
Due: doc8

doc: fix diagram syntax error and move pipeline meta-docs to separate page (#1277)
  doc/explanation/security.rst
  doc/explanation/security_pipeline.rst
  doc/static/uml/security_doc_flow.puml
Due: doc8

Notes added by 'git notes append'
  b721b05f9f74530bcada239e9f1c616d21f71d8a
Due: none

fix: SHA-pin slsa_with_provenance action; explicit shell=False; fix C-009/C-024 doc errors
  .github/workflows/source-provenance.yml
  dfetch/util/cmdline.py
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  doc/explanation/security.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/compliance_data.py
  security/report_template.rst
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: restore nosec B603 on subprocess.run with explicit scope
  dfetch/util/cmdline.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: add RST section label for Risk Rating Methodology; fix stale C-009 in DFT-26
  doc/explanation/security.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/report_template.rst
  security/tm_usage.py
Due: isort, black, doc8

fix: SHA-pin slsa_with_provenance action; explicit shell=False; fix C-009/C-024 doc errors (#1278)
  .github/workflows/source-provenance.yml
  dfetch/util/cmdline.py
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  doc/explanation/security.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/compliance_data.py
  security/report_template.rst
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  a9d4a1c086cf5f36f910be1fd5756c383c8e4e18
Due: none

doc: restructure security.rst for clarity; remove dfetch check as security claim
  doc/explanation/security.rst
Due: doc8

doc: fix factual errors in security/CRA compliance documentation
  doc/explanation/compliance_track.rst
  doc/explanation/security.rst
  doc/explanation/security_pipeline.rst
Due: doc8

doc: add Annex V map; fix ECR-B, ECR-C, ECR-D assessment accuracy
  doc/explanation/compliance_track.rst
Due: doc8

doc: correct SO.UserUpdateNotification — dfetch does check for new versions
  doc/explanation/compliance_track.rst
Due: doc8

doc: fix six weak/wrong ECR→SO control mappings in compliance_track
  doc/explanation/compliance_track.rst
Due: doc8

Notes added by 'git notes append'
  22e1229b305b98b1866b4d2fa46095f39496af3d
Due: none

Notes added by 'git notes append'
  6c10cb255d458cd9941f15c8f892c41d54dd2dab
Due: none

Notes added by 'git notes append'
  a5b7fc676aacce39914df82db993631f2e95ca33
Due: none

doc: correct three compliance_track claims against actual code
  doc/explanation/compliance_track.rst
Due: doc8

doc: restructure security.rst for clarity; remove dfetch check as security claim (#1282)
  doc/explanation/compliance_track.rst
  doc/explanation/security.rst
  doc/explanation/security_pipeline.rst
Due: doc8

Notes added by 'git notes append'
  bcb8fac91ec6410f58b8ec9acb8554bb1a1718c8
Due: none

Upgrade OSCAL artifacts to 1.2.2 and enrich with security-as-code data
  CHANGELOG.rst
  doc/explanation/compliance_track.rst
  doc/explanation/security_pipeline.rst
  security/compliance.py
  security/compliance_data.py
  security/cra_pren_4000014_oscal_catalog.json
  security/dfetch.component-definition.json
Due: isort, black, doc8

Auto-generate compliance_track.rst and control_register.rst from Python data
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  security/compliance.py
  security/compliance_data.py
Due: isort, black, doc8

refactor: move control register to pytm-free tm_controls_data module
  security/compliance.py
  security/compliance_data.py
  security/tm_controls_data.py
  security/tm_elements.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black

fix: address review findings in compliance tooling and docs
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  doc/explanation/security_pipeline.rst
  security/compliance.py
  security/compliance_data.py
  security/dfetch.component-definition.json
Due: isort, black, doc8

Upgrade OSCAL artifacts to 1.2.2 and enrich with security-as-code data (#1284)
  CHANGELOG.rst
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  doc/explanation/security_pipeline.rst
  security/compliance.py
  security/compliance_data.py
  security/cra_pren_4000014_oscal_catalog.json
  security/dfetch.component-definition.json
  security/tm_controls_data.py
  security/tm_elements.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8

Notes added by 'git notes append'
  ea7d0bdc4c76786dafa8005ffb9d471cd9a54b24
Due: none

docs: remove duplicated compliance content from security model
  doc/explanation/security.rst
Due: doc8

docs: add winget as a distribution channel in the security model
  doc/explanation/security.rst
Due: doc8

docs: hyperlink each distribution channel in the security model
  doc/explanation/security.rst
Due: doc8

docs: add hyperlinks throughout security model text
  doc/explanation/security.rst
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
