Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Update create_venv script
  create_venv.py
Due: isort, black

Add tasks to docs
  doc/contributing.rst
Due: doc8

specify path to workspace
  .devcontainer/devcontainer.json
Due: none

Fixup file endings
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .gitignore
Due: none

Add tasks for the various win scripts
  dfetch.code-workspace
Due: none

Ignore warning about root user action
  .devcontainer/Dockerfile
Due: none

Make the defaultInterpreterPath windows specific
  dfetch.code-workspace
Due: none

Add behave test adapter
  .devcontainer/devcontainer.json
  dfetch.code-workspace
Due: none

Update the py version in contributing
  doc/contributing.rst
Due: doc8

Don't use workspace, but folder path
  .devcontainer/devcontainer.json
  .gitignore
Due: none

Fix feature tests in devcontainer
  features/steps/git_steps.py
Due: isort, black

Set bash as default shell
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Replace gitpod with codespaces
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .gitpod.yml
  .gitpod/Dockerfile
  README.md
  doc/contributing.rst
Due: doc8

Update casts to remove traces of gitpod
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

Update gitignore
  .gitignore
Due: none

Update pre-commit
  .pre-commit-config.yaml
Due: none

Re-enable remote-svn tests
  .github/workflows/test.yml
Due: none

Fix tests
  features/check-svn-repo.feature
  features/fetch-svn-repo.feature
  features/freeze-projects.feature
  features/list-projects.feature
  features/patch-after-fetch-svn.feature
  features/steps/generic_steps.py
Due: isort, black

Add behave-vsc which works
  .devcontainer/devcontainer.json
  dfetch.code-workspace
Due: none

Re-enable sphinx design after removal of sphinx < 6 dep
  pyproject.toml
Due: none

Add landing page task to workspace
  dfetch.code-workspace
Due: none

Add generated text at bottom of landing-page
  doc/landing-page/conf.py
  doc/landing-page/index.rst
Due: isort, black, doc8

Make it more clear dst can change filename
  features/fetch-single-file-svn.feature
Due: none

Bump version to 0.9.0
  CHANGELOG.rst
  dfetch/__init__.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update version in files
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-usage.feature
  features/keep-license-in-project.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: doc8

Extend release procedure
  doc/contributing.rst
Due: doc8

Update python-publish.yml
  .github/workflows/python-publish.yml
Due: none

Prep for new year
  README.md
Due: none

Bump version to v0.9.1
  .devcontainer/devcontainer.json
  CHANGELOG.rst
  dfetch/__init__.py
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-usage.feature
  features/keep-license-in-project.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update pypi
  .github/workflows/python-publish.yml
Due: none
