Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Add general information about vendoring
  README.md
  doc/index.rst
  doc/vendoring.rst
Due: doc8

Fix scenario name mismatch
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Describe uniqueness of names
  doc/manifest.rst
Due: doc8

Restrict ``src`` to string only in schema
  CHANGELOG.rst
  dfetch/resources/schema.yaml
  doc/manifest.rst
  example/dfetch.yaml
Due: doc8

Add best practices section
  README.md
  doc/vendoring.rst
Due: doc8

Add remote description
  doc/manifest.rst
Due: doc8

Add overview to top
  doc/conf.py
  doc/manual.rst
  pyproject.toml
Due: isort, black, doc8

Add cheatsheet
  doc/manual.rst
Due: doc8

Add favicon
  doc/conf.py
  doc/images/favicon.ico
  doc/landing-page/conf.py
Due: isort, black, doc8

Update vcs type detection
  dfetch/manifest/project.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  README.md
  dfetch/manifest/project.py
  doc/conf.py
  doc/manual.rst
  doc/vendoring.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix sphinx warnings
  doc/conf.py
Due: isort, black, doc8

Fix pylint issues in conf
  doc/conf.py
Due: isort, black, doc8

Add links to projects using dfetch
  doc/examples.rst
  doc/index.rst
Due: doc8

Suppress warnings
  doc/conf.py
Due: isort, black, doc8

Add main as possible default branch
  dfetch/manifest/project.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Descibre a little more about the patch
  doc/getting_started.rst
Due: doc8

Fix typo
  dfetch/reporting/sbom_reporter.py
  features/report-sbom.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add overview of all cli commands to the manual
  doc/manual.rst
Due: doc8

Add entire manifest schema to docs
  doc/conf.py
  doc/manifest.rst
  pyproject.toml
Due: isort, black, doc8

Hash directory also hashes untracked files Fixes #350
  CHANGELOG.rst
  dfetch/commands/check.py
  dfetch/commands/common.py
  dfetch/commands/update.py
  dfetch/project/svn.py
  dfetch/project/vcs.py
  dfetch/vcs/git.py
  tests/test_update.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Reproduce #350 Hash directory also hashes untracked files
  features/check-git-repo.feature
  features/check-svn-repo.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/guard-against-overwriting.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/svn_steps.py
Due: isort, black

Add more svn scenario's to the documentation
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/update.py
  dfetch/manifest/project.py
  doc/conf.py
  pyproject.toml
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make it possible to have silent commands
  dfetch/__main__.py
  dfetch/log.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update docs
  dfetch/commands/filter.py
  doc/asciicasts/filter.cast
  doc/generate-casts/filter-demo.sh
  doc/generate-casts/generate-casts.sh
  doc/manual.rst
  features/filter-projects.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Run dfetch filter during test
  .github/workflows/run.yml
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/filter.py
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon
