Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Update docs.yml
  .github/workflows/docs.yml
Due: none

Bump cyclonedx version in report
  features/report-sbom.feature
Due: none

Only auto-format python
  dfetch.code-workspace
Due: none

Bump cyclonedx version
  features/report-sbom.feature
Due: none

Add trailing newline
  dfetch.code-workspace
Due: none

Suppress pylint issue
  dfetch/manifest/manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix typo
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/check/jenkins_reporter.py
  dfetch/reporting/check/stdout_reporter.py
  dfetch/reporting/stdout_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Don't update typing for python_version <= '3.7.0'
  pyproject.toml
Due: none

Fix pylint
  dfetch/project/metadata.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add 3.12 support
  .github/workflows/run.yml
  CHANGELOG.rst
  pyproject.toml
Due: none

Explicitly install setuptools for infer-license
  pyproject.toml
Due: none

Use LicenseExpression instead of LicenseChoice(expression=
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump version in feature test
  features/report-sbom.feature
Due: none

Make cyclonedx version python version dependent
  pyproject.toml
Due: none

Use solution for unused-ignore
  dfetch/manifest/manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

User more explicit regexp
  features/steps/generic_steps.py
Due: isort, black

Fix condition of codacy-coverage-reporter
  .github/workflows/test.yml
Due: none

Install all deps in gitpod
  .gitpod.yml
Due: none

Github config is deprecated in gitpod.yml
  .gitpod.yml
Due: none

Use py 3.11 for development
  .gitpod/Dockerfile
Due: none

Remove unused cast
  doc/asciicasts/list.cast
Due: doc8

Delete casts before regenerating them
  doc/generate-casts/generate-casts.sh
Due: doc8
