Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Notes added by 'git notes append'
  f7/0b9efc01d388588b0205876c4a3eb3f2e91223
Due: none

Update CHANGELOG.rst
  CHANGELOG.rst
Due: none

Update dfetch environment to show newer version inline
  CHANGELOG.rst
  dfetch/commands/environment.py
  features/environment.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  be/77746e579d0e980da24c42c3d9947491be3c98
Due: none

Notes added by 'git notes append'
  6c/64ccc254c9de2d82677f6af85b6e206e811816
Due: none

Notes added by 'git notes append'
  fb/6ac2adf51edc77900aa28aec8356bc7a3f6706
Due: none

docs: tighten WINGET_TOKEN scope to dfetch-org/winget-pkgs only
  .github/workflows/winget-publish.yml
  doc/explanation/threat_model_supply_chain.rst
  security/tm_supply_chain.py
Due: isort, black, doc8

Fixup changelog
  CHANGELOG.rst
Due: none

Notes added by 'git notes append'
  1a/a6044bd07ede316946c912b79e1f0cba910750
Due: none

Report externals in svn subprojects
  tests/test_svn.py
Due: isort, black

Fix tests
  tests/test_svn.py
Due: isort, black

Add review-patch to CI run, demo script, and docs
  .github/workflows/run.yml
  doc/asciicasts/review-patch.cast
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/review-patch-demo.sh
  doc/howto/patching.rst
Due: doc8

review comments
  dfetch/commands/review_patch.py
  dfetch/project/subproject.py
  features/steps/git_steps.py
  plan.md
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Replace metadata patch assertion with git status no-changes check
  features/review-patch-in-git.feature
  features/review-patch-in-svn.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
Due: isort, black

Fix pyright errors in test_review_patch.py
  tests/test_review_patch.py
Due: isort, black

Address review comments: count validation, pathspec hardening, VCS diff cmd
  dfetch/commands/review_patch.py
  dfetch/vcs/git.py
  features/review-patch-in-svn.feature
  security/tm_usage.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Eliminate fetches after the first in review-patch
  dfetch/commands/review_patch.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/vcs/git.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Clear TUI screen on patch failure before propagating the error
  dfetch/commands/review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Restore dfetch_data.yaml metadata after review-patch exits
  dfetch/commands/review_patch.py
  features/review-patch-in-git.feature
  features/review-patch-in-svn.feature
  features/steps/generic_steps.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix pylint R0801, isort order, and code-review findings in review-patch
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/review_patch.py
  dfetch/commands/update_patch.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix restore after patch failure by using git restore --source=HEAD
  dfetch/commands/review_patch.py
  dfetch/project/gitsuperproject.py
  dfetch/vcs/git.py
  features/review-patch-in-git.feature
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve docs
  doc/howto/patching.rst
Due: doc8

Fix bandit B101 by using GitSuperProject | None type narrowing
  dfetch/commands/review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update review-patch feature files to match reduced-fetch behaviour
  features/review-patch-in-git.feature
  features/review-patch-in-svn.feature
Due: none

Refactor review-patch to reduce cyclomatic complexity below 8
  dfetch/commands/review_patch.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Skip redundant restore fetch when all patches already applied
  dfetch/commands/review_patch.py
  doc/asciicasts/review-patch.cast
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Rename to replay-patches
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/replay_patches.py
  doc/asciicasts/replay-patches.cast
  doc/asciicasts/replay-patches.gif
  doc/howto/patching.rst
  features/replay-patches-in-git.feature
  features/replay-patches-in-svn.feature
  plan.md
  security/tm_usage.py
  tests/test_replay_patches.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update review-patch asciicast and add rendered GIF
  doc/asciicasts/review-patch.cast
  doc/asciicasts/review-patch.gif
Due: doc8

Add combined mode
  CHANGELOG.rst
  dfetch/commands/replay_patches.py
  doc/howto/patching.rst
  features/replay-patches-in-git.feature
  tests/test_replay_patches.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
