Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Fix doc build outputs: replace epub with pdf, silence asciinema for non-HTML
  .readthedocs.yml
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
Due: isort, black, doc8

Style PDF to match design system and add logo to front page
  doc/conf.py
Due: isort, black, doc8

Fix \py@release in custom maketitle by adding \makeatletter guard
  doc/conf.py
Due: isort, black, doc8

Fix PDF build: define Unicode check/cross marks for pdflatex
  doc/conf.py
Due: isort, black, doc8

Fix PDF build: use raw::html for SVG badge instead of only::html
  doc/howto/contributing.rst
Due: doc8

Fix PDF build: render plantweb diagrams as PNG for non-HTML builders
  doc/conf.py
Due: isort, black, doc8

Add PDF documentation to GitHub artifact and release
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

Fix PDF build: hide SVG badge from LaTeX output
  doc/howto/contributing.rst
Due: doc8

Fix devcontainer: remove version pins from texlive packages
  .devcontainer/Dockerfile
Due: none

Fix title page to single page, add version to filename and front page
  .github/workflows/docs.yml
  doc/conf.py
Due: isort, black, doc8

Fix PDF build: use .plantwebrc to force plantweb PNG format
  .plantwebrc
  doc/conf.py
Due: isort, black, doc8

Add PDF support to devcontainer, clean up doc deps, add VS Code task
  .devcontainer/Dockerfile
  .github/workflows/docs.yml
  dfetch.code-workspace
Due: none

Fixes #1063: Use github purl, repo and version for a github release archive in SBOM
  CHANGELOG.rst
  dfetch/reporting/sbom_reporter.py
  dfetch/vcs/archive.py
  features/report-sbom-archive.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update dfetch/vcs/archive.py
  dfetch/vcs/archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use dymaic version for docs
  doc/conf.py
Due: isort, black, doc8

Add $ before terminal commands
  doc/howto/adding-a-project.rst
  doc/howto/sbom.rst
  doc/howto/troubleshooting.rst
  doc/howto/updating-projects.rst
  doc/tutorials/getting_started.rst
  doc/tutorials/installation.rst
Due: doc8

Make doc more accurate about license
  doc/howto/sbom.rst
Due: doc8

Add winget to docs
  doc/tutorials/installation.rst
Due: doc8

Add reference to architecture docs
  pyproject.toml
Due: none

Ensure git history is present for docs
  .github/workflows/docs.yml
Due: none

Make winget command more precise
  doc/tutorials/installation.rst
Due: doc8

Cleanup console examples in docs
  dfetch/commands/diff.py
  dfetch/commands/format_patch.py
  dfetch/commands/update_patch.py
  dfetch/manifest/project.py
  doc/howto/adding-a-project.rst
  doc/howto/check-ci.rst
  doc/howto/patching.rst
  doc/howto/sbom.rst
  doc/howto/updating-projects.rst
  doc/tutorials/getting_started.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fixup docs
  doc/howto/migration.rst
  doc/howto/updating-projects.rst
  doc/tutorials/getting_started.rst
Due: doc8

fix issues
  dfetch/manifest/manifest.py
  dfetch/util/yaml.py
  tests/test_manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move YAML utilities to dfetch.util.yaml; preserve comments on freeze
  dfetch/manifest/manifest.py
  dfetch/util/yaml.py
  features/freeze-inplace.feature
  tests/test_manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix three in-place manifest editing bugs
  dfetch/manifest/manifest.py
  dfetch/util/yaml.py
  tests/test_manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Implement selective and in-place freeze (#1063)
  CHANGELOG.rst
  dfetch/commands/freeze.py
  dfetch/manifest/manifest.py
  features/freeze-inplace.feature
  features/freeze-specific-projects.feature
  features/steps/manifest_steps.py
  tests/test_manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Generalize manifest field manipulation to generic primitives
  dfetch/manifest/manifest.py
  tests/test_manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Extract shared _locate_project_name_line helper
  dfetch/manifest/manifest.py
  tests/test_manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon
