Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Fix _is_ssh_shorthand matching path-prefixed bases like git@host:org
  dfetch/manifest/project.py
  tests/test_project_entry.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  a6e3c1c41c7e99ffa9ba1fcf9ca62e52240d7641
Due: none

Mark DFT-13 mitigated and document C-035
  CHANGELOG.rst
  doc/explanation/threat_model_usage.rst
  security/tm_usage.py
Due: isort, black, doc8

Redact embedded credentials before persisting remote_url
  dfetch/project/metadata.py
  tests/test_metadata.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Preserve IPv6 brackets when stripping userinfo from remote_url
  dfetch/project/metadata.py
  tests/test_metadata.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Rename credential-redaction control C-035 -> C-036
  doc/explanation/threat_model_usage.rst
  security/tm_usage.py
Due: isort, black, doc8

Notes added by 'git notes append'
  51475359e2a72b234d5417ae556558416b664b00
Due: none

Notes added by 'git notes append'
  bacb756772f357db442034a50193fc872db23a5c
Due: none

Apply pre-commit formatting and complete Options TypedDict in tests
  doc/explanation/threat_model_usage.rst
  security/tm_usage.py
  tests/test_metadata.py
Due: isort, black, doc8

ci: add workflow to auto-update SBOM feature file on CycloneDX dependabot bumps
  .github/workflows/dependabot-cyclonedx-hook.yml
Due: none

Notes added by 'git notes append'
  5068a8652af0359ecf0a382415f711a5b3d8b639
Due: none

Notes added by 'git notes append'
  d9fcd246d7f3938a81e055a1b17d68014bb975bc
Due: none

Notes added by 'git notes append'
  a7ae5b2ff06b53e9d4b1b99f733e71bb9b66d9bd
Due: none

Notes added by 'git notes append'
  4293a91a234e31cad04da27188170a8ae522bce1
Due: none

Notes added by 'git notes append'
  d6006ecff946fab241518f7421b22fbe562acaa0
Due: none

fix: exclude submodules outside src folder when src is specified
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor: fix xenon and mypy issues found by pre-commit
  dfetch/log.py
  dfetch/util/license.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor: deduplicate safe_rm calls for outside-src submodule dirs
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: restore LogRender inheritance to fix CI mypy assignment error
  dfetch/log.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: address review comments on submodule filtering and log handler
  dfetch/log.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove unnecessary pylint suppression from _NoExpandRichHandler; fix submodule ancestor check; add unit tests
  dfetch/log.py
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  e2c09921be5f4468eb8c737dea5c7dd1e4bcebf2
Due: none

Fix submodule filter to remove exact paths instead of top-level dirs; handle empty parents and .git collision
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix(pdf): break long tables across pages automatically
  doc/conf.py
  doc/dfetch_preamble.inc
Due: isort, black, doc8

Remove inline type: ignore[misc] from _NoExpandRichHandler
  dfetch/log.py
  pyproject.toml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  ddfc9b64fed8cd5315953daf77eada63f25168dc
Due: none

Bump sbom version
  features/report-sbom.feature
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
