Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Bump pip to 25.0
  .devcontainer/Dockerfile
Due: none

Add pyright
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix pyright issues
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/project/metadata.py
  dfetch/project/vcs.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/sbom_reporter.py
  doc/_ext/scenario_directive.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
  tests/test_import.py
  tests/test_manifest.py
  tests/test_svn.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

WIP
  dfetch/manifest/manifest.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/sbom_reporter.py
  typings/halo.pyi
  typings/patch_ng.pyi
  typings/sarif_om.pyi
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Git: Auto-select HEAD branch as default branch Fixes #689
  CHANGELOG.rst
  dfetch/project/git.py
  dfetch/project/svn.py
  dfetch/project/vcs.py
  dfetch/vcs/git.py
  features/list-projects.feature
  tests/test_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

New alternatives Fixes #688
  doc/alternatives.rst
Due: doc8

Start with release script
  doc/contributing.rst
  script/release.py
Due: isort, black, doc8

Bump version to v0.10.0
  CHANGELOG.rst
  dfetch/__init__.py
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-usage.feature
  features/keep-license-in-project.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Suppress animation in CI contexts Fixes #702
  .github/workflows/run.yml
  CHANGELOG.rst
  dfetch/project/vcs.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Create & release standalone binaries Fixes #701
  .github/workflows/binaries.yml
Due: none

Fix pyright issues
  create_venv.py
  dfetch/commands/check.py
  dfetch/commands/command.py
  dfetch/commands/diff.py
  dfetch/commands/environment.py
  dfetch/commands/freeze.py
  dfetch/commands/import_.py
  dfetch/commands/init.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/commands/validate.py
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/project/git.py
  dfetch/project/metadata.py
  dfetch/project/svn.py
  dfetch/project/vcs.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  doc/_ext/scenario_directive.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
  pyproject.toml
  tests/test_import.py
  tests/test_manifest.py
  tests/test_svn.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove new-line sequences
  dfetch/reporting/check/sarif_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix pyright issues
  create_venv.py
  dfetch/commands/check.py
  dfetch/commands/command.py
  dfetch/commands/diff.py
  dfetch/commands/environment.py
  dfetch/commands/freeze.py
  dfetch/commands/import_.py
  dfetch/commands/init.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/commands/validate.py
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/manifest/validate.py
  dfetch/project/git.py
  dfetch/project/metadata.py
  dfetch/project/svn.py
  dfetch/project/vcs.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  doc/_ext/scenario_directive.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
  pyproject.toml
  tests/test_import.py
  tests/test_manifest.py
  tests/test_svn.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

add bzl
  bin/pyoxidizer.bzl
Due: none

add .bzl
  pyoxidizer.bzl
Due: none

Revert "add .bzl"
  pyoxidizer.bzl
Due: none

Store data per fetched file
  dfetch/project/metadata.py
  dfetch/project/vcs.py
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Check for local changes on per-file basis
  dfetch/project/metadata.py
  dfetch/project/vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add list of files as last entry in metadata (important info first)
  dfetch/project/metadata.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Only remove fetched files
  dfetch/project/vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump version in feature test
  features/report-sbom.feature
Due: none

Make cyclonedx version python version dependent
  pyproject.toml
Due: none

Use LicenseExpression instead of LicenseChoice(expression=
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update Dockerfile
  .devcontainer/Dockerfile
Due: none

Create devcontainer.yml
  .github/workflows/devcontainer.yml
Due: none

Remove feature tests in devcontainer test
  .github/workflows/devcontainer.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
