Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Reduce complexity
  dfetch/util/purl.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Simplify code
  dfetch/util/purl.py
  tests/test_purl.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix buildin python <=3.8
  pyproject.toml
Due: none

Create scorecard.yml
  .github/workflows/scorecard.yml
Due: none

[StepSecurity] Apply security best practices
  .devcontainer/Dockerfile
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/devcontainer.yml
  .github/workflows/docs.yml
  .github/workflows/landing-page.yml
  .github/workflows/python-publish.yml
  .github/workflows/run.yml
  .github/workflows/scorecard.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Use read permissions by default in actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/devcontainer.yml
  .github/workflows/docs.yml
  .github/workflows/landing-page.yml
  .github/workflows/python-publish.yml
  .github/workflows/run.yml
  .github/workflows/test.yml
Due: none

Basic security policy
  SECURITY.md
  doc/troubleshooting.rst
Due: doc8

Don't be too picky on exact svn error + text
  features/steps/generic_steps.py
Due: isort, black

Add correct permissions for uploading sarif
  .github/workflows/run.yml
Due: none

Fix pyright issue
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Add serve docs task to show documentation
  dfetch.code-workspace
  doc/contributing.rst
Due: doc8

Drop python 3.7 & 3.8 support
  .github/workflows/run.yml
  CHANGELOG.rst
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/resources/__init__.py
  pyproject.toml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Test publish
  .github/workflows/python-publish.yml
Due: none

Update changelog
  CHANGELOG.rst
Due: none

Use unique versions for testpypi
  .github/workflows/python-publish.yml
  pyproject.toml
Due: none

Make test install more clear
  .github/workflows/python-publish.yml
Due: none

Only install build
  .github/workflows/python-publish.yml
Due: none

Give all history to use setuptools scm properly
  .github/workflows/python-publish.yml
Due: none

Make pypi available for the deps
  .github/workflows/python-publish.yml
Due: none

Remove unused items
  .github/workflows/python-publish.yml
Due: none

Use new license format
  pyproject.toml
Due: none

Install the dev version
  .github/workflows/python-publish.yml
Due: none

Use no local version, pypi does not allow
  pyproject.toml
Due: none

Use setuptools-scm for package version
  pyproject.toml
Due: none
