Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Merge examples into vendoring article
  doc/examples.rst
  doc/index.rst
  doc/vendoring.rst
Due: doc8

Make underline long enough
  doc/troubleshooting.rst
Due: doc8

Review comments
  doc/alternatives.rst
  pyproject.toml
Due: doc8

Remove comments
  doc/alternatives.rst
  doc/contributing.rst
  doc/getting_started.rst
  doc/index.rst
  doc/installation.rst
  doc/legal.rst
  doc/manifest.rst
  doc/manual.rst
  doc/troubleshooting.rst
  doc/vendoring.rst
Due: doc8

Link issues in documentation auotmatically
  CHANGELOG.rst
  doc/conf.py
  pyproject.toml
Due: isort, black, doc8

Explain <version> placeholder
  doc/installation.rst
Due: doc8

Refer directly to our own vendoring article
  README.md
Due: none

fix link
  doc/troubleshooting.rst
Due: doc8

Sync index.rst with README
  doc/index.rst
Due: doc8

Rename vendoring
  doc/vendoring.rst
Due: doc8

Make troubleshooting more clear
  doc/troubleshooting.rst
Due: doc8

Try to reproduce #570
  features/check-git-repo.feature
Due: none

Avoid waiting for user input in git & svn commands
  CHANGELOG.rst
  dfetch/project/svn.py
  dfetch/util/cmdline.py
  dfetch/vcs/git.py
  features/check-git-repo.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Extend git ssh command to run in BatchMode
  CHANGELOG.rst
  dfetch/vcs/git.py
  features/check-git-repo.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make windows credentials manager non-interactive
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Show some debug output
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make feature tests less specific
  features/check-git-repo.feature
  features/steps/generic_steps.py
Due: isort, black

Fix mixup stdout/stderr
  dfetch/project/svn.py
  dfetch/util/cmdline.py
  dfetch/vcs/git.py
  features/steps/generic_steps.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add note about caching
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove non-interactive from local command
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add unit test for ssh BatchMode logic
  tests/test_git_vcs.py
Due: isort, black

Move check_output to other utils + add docstring
  features/steps/generic_steps.py
Due: isort, black

Fix typo's in unittest
  tests/test_git_vcs.py
Due: isort, black

Move imports to top
  tests/test_git_vcs.py
Due: isort, black

Non-native line breaks in `dfetch init` and `dfetch freeze` manifests Fixes #327
  CHANGELOG.rst
  dfetch/manifest/manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Combine doc actions in single yml
  .github/workflows/docs.yml
  .github/workflows/landing-page.yml
Due: none
