Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Don't warn about unused ignores
  pyproject.toml
Due: none

Remove --strict flag from test.yml
  .github/workflows/test.yml
Due: none

Pin typing-extensions for python 3.8
  pyproject.toml
Due: none

Cleanup implementation
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Fixes Create reusable Github action #361
  .github/actions/dfetch-action.yml
Due: none

Use the action
  .github/actions/dfetch-action.yml
  .github/workflows/run.yml
Due: none

Make sure the repo is checked out
  .github/actions/dfetch-action.yml
Due: none

Move to action.yml
  .github/actions/dfetch-action/action.yml
Due: none

Also run sarif check in other platforms
  .github/workflows/run.yml
Due: none

Fix path
  .github/workflows/run.yml
Due: none

Move action to root and document it in README
  .github/actions/dfetch-action/action.yml
  .github/workflows/run.yml
  README.md
  action.yml
  doc/dfetch-action.md
Due: doc8

Use correct path
  .github/workflows/run.yml
Due: none

add .bzl
  pyoxidizer.bzl
Due: none

Revert "add .bzl"
  pyoxidizer.bzl
Due: none

Create & release standalone binaries Fixes #701
  .github/workflows/binaries.yml
Due: none

add bzl
  bin/pyoxidizer.bzl
Due: none

Add a dfetch remove command Fixes #26
  dfetch/__main__.py
  dfetch/commands/remove.py
  dfetch/manifest/manifest.py
  features/remove-project.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use colon in step implementation
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
Due: isort, black

Use immutable capture object
  features/steps/generic_steps.py
Due: isort, black

Add new pyright suppressions
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
Due: isort, black

Rephrase to help autocomplete problems
  features/keep-license-in-project.feature
Due: none

Fix end of line
  .github/workflows/run.yml
Due: none

Add new pylint suppression
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
Due: isort, black
