Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Install prefix leads to /opt/dfetch/opt/dfetch
  .github/workflows/build.yml
  script/package.py
Due: isort, black

Bump pip
  .devcontainer/Dockerfile
Due: none

Create installer packages
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  README.md
  dfetch/resources/__init__.py
  pyproject.toml
  script/package.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Run dfetch filter during test
  .github/workflows/run.yml
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/filter.py
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add basic filter command as suggested in
  .pre-commit-config.yaml
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/filter.py
  dfetch/util/cmdline.py
  dfetch/util/util.py
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

wip feature
  .pre-commit-config.yaml
  dfetch/commands/filter.py
  features/filter-projects.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make it possible to have silent commands
  dfetch/__main__.py
  dfetch/log.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update docs
  dfetch/commands/filter.py
  doc/asciicasts/filter.cast
  doc/generate-casts/filter-demo.sh
  doc/generate-casts/generate-casts.sh
  doc/manual.rst
  features/filter-projects.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Check that ignored files are ignored
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/svn_steps.py
Due: isort, black

New files not part of dfetch diff generated patch Reproduce #886
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
Due: isort, black

Unify patch generated step
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/steps/generic_steps.py
Due: isort, black

Keep metadata out of patch & remove svn patch prefix
  CHANGELOG.rst
  dfetch/commands/diff.py
  dfetch/project/git.py
  dfetch/project/svn.py
  dfetch/project/vcs.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  dfetch/vcs/patch.py
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/steps/generic_steps.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

New files not part of dfetch diff generated patch Fixes #886
  dfetch/project/git.py
  dfetch/project/svn.py
  dfetch/vcs/git.py
  dfetch/vcs/patch.py
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/steps/svn_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix import svn scenario
  features/import-from-svn.feature
Due: none

New files not part of dfetch diff generated patch Fixes #886
  dfetch/commands/diff.py
  dfetch/project/git.py
  dfetch/project/svn.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  dfetch/vcs/patch.py
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/steps/git_steps.py
  features/steps/svn_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add basic patching documentation
  doc/getting_started.rst
  features/journey-basic-patching.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
Due: isort, black, doc8

Update changelog
  CHANGELOG.rst
Due: none

Minor review fixups
  dfetch/project/svn.py
  dfetch/vcs/git.py
  features/journey-basic-patching.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add entire manifest schema to docs
  doc/conf.py
  doc/manifest.rst
  pyproject.toml
Due: isort, black, doc8

Add main as possible default branch
  dfetch/manifest/project.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix pylint issues in conf
  doc/conf.py
Due: isort, black, doc8

Add overview of all cli commands to the manual
  doc/manual.rst
Due: doc8

Fix sphinx warnings
  doc/conf.py
Due: isort, black, doc8

Suppress warnings
  doc/conf.py
Due: isort, black, doc8

Fix typo
  dfetch/reporting/sbom_reporter.py
  features/report-sbom.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Descibre a little more about the patch
  doc/getting_started.rst
Due: doc8

Add links to projects using dfetch
  doc/examples.rst
  doc/index.rst
Due: doc8
