Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Make scenario_directive fully generic, remove project-specific knowledge
  doc/_ext/scenario_directive.py
  doc/appendix/scenarios.rst
  doc/conf.py
Due: isort, black, doc8

Ensure clickable pdf links
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Add latex tab styling
  doc/_ext/latex_tabs.py
  doc/conf.py
Due: isort, black, doc8

Review comments
  doc/_ext/scenario_directive.py
  features/fetch-git-repo-with-submodule.feature
  features/guard-against-overwriting-svn.feature
Due: isort, black, doc8

Add PDF appendix support to scenario-include directive
  doc/_ext/scenario_directive.py
  doc/appendix/scenarios.rst
  doc/index.rst
Due: isort, black, doc8

Add ref
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Make more user facing
  AGENTS.md
  doc/_ext/scenario_directive.py
  doc/appendix/scenarios.rst
  doc/howto/contributing.rst
Due: isort, black, doc8

Fix unhelpful message when a metadata file (fixes #1145)
  CHANGELOG.rst
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  features/handle-invalid-metadata.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup pdf design
  doc/conf.py
  doc/static/css/custom.css
Due: isort, black, doc8

move preamble to separate file
  doc/conf.py
  doc/dfetch_preamble.inc
Due: isort, black, doc8

cleanup pt2
  dfetch.yaml
  doc/conf.py
  doc/dfetch_preamble.inc
  doc/static/css/custom.css
  doc/static/fonts/jetbrains-mono/.dfetch_data.yaml
  doc/static/fonts/jetbrains-mono/ttf/JetBrainsMono-Medium.ttf
  doc/static/fonts/jetbrains-mono/ttf/JetBrainsMono-Regular.ttf
  doc/static/fonts/jetbrains-mono/variable/JetBrainsMono[wght].ttf
  doc/static/fonts/jetbrains-mono/webfonts/JetBrainsMono-Medium.woff2
  doc/static/fonts/jetbrains-mono/webfonts/JetBrainsMono-Regular.woff2
Due: isort, black, doc8

Update doc/dfetch_preamble.inc
  doc/dfetch_preamble.inc
Due: doc8

Don't change website
  doc/static/css/custom.css
Due: doc8

Review comment: The issue is confirmed on line 128 backticks around #2.
  doc/dfetch_preamble.inc
Due: doc8

Update pdf pt3
  doc/_ext/dfetch_style.py
  doc/conf.py
  doc/dfetch_preamble.inc
Due: isort, black, doc8

Review comments
  doc/_ext/dfetch_style.py
  doc/conf.py
  doc/dfetch_preamble.inc
Due: isort, black, doc8

Add cheatsheet to pdf
  doc/dfetch_preamble.inc
  doc/reference/cli_cheatsheet.rst
Due: doc8

Review comments
  doc/conf.py
  doc/dfetch_preamble.inc
  doc/howto/patching.rst
Due: isort, black, doc8

Add diataxis sections to pdf
  doc/dfetch_preamble.inc
  doc/index.rst
Due: doc8

Fix references
  doc/explanation/vendoring.rst
  doc/reference/commands.rst
  doc/reference/glossary.rst
  doc/tutorials/getting_started.rst
Due: doc8

Fix font error
  doc/conf.py
Due: isort, black, doc8

Fix cmap warning
  doc/conf.py
Due: isort, black, doc8
