Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Remove horizontal rules
  doc/explanation/vendoring.rst
  doc/howto/check-ci.rst
  doc/howto/patching.rst
  doc/howto/sbom.rst
  doc/index.rst
Due: doc8

Extend glossary
  doc/explanation/internal.rst
  doc/index.rst
  doc/reference/glossary.rst
Due: doc8

Fix changelog
  doc/reference/changelog.rst
Due: doc8

Fixup design guide and table
  doc/_ext/colordot.py
  doc/_ext/designguide.py
  doc/conf.py
  doc/howto/contributing.rst
  doc/static/css/custom.css
Due: isort, black, doc8

Update README.md
  README.md
Due: none

Security fixes: ZIP symlink traversal, absolute dst paths, SVN rev injection
  dfetch/manifest/manifest.py
  dfetch/project/svnsubproject.py
  dfetch/vcs/archive.py
  dfetch/vcs/svn.py
  tests/test_archive.py
  tests/test_manifest.py
  tests/test_svn_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Security: harden validate_destination, bound ZIP symlink read, tighten SVN test
  dfetch/manifest/manifest.py
  dfetch/vcs/archive.py
  tests/test_manifest.py
  tests/test_svn_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Security: harden root-relative Windows paths, fail-closed ZIP symlink, exact SVN argv
  dfetch/manifest/manifest.py
  dfetch/vcs/archive.py
  tests/test_manifest.py
  tests/test_svn_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Security: fix Windows backslash traversal in symlink checks, rename constant
  dfetch/vcs/archive.py
  tests/test_archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Minor formatting changes
  dfetch/vcs/archive.py
  tests/test_manifest.py
  tests/test_svn_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Reject rooted Windows targets, not just is_absolute() ones.
  dfetch/vcs/archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Harden tests
  tests/test_svn_vcs.py
Due: isort, black

Fix release script
  script/release.py
Due: isort, black

Fix doc build outputs: replace epub with pdf, silence asciinema for non-HTML
  .readthedocs.yml
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
Due: isort, black, doc8

Reduce cyclomatic complexity below 9 in diff and update-patch commands
  dfetch/commands/diff.py
  dfetch/commands/update_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add PDF documentation to GitHub artifact and release
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: none

Add PDF support to devcontainer, clean up doc deps, add VS Code task
  .devcontainer/Dockerfile
  .github/workflows/docs.yml
  dfetch.code-workspace
Due: none

Fix PDF build: hide SVG badge from LaTeX output
  doc/howto/contributing.rst
Due: doc8

Fix devcontainer: remove version pins from texlive packages
  .devcontainer/Dockerfile
Due: none

Fix PDF build: use raw::html for SVG badge instead of only::html
  doc/howto/contributing.rst
Due: doc8

Fix PDF build: render plantweb diagrams as PNG for non-HTML builders
  doc/conf.py
Due: isort, black, doc8

Fix PDF build: use .plantwebrc to force plantweb PNG format
  .plantwebrc
  doc/conf.py
Due: isort, black, doc8

Fix PDF build: define Unicode check/cross marks for pdflatex
  doc/conf.py
Due: isort, black, doc8

Style PDF to match design system and add logo to front page
  doc/conf.py
Due: isort, black, doc8

Fix \py@release in custom maketitle by adding \makeatletter guard
  doc/conf.py
Due: isort, black, doc8

Fix title page to single page, add version to filename and front page
  .github/workflows/docs.yml
  doc/conf.py
Due: isort, black, doc8
