Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Use official gh release tool for uploading artifacts as well
  .github/workflows/build.yml
Due: none

Revert "Overwrite the local tag"
  .github/workflows/release.yml
Due: none

Revert "Make sure we have tag info when creating release"
  .github/workflows/release.yml
Due: none

Revert "Use official gh release tool for uploading artifacts as well"
  .github/workflows/build.yml
Due: none

Revert "No need to fetch tag etc, see comment"
  .github/workflows/release.yml
Due: none

Revert "Use official github tool"
  .github/workflows/release.yml
Due: none

Revert "--clobber should be last arg"
  .github/workflows/build.yml
Due: none

Revert "Refresh just before creating release"
  .github/workflows/release.yml
Due: none

Revert "Setup python before checkout to not interfere with repo"
  .github/workflows/release.yml
Due: none

Revert "Verify the tag"
  .github/workflows/release.yml
Due: none

Revert "Make sure gh release operates on correct repo"
  .github/workflows/release.yml
Due: none

Prepare for new release
  CHANGELOG.rst
Due: none

Update pytest filterwarnings
  pyproject.toml
Due: none

rename vcs to subproject
  dfetch/commands/diff.py
  dfetch/commands/report.py
  dfetch/project/__init__.py
  dfetch/project/git.py
  dfetch/project/subproject.py
  dfetch/project/svn.py
  doc/static/uml/c3_dfetch_components_project.puml
  tests/test_subproject.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move diff into subproject
  dfetch/commands/diff.py
  dfetch/project/git.py
  dfetch/project/subproject.py
  dfetch/project/svn.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Split out Svn VCS
  CHANGELOG.rst
  dfetch/commands/common.py
  dfetch/commands/diff.py
  dfetch/commands/import_.py
  dfetch/project/svn.py
  dfetch/vcs/svn.py
  tests/test_import.py
  tests/test_svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Minor typo fix
  dfetch/vcs/svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

don't use vcs name
  dfetch/commands/environment.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Introduce superproject class
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/freeze.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/manifest/manifest.py
  dfetch/project/superproject.py
  tests/test_check.py
  tests/test_report.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Describe the sub & super projects concepts in the getting started
  doc/getting_started.rst
Due: doc8

Rename Git & SvnRepo to SubProject
  dfetch/commands/common.py
  dfetch/commands/diff.py
  dfetch/commands/import_.py
  dfetch/project/__init__.py
  dfetch/project/git.py
  dfetch/project/svn.py
  tests/test_import.py
  tests/test_svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix comment
  dfetch/project/subproject.py
  doc/internal.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Simplify diff
  dfetch/commands/diff.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

move ignored files to superproject
  dfetch/commands/check.py
  dfetch/commands/common.py
  dfetch/commands/update.py
  dfetch/project/superproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/project/subproject.py
  dfetch/vcs/svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix test
  tests/test_update.py
Due: isort, black

Review comments
  dfetch/project/svn.py
  dfetch/vcs/svn.py
  tests/test_svn.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make svn import non-static
  dfetch/commands/import_.py
  dfetch/vcs/svn.py
  tests/test_svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
