Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, flake8, mypy, doc8, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --strict

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit:
  name: bandit
  entry: bandit
  language: system

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Suggest a correct project name if not found (Fixes #320)
  CHANGELOG.rst
  dfetch/manifest/manifest.py
  features/steps/manifest_steps.py
  features/suggest-project-name.feature
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Update report-sbom.feature
  features/report-sbom.feature
Due: none

Ensure submodule urls are absolute
  dfetch/vcs/git.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Fix some sphinx issues
  dfetch/commands/diff.py
  dfetch/reporting/check/sarif_reporter.py
  doc/conf.py
Due: isort, black, pylint, flake8, mypy, doc8, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Update changelog
  CHANGELOG.rst
Due: none

Give empty string if there is no remote
  dfetch/vcs/git.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Add executable flag
  doc/generate-casts/basic-demo.sh
  doc/generate-casts/check-ci-demo.sh
  doc/generate-casts/check-demo.sh
  doc/generate-casts/diff-demo.sh
  doc/generate-casts/environment-demo.sh
  doc/generate-casts/freeze-demo.sh
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/import-demo.sh
  doc/generate-casts/init-demo.sh
  doc/generate-casts/report-demo.sh
  doc/generate-casts/report-sbom-demo.sh
  doc/generate-casts/update-demo.sh
  doc/generate-casts/validate-demo.sh
Due: doc8

Update casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

Bump version to v0.7.0
  CHANGELOG.rst
  dfetch/__init__.py
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/guard-against-overwriting.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-usage.feature
  features/keep-license-in-project.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, flake8, mypy, doc8, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Flake8 hates py3.7
  .github/workflows/test.yml
Due: none

Pylint hates Typing in <3.10
  .github/workflows/test.yml
Due: none

yaml hates me 😥
  .github/workflows/test.yml
Due: none

Pylint doesn't need to check my TypedDict
  dfetch/manifest/project.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Add pre-commit in dockerfile
  .gitpod/Dockerfile
Due: none

Pre-install requirements in dockerfile
  .gitpod.yml
  .gitpod/Dockerfile
Due: none

Configure gitpod further
  .gitpod.yml
Due: none

Make requirements available to Dockerfile
  .gitpod/Dockerfile
Due: none

Add gitpod
  .gitpod.yml
  README.md
  dfetch.code-workspace
Due: none

Explicitly use latest image
  .gitpod/Dockerfile
Due: none

Update legacy vscode python path setting
  dfetch.code-workspace
Due: none

Update contributing documentation with Gitpod / VScode
  doc/contributing.rst
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  flake8: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit: any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
