Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Restore already-removed orphan gitlinks if a later removal fails
  dfetch/vcs/git_submodule.py
  tests/test_git_submodule.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: don't abort the fetch on a gitlink with no .gitmodules entry (#1380)
  CHANGELOG.rst
  dfetch/vcs/git.py
  dfetch/vcs/git_gitlinks.py
  features/import-from-git.feature
  features/steps/git_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: address CodeRabbit findings on orphan-gitlink stripping
  dfetch/vcs/git_gitlinks.py
  tests/test_git_gitlinks.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

test: reproduce gitlink-with-no-.gitmodules abort (#1380)
  features/fetch-git-repo-with-submodule.feature
  features/steps/git_steps.py
  tests/test_git_vcs.py
Due: isort, black

refactor: consolidate git submodule handling into git_submodule.py
  dfetch/vcs/git.py
  dfetch/vcs/git_gitlinks.py
  dfetch/vcs/git_submodule.py
  dfetch/vcs/git_types.py
  tests/test_git_gitlinks.py
  tests/test_git_submodule.py
  tests/test_git_vcs.py
  tests/test_import.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

test: cover orphan_gitlinks_dropped() restoring on failure, not just success
  tests/test_git_submodule.py
Due: isort, black

fix: never round-trip a conflicted gitlink through orphan-dropping
  dfetch/vcs/git_submodule.py
  tests/test_git_submodule.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Document git_submodule.py in AGENTS.md module listing
  AGENTS.md
Due: none

Notes added by 'git notes append'
  2b/6a5c1844ca5de8bc5f8a3f828246b8c0f9ac1f
Due: none

Regenerate asciicasts for 0.14.4
  doc/asciicasts/add.cast
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/format-patch.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/interactive-add.cast
  doc/asciicasts/remove.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update-patch.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

Notes added by 'git notes append'
  b0/91a2a14eb918b581b72b17faffc970f66f4584
Due: none

Add ziglang.org to build.yml harden-runner allowlist
  .github/workflows/build.yml
Due: none

Notes added by 'git notes append'
  c4/27e4c145539c0b0b1b10472a431827b56d00b3
Due: none

Allow ghcr.io/pkg-containers in build.yml harden-runner allowlist
  .github/workflows/build.yml
Due: none

Allow dependencywalker.com in build.yml harden-runner allowlist
  .github/workflows/build.yml
Due: none

Notes added by 'git notes append'
  ed/c169d770913928ef318a0b02074f45dcf163e9
Due: none

Notes added by 'git notes append'
  de/ca0205e5a26fb03449c26e86d8146248001154
Due: none

Add example dfetch.yaml replacing slxio's ThirdParty update.sh scripts
  .gitignore
  example/slxio-thirdparty/dfetch.yaml
Due: none

Recreate update.sh files=() allow-lists via ignore for every module
  example/slxio-thirdparty/dfetch.yaml
Due: none

Pin npio to an exact commit instead of a floating branch
  example/slxio-thirdparty/dfetch.yaml
Due: none

Shorten ignore lists with wildcards where they don't collide with kept files
  example/slxio-thirdparty/dfetch.yaml
Due: none

Collapse libzip's lib/zip_* ignore entries into shared-prefix wildcards
  example/slxio-thirdparty/dfetch.yaml
Due: none

Collapse pybind11's gil/stl/eigen ignore entries into wildcards
  example/slxio-thirdparty/dfetch.yaml
Due: none

Collapse remaining shared-prefix ignore entries across 7 modules
  example/slxio-thirdparty/dfetch.yaml
Due: none

Notes added by 'git notes append'
  5b/4466db258fffbd10d8c465f0426eb763c7e75d
Due: none

Notes added by 'git notes append'
  d4/791a0d97f581384c411ab87a88d26d39b19a32
Due: none

Notes added by 'git notes append'
  c5/3891c48c0bf5735e7078fd2b03eff259838732
Due: none

Notes added by 'git notes append'
  4b/0bd4f76c56120be7a9a378bd7620447621ee2d
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
