Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Fix references
  dfetch/commands/diff.py
  dfetch/commands/format_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/vcs/patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Ensure format-patch creates patch for target vcs
  dfetch/commands/format_patch.py
  dfetch/vcs/patch.py
  features/format-patch-in-git.feature
  features/format-patch-in-svn.feature
  tests/test_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make format-patch comment more accurate
  dfetch/commands/format_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update revision to 176 for cunit
  features/check-svn-repo.feature
  features/fetch-svn-repo.feature
  features/freeze-projects.feature
  features/import-from-svn.feature
Due: none

Mkae sure indent is correct
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Add additional scenarios for patch fuzzing
  features/patch-fuzzy-matching.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
Due: isort, black

Add more scenarios to docs
  dfetch/manifest/project.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Mark scenario as git specific and remove it from svn docs
  dfetch/manifest/project.py
  features/patch-fuzzy-matching-git.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve scenarios
  features/patch-fuzzy-matching-git.feature
  features/steps/generic_steps.py
Due: isort, black

Drop python 3.9 support
  .github/workflows/run.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/update_patch.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  dfetch/manifest/parse.py
  dfetch/manifest/project.py
  dfetch/manifest/remote.py
  dfetch/project/__init__.py
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  dfetch/util/cmdline.py
  dfetch/util/license.py
  dfetch/util/purl.py
  dfetch/util/util.py
  dfetch/util/versions.py
  dfetch/vcs/git.py
  dfetch/vcs/patch.py
  dfetch/vcs/svn.py
  pyproject.toml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add branch name to install instructions
  doc/installation.rst
Due: doc8

Cleanup diagram.
  doc/static/uml/c3_dfetch_components_project.puml
Due: doc8

Add update-patch and format-patch to command diagrams.
  doc/static/uml/c3_dfetch_components_commands.puml
Due: doc8

Add superproject to c3 diagram
  doc/static/uml/c3_dfetch_components_project.puml
Due: doc8

Update format to black 2026 style
  dfetch/project/gitsubproject.py
  dfetch/reporting/check/sarif_reporter.py
  doc/conf.py
  doc/landing-page/conf.py
  script/build.py
  script/create_sbom.py
  script/package.py
  tests/test_patch.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove Does Stuff placeholders
  doc/static/uml/c3_dfetch_components_commands.puml
Due: doc8

Add changelog entry
  CHANGELOG.rst
Due: none

Bump dev from 3.13 to 3.14
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .readthedocs.yml
  action.yml
  dfetch/reporting/check/code_climate_reporter.py
  dfetch/reporting/sbom_reporter.py
  doc/contributing.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use full path of contextlib
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump pip
  .devcontainer/Dockerfile
Due: none

Bump pip to 26.0.1
  .devcontainer/Dockerfile
Due: none

Introduce Patch class for cleaner API
  dfetch/commands/format_patch.py
  dfetch/project/gitsubproject.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/project/svnsuperproject.py
  dfetch/vcs/git.py
  dfetch/vcs/patch.py
  dfetch/vcs/svn.py
  features/diff-in-git.feature
  features/journey-basic-patching.feature
  tests/test_patch.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

automate version update in sbom feature file
  script/release.py
Due: isort, black

Bump version to 0.12.0
  CHANGELOG.rst
  dfetch/__init__.py
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-patching.feature
  features/journey-basic-usage.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/patch-fuzzy-matching-git.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make name in format-patch demo reproducible
  doc/generate-casts/format-patch-demo.sh
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
