Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Fix src: moving logic for multiple matching files/dirs
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add archive method to readme & landing page
  README.md
  doc/landing-page/index.rst
Due: doc8

Fix after rebase
  dfetch/project/archivesubproject.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  features/fetch-file-pattern-git.feature
  tests/manifest_mock.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Only unlink symlinks
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Only use safe_rm
  dfetch/util/util.py
  dfetch/vcs/git.py
  features/environment.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/util/util.py
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
  tests/test_util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Extend documentation
  dfetch/commands/update.py
  dfetch/reporting/stdout_reporter.py
  doc/internal.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

cleanup
  dfetch/project/archivesubproject.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/vcs/git.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Warn when src: glob pattern matches multiple directories
  CHANGELOG.rst
  dfetch/vcs/git.py
  features/fetch-file-pattern-git.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add to example
  example/dfetch.yaml
Due: none

Fetching any submodule in a subproject with submodules Fixes #1013
  CHANGELOG.rst
  dfetch/log.py
  dfetch/project/gitsubproject.py
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
  features/list-projects.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
  tests/test_report.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove .git in submodules
  dfetch/project/gitsubproject.py
  features/fetch-git-repo-with-submodule.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add test for nested submodules
  features/environment.py
  features/fetch-git-repo-with-submodule.feature
  features/steps/git_steps.py
Due: isort, black

Don't break when importing submodules with space in path
  CHANGELOG.rst
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Only move up if it is directory
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Respect ignore within submodules
  dfetch/manifest/parse.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  example/dfetch.yaml
  pyproject.toml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/format-patch.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update-patch.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

NO_COLOR for dfetch output in docs
  doc/conf.py
Due: isort, black, doc8

In asciicename mode, don't add too much newlines
  dfetch/log.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix missing closing quote in unfetched-project
  CHANGELOG.rst
  dfetch/reporting/check/reporter.py
  features/check-report-code-climate.feature
  features/check-report-jenkins.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Don't show info for archive in env
  dfetch/project/archivesubproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/format-patch.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update-patch.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
  doc/generate-casts/generate-casts.sh
Due: doc8

Fix coverage by making paths relative
  pyproject.toml
Due: none

fix: pass secrets to test workflow so coverage upload runs
  .github/workflows/ci.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
