Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Simplify manifest class
  dfetch/commands/add.py
  dfetch/commands/freeze.py
  dfetch/commands/import_.py
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  tests/test_add.py
  tests/test_manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

review comments
  dfetch/manifest/manifest.py
  tests/test_manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use builder pattern for manifest
  dfetch/commands/import_.py
  dfetch/manifest/manifest.py
  tests/test_import.py
  tests/test_manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add a dfetch remove command Fixes #26
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/remove.py
  dfetch/manifest/manifest.py
  doc/asciicasts/remove.cast
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/remove-demo.sh
  doc/howto/remove-a-project.rst
  doc/index.rst
  doc/reference/commands.rst
  features/remove-project.feature
  features/steps/generic_steps.py
  tests/manifest_mock.py
  tests/test_manifest.py
  tests/test_remove.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix remove command after rebase onto main
  dfetch/commands/remove.py
  dfetch/manifest/manifest.py
  tests/test_remove.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup
  dfetch/manifest/manifest.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/commands/remove.py
  tests/manifest_mock.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

update feature test
  features/remove-project.feature
  features/steps/generic_steps.py
Due: isort, black

Update tests/test_remove.py
  tests/test_remove.py
Due: isort, black

Review comments
  dfetch/manifest/manifest.py
  tests/test_remove.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Test dfetch remove
  .github/workflows/build.yml
  .github/workflows/run.yml
Due: none

Review comments
  dfetch/reporting/sbom_reporter.py
  features/report-sbom-license.feature
  features/report-sbom.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add ``dfetch:license:<spdx-id>:confidence``, ``dfetch:license:threshold``, and ``dfetch:license:tool`` SBOM properties (#1116)
  CHANGELOG.rst
  dfetch/commands/report.py
  dfetch/reporting/sbom_reporter.py
  dfetch/util/license.py
  doc/howto/sbom.rst
  features/report-sbom-license.feature
  features/report-sbom.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  features/steps/generic_steps.py
  features/steps/json_steps.py
Due: isort, black

Fix test
  features/steps/generic_steps.py
  features/steps/json_steps.py
Due: isort, black

Review comments
  dfetch/commands/report.py
  dfetch/reporting/sbom_reporter.py
  features/report-sbom-license.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Solve Handle dual license Fixes #1112
  CHANGELOG.rst
  dfetch/commands/report.py
  dfetch/reporting/reporter.py
  dfetch/reporting/sbom_reporter.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/license.py
  doc/howto/sbom.rst
  features/report-sbom-license.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Don't reject all .. symlinks i Fixes #1122
  CHANGELOG.rst
  dfetch/vcs/archive.py
  features/fetch-archive.feature
  features/steps/archive_steps.py
  tests/test_archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

WIP
  doc/PoiretOne-Regular.ttf
  doc/conf.py
  doc/dfetch_cover.tex
Due: isort, black, doc8

Fix doc issues
  CHANGELOG.rst
  doc/howto/sbom.rst
Due: doc8

Improve docs
  doc/howto/sbom.rst
  doc/images/dependency-track-license-detail.png
  doc/images/dependency-track-noassertion.png
  doc/images/dependency-track-properties.png
Due: doc8

Add noassertion reason to sbom
  dfetch/reporting/sbom_reporter.py
  doc/howto/sbom.rst
  features/report-sbom-license.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Embed base64-encoded license text in SBOM ``licenses[].text`` when a license is successfully identified (#1112)
  CHANGELOG.rst
  dfetch/reporting/sbom_reporter.py
  dfetch/util/license.py
  features/report-sbom-license.feature
  features/steps/archive_steps.py
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update dfetch/reporting/sbom_reporter.py
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update doc/howto/sbom.rst
  doc/howto/sbom.rst
Due: doc8

Cleanup tests
  tests/test_json_steps.py
  tests/test_sbom_reporter.py
Due: isort, black

Remove duplication
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup docs
  doc/howto/sbom.rst
Due: doc8

Use ``.cdx.json`` as the default extension for CycloneDX SBOM reports
  CHANGELOG.rst
  dfetch/commands/report.py
  doc/asciicasts/sbom.cast
  doc/generate-casts/report-sbom-demo.sh
  features/report-sbom-archive.feature
  features/report-sbom-license.feature
  features/report-sbom.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
