Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Create Product Security Context
  doc/explanation/security.rst
  doc/index.rst
Due: doc8

Make it less strict
  doc/explanation/security.rst
Due: doc8

Add disclaimer
  doc/explanation/security.rst
Due: doc8

Remove mail
  doc/explanation/security.rst
Due: doc8

Threat models
  security/README.md
  security/__init__.py
  security/report_template.md
  security/threats.json
  security/tm_common.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black

Update plantuml-c4
  doc/static/uml/styles/plantuml-c4/.dfetch_data.yaml
  doc/static/uml/styles/plantuml-c4/C4.puml
  doc/static/uml/styles/plantuml-c4/C4_Context.puml
  doc/static/uml/styles/plantuml-c4/C4_Sequence.puml
Due: doc8

Update sphinx-contrib patch
  doc/_ext/patches/003-only-handle-html-sphinxcontrib.asciinema.patch
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
Due: doc8

Don't persist credentials
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/devcontainer.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/run.yml
  .github/workflows/test.yml
Due: none

Extend provenance instructions
  doc/tutorials/installation.rst
Due: doc8

Hotfix release
  .github/workflows/release.yml
Due: none

Harden caching
  .github/workflows/build.yml
Due: none

Improve caching
  .github/workflows/build.yml
  .gitignore
Due: none

pin verification to GitHub Actions as the identity provider.
  doc/tutorials/installation.rst
Due: doc8

Don't vendor fpm
  .github/workflows/build.yml
  .gitignore
Due: none

Verify attestation in action
  .github/workflows/build.yml
Due: none

Add SLSA provenance attestations
  .github/workflows/build.yml
  doc/tutorials/installation.rst
Due: doc8

Add SLSA source provenance workflow and VSA integration
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/source-provenance.yml
  doc/tutorials/installation.rst
Due: doc8

Fix latex tabs in pdf
  doc/_ext/latex_tabs.py
Due: isort, black, doc8

Scenario appendix should only be in latex
  doc/index.rst
Due: doc8

Rename source to dfetch-source
  .github/workflows/build.yml
  .github/workflows/source-provenance.yml
  .github/workflows/test.yml
  doc/howto/verify-integrity.rst
Due: doc8

Move integrity into separate howto
  doc/howto/verify-integrity.rst
  doc/index.rst
  doc/tutorials/installation.rst
Due: doc8

Add test attestation
  .github/workflows/ci.yml
  .github/workflows/test.yml
  doc/tutorials/installation.rst
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
