Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Extend endpoints
  .github/workflows/scorecard.yml
Due: none

Auto-format
  script/create_sbom.py
Due: isort, black

refactor: replace SubProject inheritance with has-a Fetcher composition
  dfetch/commands/add.py
  dfetch/commands/environment.py
  dfetch/commands/format_patch.py
  dfetch/project/__init__.py
  dfetch/project/archivesubproject.py
  dfetch/project/fetcher.py
  dfetch/project/gitsubproject.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/project/svnsuperproject.py
  pyproject.toml
  tests/test_add.py
  tests/test_archive.py
  tests/test_subproject.py
  tests/test_svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: resolve all pre-commit check failures
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/project/archivesubproject.py
  dfetch/project/fetcher.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/terminal/pick.py
  dfetch/terminal/prompt.py
  dfetch/util/license.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

docs: update architecture diagram and AGENTS.md for composition refactoring
  AGENTS.md
  doc/static/uml/c3_dfetch_components_project.puml
Due: doc8

fix: address code-review findings from composition refactoring
  dfetch/commands/add.py
  dfetch/project/__init__.py
  dfetch/project/gitsubproject.py
  dfetch/terminal/pick.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: address four code-review findings
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/project/svnsubproject.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add CRA/EN 18031 threat model: asset register, trust boundaries, security controls
  CHANGELOG.rst
  doc/explanation/security.rst
  doc/index.rst
  pyproject.toml
  security/__init__.py
  security/threat_model.py
Due: isort, black, doc8

Fix five review findings in threat model and packaging
  doc/explanation/security.rst
  pyproject.toml
  security/threat_model.py
Due: isort, black, doc8

Fix four review findings: EA ordering, SA-01 label, line-number ref, security package
  doc/explanation/security.rst
  pyproject.toml
  security/threat_model.py
Due: isort, black, doc8

Review comments
  .devcontainer/Dockerfile
  AGENTS.md
  doc/explanation/security.rst
  security/threat_model.py
Due: isort, black, doc8

Add Product Security Context note (prEN 40000-1-2 §6.2 Step 0)
  doc/explanation/security.rst
Due: doc8

Update after recent hardening
  doc/explanation/security.rst
Due: doc8

Add .. pytm:: Sphinx directive for live threat-model rendering
  doc/_ext/pytm_directive.py
  doc/conf.py
  doc/explanation/security.rst
  pyproject.toml
  security/threat_model.py
Due: isort, black, doc8

Use OWASP/pytm master branch instead of PyPI wheel
  pyproject.toml
Due: none

Move trust boundaries and assumptions into pytm model; render via directive
  doc/_ext/pytm_directive.py
  doc/explanation/security.rst
  security/threat_model.py
Due: isort, black, doc8

Replace CONTROLS/GAPS dicts with Control dataclass; unify into one list
  doc/_ext/pytm_directive.py
  security/threat_model.py
Due: isort, black, doc8

Add actors to pytm model and render via .. pytm:: :actors: directive
  doc/_ext/pytm_directive.py
  doc/explanation/security.rst
  security/threat_model.py
Due: isort, black, doc8

Move §7 security assumptions from static RST into pytm model
  doc/explanation/security.rst
  security/threat_model.py
Due: isort, black, doc8

Add custom threat register with control linkage and diagram rendering
  doc/_ext/pytm_directive.py
  doc/conf.py
  doc/explanation/security.rst
  security/threat_model.py
  security/threats.json
Due: isort, black, doc8

Make threat descriptions generic — remove tool-specific language
  security/threats.json
Due: none

Fix LaTeX PDF build failure: wrap diagram directives in .. only:: html
  doc/_ext/pytm_directive.py
Due: isort, black, doc8

Fix issues
  AGENTS.md
  doc/_ext/pytm_directive.py
  doc/explanation/security.rst
  pyproject.toml
  security/threat_model.py
Due: isort, black, doc8

Simplify security.rst
  doc/_ext/pytm_directive.py
  doc/explanation/security.rst
Due: isort, black, doc8

fix(docs): render threat-model diagrams in PDF; fix table page-breaks
  doc/_ext/pytm_directive.py
Due: isort, black, doc8

fix(docs): pre-render DFD to PNG; restore graphviz html fallback
  doc/_ext/pytm_directive.py
Due: isort, black, doc8

feat(docs): add clickable cross-reference links between threats/controls/gaps
  doc/_ext/pytm_directive.py
Due: isort, black, doc8

fix(docs): render DFD and seq via plantweb/plantuml.com in all builders
  doc/_ext/pytm_directive.py
Due: isort, black, doc8

fix(docs): split diagram rendering — plantweb for HTML, image for LaTeX PDF
  doc/_ext/pytm_directive.py
Due: isort, black, doc8

Fixup
  doc/dfetch_preamble.inc
  doc/explanation/security.rst
  doc/static/css/custom.css
  security/threat_model.py
Due: isort, black, doc8

Split threat models
  doc/_ext/pytm_directive.py
  doc/conf.py
  doc/explanation/security.rst
  security/threat_model.py
  security/tm_common.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8

update models
  security/tm_common.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black

update models
  doc/_ext/pytm_directive.py
  doc/conf.py
Due: isort, black, doc8

Fix dfd
  doc/_ext/pytm_directive.py
  doc/_static/pytm/threat_model_dfd.png
  doc/_static/pytm/threat_model_seq.png
Due: isort, black, doc8

Fix layout of stub-columns
  doc/dfetch_preamble.inc
  doc/static/css/custom.css
Due: doc8

Update doc/static/css/custom.css
  doc/static/css/custom.css
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
