Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Warn if reverse fails
  dfetch/project/git.py
  dfetch/vcs/patch.py
  tests/test_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add reverse patch fuzz test
  tests/test_patch.py
Due: isort, black

Only support git superprojects fully for update-patch
  dfetch/commands/diff.py
  dfetch/commands/update_patch.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/vcs/svn.py
  features/update-patch-in-svn.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use stripped target
  dfetch/vcs/svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix svn feature tests
  features/update-patch-in-svn.feature
Due: none

Add output to feature tests
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
Due: none

Refine experience
  dfetch/commands/update_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix #614: Introduce new update-patch command
  CHANGELOG.rst
  dfetch.code-workspace
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/diff.py
  dfetch/commands/update_patch.py
  dfetch/project/git.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/project/svn.py
  dfetch/vcs/git.py
  dfetch/vcs/patch.py
  dfetch/vcs/svn.py
  doc/asciicasts/update-patch.cast
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/update-patch-demo.sh
  doc/manual.rst
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/svn_steps.py
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  tests/test_fuzzing.py
  tests/test_patch.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix update-patch cast
  doc/asciicasts/update-patch.cast
  doc/generate-casts/update-patch-demo.sh
Due: doc8

Fix review comments
  dfetch/commands/update_patch.py
  dfetch/project/git.py
  dfetch/vcs/patch.py
  doc/generate-casts/update-patch-demo.sh
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Correct tests for update-patch svn
  features/update-patch-in-svn.feature
  tests/test_patch.py
Due: isort, black

Revert command update in debug
  dfetch.code-workspace
Due: none

Fix asciinema path in manual documentation
  doc/manual.rst
Due: doc8

Implement format-patch for SVN
  dfetch/commands/format_patch.py
  dfetch/project/git.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/project/svn.py
  dfetch/vcs/patch.py
  features/format-patch-in-svn.feature
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make tests more independent
  features/format-patch-in-git.feature
  features/steps/generic_steps.py
Due: isort, black

Also strip CRLF
  dfetch/vcs/patch.py
  tests/test_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup implementation
  dfetch/commands/format_patch.py
  dfetch/vcs/patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add format-patch command to dfetch.
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/diff.py
  dfetch/commands/format_patch.py
  dfetch/project/superproject.py
  dfetch/vcs/git.py
  dfetch/vcs/patch.py
  dfetch/vcs/svn.py
  doc/asciicasts/format-patch.cast
  doc/generate-casts/format-patch-demo.sh
  doc/generate-casts/generate-casts.sh
  doc/manual.rst
  features/format-patch-in-git.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix feature test
  features/format-patch-in-git.feature
Due: none

Created proper formatted patches
  dfetch/commands/format_patch.py
  dfetch/project/superproject.py
  dfetch/vcs/patch.py
  features/format-patch-in-git.feature
  features/format-patch-in-svn.feature
  tests/test_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Also debug 3rd party packages
  dfetch.code-workspace
Due: none

Use less broad exception
  dfetch/project/superproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/commands/diff.py
  dfetch/commands/format_patch.py
  dfetch/vcs/patch.py
  doc/asciicasts/format-patch.cast
  doc/manual.rst
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon
