Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Bump asciinema player to 3.12.1
  doc/_ext/sphinxcontrib_asciinema/__init__.py
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.12.1.css
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.12.1.js
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.6.3.css
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.6.3.js
Due: isort, black, doc8

Use proper path
  dfetch.yaml
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
  doc/_ext/sphinxcontrib_asciinema/LICENSE
  doc/_ext/sphinxcontrib_asciinema/__init__.py
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.6.3.css
  doc/_ext/sphinxcontrib_asciinema/_static/asciinema-player_3.6.3.js
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
  doc/conf.py
Due: isort, black, doc8

Move exclusions to pyproject
  .pre-commit-config.yaml
  dfetch.code-workspace
  pyproject.toml
Due: none

Let editor help in whitespace stuff
  dfetch.code-workspace
Due: none

Add task for serving landing page
  dfetch.code-workspace
Due: none

Don't check spelling of dfetched extension
  pyproject.toml
Due: none

Fix Asciicasts not looping Fixes #827
  doc/_ext/sphinxcontrib_asciinema/asciinema.py
  doc/conf.py
  doc/landing-page/conf.py
Due: isort, black, doc8

Let korbit ignore the asciinema player
  .korbitignore
Due: none

dfetch sphinxcontrib.asciinema into project
  .pre-commit-config.yaml
  dfetch.yaml
  doc/_ext/sphinxcontrib.asciinema/.dfetch_data.yaml
  doc/_ext/sphinxcontrib.asciinema/LICENSE
  doc/_ext/sphinxcontrib.asciinema/__init__.py
  doc/_ext/sphinxcontrib.asciinema/_static/asciinema-player_3.6.3.css
  doc/_ext/sphinxcontrib.asciinema/_static/asciinema-player_3.6.3.js
  doc/_ext/sphinxcontrib.asciinema/asciinema.py
  pyproject.toml
Due: isort, black, doc8

Update pre-commit
  .pre-commit-config.yaml
Due: none

Isort will ignore skip if calling it with a specific file
  .pre-commit-config.yaml
Due: none

Same for black, never call it with files we don't want to
  .pre-commit-config.yaml
Due: none

Also for codespell
  .pre-commit-config.yaml
Due: none

Add basic filter command as suggested in
  .pre-commit-config.yaml
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/filter.py
  dfetch/util/cmdline.py
  dfetch/util/util.py
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make it possible to have silent commands
  dfetch/__main__.py
  dfetch/log.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

wip feature
  features/filter-projects.feature
Due: none

Bump version in feature test
  features/report-sbom.feature
Due: none

Automate update of cyclonedx
  script/dependabot_hook.py
Due: isort, black

Update report-sbom.feature
  features/report-sbom.feature
Due: none

wip feature
  .pre-commit-config.yaml
  dfetch/commands/filter.py
  features/filter-projects.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update docs
  dfetch/commands/filter.py
  doc/asciicasts/filter.cast
  doc/generate-casts/filter-demo.sh
  doc/generate-casts/generate-casts.sh
  doc/manual.rst
  features/filter-projects.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Run dfetch filter during test
  .github/workflows/run.yml
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/filter.py
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Speed up build by fixing ccache integration in build.yml Fixes #820
  .github/workflows/build.yml
Due: none

Bump pip
  .devcontainer/Dockerfile
Due: none

Create installer packages
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  pyproject.toml
  script/package.py
Due: isort, black

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
