Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Pin zig
  .github/workflows/run.yml
Due: none

Upload wheels to release
  .github/workflows/python-publish.yml
Due: none

Make tag annotated
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  README.md
  pyproject.toml
  script/create_sbom.py
  script/package.py
Due: isort, black

Make sure zig is installed
  .github/workflows/build.yml
  .github/workflows/run.yml
Due: none

Create release workflow
  .github/workflows/release.yml
Due: none

Review comments
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  .github/workflows/run.yml
  pyproject.toml
  script/create_release_notes.py
  script/package.py
Due: isort, black

Cleanup
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Review fixes
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Create release notes
  CHANGELOG.rst
  script/create_release_notes.py
Due: isort, black

cleanup script
  script/create_release_notes.py
Due: isort, black

Update contributing manual
  doc/contributing.rst
Due: doc8

Restore step titles
  .github/workflows/docs.yml
  .github/workflows/landing-page.yml
  .github/workflows/test.yml
Due: none

Automate
  .github/workflows/build.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  .gitignore
  script/create_release_notes.py
Due: isort, black

reorder workflows
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/landing-page.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  .github/workflows/run.yml
  .github/workflows/test.yml
Due: none

pin zig
  .github/workflows/build.yml
Due: none

Remove korbit ai config
  .korbitignore
Due: none

Add code rabbit config
  .github/workflows/.coderabbit.yaml
Due: none

Reduce and add linkt to ref
  .github/workflows/.coderabbit.yaml
Due: none

Refer directly to our own vendoring article
  README.md
Due: none

Merge examples into vendoring article
  doc/examples.rst
  doc/index.rst
  doc/vendoring.rst
Due: doc8

Move installation to a separate page
  doc/index.rst
  doc/installation.rst
Due: doc8

Sync index.rst with README
  doc/index.rst
Due: doc8

Make troubleshooting more clear
  doc/troubleshooting.rst
Due: doc8

Move coderabbit config to correct folder
  .coderabbit.yaml
Due: none

fix link
  doc/troubleshooting.rst
Due: doc8

Rename vendoring
  doc/vendoring.rst
Due: doc8

Make underline long enough
  doc/troubleshooting.rst
Due: doc8

Explain <version> placeholder
  doc/installation.rst
Due: doc8

Remove comments
  doc/alternatives.rst
  doc/contributing.rst
  doc/getting_started.rst
  doc/index.rst
  doc/installation.rst
  doc/legal.rst
  doc/manifest.rst
  doc/manual.rst
  doc/troubleshooting.rst
  doc/vendoring.rst
Due: doc8

Make introduction in alternatives more clear
  doc/alternatives.rst
Due: doc8

Link issues in documentation auotmatically
  CHANGELOG.rst
  doc/conf.py
  pyproject.toml
Due: isort, black, doc8

Review comments
  doc/alternatives.rst
  pyproject.toml
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
