Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, flake8, mypy, doc8, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        args: [--strict]
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Strip setup from casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
  doc/generate-casts/generate-casts.sh
Due: doc8

Jump to generate cast dir when generating
  doc/generate-casts/generate-casts.sh
Due: doc8

Bump feature file
  features/report-sbom.feature
Due: none

Bump cyclonedx version in feature file
  features/report-sbom.feature
Due: none

Update relation
  doc/static/uml/c2_dfetch_containers.puml
Due: doc8

Update manifest documentation
  doc/static/uml/c3_dfetch_components_manifest.puml
Due: doc8

Add c3 dfetch components
  doc/internal.rst
  doc/static/uml/c3_dfetch_components_commands.puml
Due: doc8

Toy script to generate diagrams from code
  doc/static/uml/generate_diagram.py
Due: isort, black, doc8

Add plantuml support to gitpod
  .gitpod.yml
  .gitpod/Dockerfile
  dfetch.code-workspace
Due: none

Restructure
  doc/static/uml/generate_diagram.py
Due: isort, black, doc8

Remove unused imports
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Auto-fix issues
  .pre-commit-config.yaml
  doc/static/uml/c2_dfetch_containers.puml
  doc/static/uml/c3_dfetch_components_commands.puml
  doc/static/uml/c3_dfetch_components_manifest.puml
  doc/static/uml/generate_diagram.py
  pyproject.toml
Due: isort, black, doc8

Fix path resolution
  doc/static/uml/generate_diagram.py
Due: isort, black, doc8

Only show related containers
  doc/static/uml/generate_diagram.py
Due: isort, black, doc8

Add basic c1 & c2 diagrams
  doc/index.rst
  doc/internal.rst
  doc/static/uml/c1_dfetch_context.puml
  doc/static/uml/c2_dfetch_containers.puml
Due: doc8

Add manifest documentation
  doc/internal.rst
  doc/static/uml/c3_dfetch_components_manifest.puml
Due: doc8

Add c1 diagram
  doc/static/uml/c1_dfetch_context.puml
Due: doc8

Autodiscover unittests
  dfetch.code-workspace
Due: none

Update diagrams
  doc/internal.rst
  doc/static/uml/c3_dfetch_components_manifest.puml
  doc/static/uml/c3_dfetch_components_project.puml
Due: doc8

Use 100% width
  doc/index.rst
Due: doc8

Refetch plantuml-c4
  doc/static/uml/styles/plantuml-c4/.dfetch_data.yaml
Due: doc8
