Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Fix pyright issues
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/project/metadata.py
  dfetch/project/vcs.py
  dfetch/reporting/check/sarif_reporter.py
  dfetch/reporting/sbom_reporter.py
  doc/_ext/scenario_directive.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
  tests/test_import.py
  tests/test_manifest.py
  tests/test_svn.py
  tests/test_vcs.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add more alternatives
  doc/alternatives.rst
Due: doc8

Run pylint also outside dfetch folder
  .pre-commit-config.yaml
  create_venv.py
  doc/_ext/scenario_directive.py
  features/environment.py
  features/steps/__init__.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
  tests/test_svn.py
Due: isort, black, doc8

Reduce usage of context.execute_steps
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
Due: isort, black

Bump python to 3.12 for landing-page
  .github/workflows/landing-page.yml
Due: none

Add additional project urls
  pyproject.toml
Due: none

Make sure wheel is available
  pyproject.toml
Due: none

Add content-type of README
  pyproject.toml
Due: none

Add keywords from index page
  pyproject.toml
Due: none

Run pyroma in github action
  .github/workflows/test.yml
Due: none

Yet more alternatives Fixes #677
  doc/alternatives.rst
Due: doc8

Add pyright
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Bump pip to 25.0
  .devcontainer/Dockerfile
Due: none

Add ruff
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Fix issues found by ruff
  dfetch/vcs/git.py
  doc/landing-page/conf.py
  doc/static/uml/generate_diagram.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Overlapping path check too strict Fixes #684
  dfetch/commands/update.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup
  dfetch/commands/update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add to changelog
  CHANGELOG.rst
Due: none

Suggest full url from child manifest Fixes #683
  CHANGELOG.rst
  dfetch/manifest/project.py
  features/checked-project-has-dependencies.feature
  features/updated-project-has-dependencies.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

dfetch report doesn't show default remote Fixes #445
  CHANGELOG.rst
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  features/list-projects.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon
