Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

refactor(git): improve code health in git.py (CodeScene issues)
  dfetch/project/gitsubproject.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor(git): clean up idioms, fix docstrings, add unit tests for helpers
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix(git): remove unused `src` arg from _move_directory_contents; fix isort
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor: apply same code-health fixes to archive and svn modules
  dfetch/project/archivesubproject.py
  dfetch/project/svnsubproject.py
  dfetch/vcs/archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor: move file helpers to util.py with intent-revealing names
  dfetch/project/archivesubproject.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix(git): guard _move_src_folder_up against path-traversal in src filter
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix(git): resolve dirs to canonical paths before move and cleanup
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix(tests): disable gpg signing in test repos; fix warning to use relative path
  dfetch/vcs/git.py
  features/steps/git_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix(git): guard against IndexError when chosen equals repo_root
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

feat(import): add --detect-cmake to import CMake FetchContent/ExternalProject deps
  dfetch/commands/import_.py
  dfetch/vcs/cmake.py
  tests/test_cmake_import.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor(import): extensible --detect SOURCE + --clean-sources architecture
  dfetch/commands/detectors/__init__.py
  dfetch/commands/detectors/_base.py
  dfetch/commands/detectors/cmake.py
  dfetch/commands/import_.py
  dfetch/vcs/cmake.py
  features/import-from-cmake.feature
  features/steps/cmake_steps.py
  tests/test_cmake_import.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup
  dfetch/commands/add.py
  dfetch/terminal/pick.py
  dfetch/terminal/prompt.py
  dfetch/terminal/screen.py
  dfetch/terminal/tree_browser.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/project.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/util/terminal.py
  dfetch/vcs/archive.py
  dfetch/vcs/git.py
  features/steps/add_steps.py
  script/package.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Svn support for interactive add
  dfetch/project/svnsubproject.py
  dfetch/vcs/svn.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Split out generic concerns
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/terminal/__init__.py
  dfetch/terminal/ansi.py
  dfetch/terminal/keys.py
  dfetch/terminal/pick.py
  dfetch/terminal/prompt.py
  dfetch/terminal/screen.py
  dfetch/terminal/tree_browser.py
  dfetch/terminal/types.py
  dfetch/util/terminal.py
  dfetch/util/versions.py
  dfetch/vcs/git.py
  dfetch/vcs/svn.py
  pyproject.toml
  tests/manifest_mock.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

dftech add command Fixes #25
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  doc/asciicasts/add.cast
  doc/generate-casts/add-demo.sh
  doc/generate-casts/generate-casts.sh
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add interactive manifest mode (-i/--interactive) to dfetch add command
  dfetch/commands/add.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/vcs/git.py
  doc/manual.rst
  features/add-project-through-cli.feature
  features/steps/add_steps.py
  tests/test_add.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor(add): extract terminal utils, add VersionRef, split tree browser
  dfetch/commands/add.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/util/terminal.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

feat(add): scrollable version picker, tree browser, ignore prompt, post-add update
  dfetch/commands/add.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/vcs/git.py
  features/add-project-through-cli.feature
  features/steps/add_steps.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Rework interactive add: numbered pick-list, Confirm, input validation
  dfetch/commands/add.py
  features/add-project-through-cli.feature
  features/steps/add_steps.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve
  dfetch/commands/add.py
  dfetch/commands/report.py
  dfetch/project/gitsubproject.py
  dfetch/project/svnsubproject.py
  dfetch/util/license.py
  dfetch/util/util.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Refactor TreeBrowser
  dfetch/commands/add.py
  dfetch/terminal/tree_browser.py
  tests/test_tree_browser.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve UX
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/terminal/tree_browser.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve architecture
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  dfetch/manifest/version.py
  dfetch/terminal/__init__.py
  dfetch/terminal/pick.py
  dfetch/terminal/prompt.py
  dfetch/terminal/tree_browser.py
  dfetch/terminal/types.py
  dfetch/vcs/git.py
  dfetch/vcs/svn.py
  pyproject.toml
  tests/test_add.py
  tests/test_tree_browser.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Extend feature tests
  features/add-project-through-cli.feature
Due: none

Add asciicast
  doc/asciicasts/interactive-add.cast
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/interactive-add-demo.sh
  doc/generate-casts/interactive_add_helper.py
Due: isort, black, doc8

Perform add in gtihub actions
  .github/workflows/build.yml
  .github/workflows/run.yml
Due: none

Add default . path to add -i
  dfetch/commands/add.py
  dfetch/terminal/tree_browser.py
  features/add-project-through-cli.feature
  features/steps/add_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use force flag in cli
  .github/workflows/build.yml
  .github/workflows/run.yml
Due: none

Make coderabbit more assertive
  .coderabbit.yaml
Due: none

Review comments
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  dfetch/project/gitsubproject.py
  dfetch/project/svnsubproject.py
  dfetch/terminal/pick.py
  dfetch/vcs/git.py
  doc/generate-casts/add-demo.sh
  doc/generate-casts/interactive-add-demo.sh
  doc/generate-casts/interactive_add_helper.py
  tests/test_add.py
  tests/test_tree_browser.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon
