Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Handle keyboard interrupts gracefully
  dfetch/commands/add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove -f flag from add
  .github/workflows/build.yml
  .github/workflows/run.yml
  dfetch/commands/add.py
  doc/generate-casts/add-demo.sh
  doc/manual.rst
  features/add-project-through-cli.feature
  features/steps/add_steps.py
  tests/test_add.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add cli overrides
  dfetch/commands/add.py
  features/add-project-through-cli.feature
  features/steps/add_steps.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update .github/workflows/run.yml
  .github/workflows/run.yml
Due: none

Update dfetch/manifest/manifest.py
  dfetch/manifest/manifest.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  .github/workflows/build.yml
  .github/workflows/run.yml
  dfetch/commands/add.py
  dfetch/manifest/manifest.py
  doc/generate-casts/interactive-add-demo.sh
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update casts
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/format-patch.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update-patch.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

Update casts
  doc/asciicasts/add.cast
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/format-patch.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/interactive-add.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update-patch.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
  doc/generate-casts/add-demo.sh
  doc/generate-casts/interactive-add-demo.sh
Due: doc8

Improve feature tests
  dfetch/commands/add.py
  features/add-project-through-cli.feature
  features/steps/add_steps.py
  features/steps/generic_steps.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use force flag in cli
  .github/workflows/build.yml
  .github/workflows/run.yml
Due: none

Perform add in gtihub actions
  .github/workflows/build.yml
  .github/workflows/run.yml
Due: none

Improve
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/project.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/util/terminal.py
  dfetch/vcs/archive.py
  dfetch/vcs/git.py
  features/steps/add_steps.py
  script/package.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add interactive manifest mode (-i/--interactive) to dfetch add command
  dfetch/commands/add.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/vcs/git.py
  doc/manual.rst
  features/add-project-through-cli.feature
  features/steps/add_steps.py
  tests/test_add.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve UX
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/terminal/tree_browser.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Rework interactive add: numbered pick-list, Confirm, input validation
  dfetch/commands/add.py
  features/add-project-through-cli.feature
  features/steps/add_steps.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor(add): extract terminal utils, add VersionRef, split tree browser
  dfetch/commands/add.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/util/terminal.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  dfetch/project/gitsubproject.py
  dfetch/project/svnsubproject.py
  dfetch/terminal/pick.py
  dfetch/vcs/git.py
  doc/generate-casts/add-demo.sh
  doc/generate-casts/interactive-add-demo.sh
  doc/generate-casts/interactive_add_helper.py
  tests/test_add.py
  tests/test_tree_browser.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve
  dfetch/commands/add.py
  dfetch/commands/report.py
  dfetch/project/gitsubproject.py
  dfetch/project/svnsubproject.py
  dfetch/util/license.py
  dfetch/util/util.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Split out generic concerns
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/terminal/__init__.py
  dfetch/terminal/ansi.py
  dfetch/terminal/keys.py
  dfetch/terminal/pick.py
  dfetch/terminal/prompt.py
  dfetch/terminal/screen.py
  dfetch/terminal/tree_browser.py
  dfetch/terminal/types.py
  dfetch/util/terminal.py
  dfetch/util/versions.py
  dfetch/vcs/git.py
  dfetch/vcs/svn.py
  pyproject.toml
  tests/manifest_mock.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add default . path to add -i
  dfetch/commands/add.py
  dfetch/terminal/tree_browser.py
  features/add-project-through-cli.feature
  features/steps/add_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

dftech add command Fixes #25
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  doc/asciicasts/add.cast
  doc/generate-casts/add-demo.sh
  doc/generate-casts/generate-casts.sh
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup
  dfetch/commands/add.py
  dfetch/terminal/pick.py
  dfetch/terminal/prompt.py
  dfetch/terminal/screen.py
  dfetch/terminal/tree_browser.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add asciicast
  doc/asciicasts/interactive-add.cast
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/interactive-add-demo.sh
  doc/generate-casts/interactive_add_helper.py
Due: isort, black, doc8

Svn support for interactive add
  dfetch/project/svnsubproject.py
  dfetch/vcs/svn.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Extend feature tests
  features/add-project-through-cli.feature
Due: none

Improve architecture
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/manifest/manifest.py
  dfetch/manifest/version.py
  dfetch/terminal/__init__.py
  dfetch/terminal/pick.py
  dfetch/terminal/prompt.py
  dfetch/terminal/tree_browser.py
  dfetch/terminal/types.py
  dfetch/vcs/git.py
  dfetch/vcs/svn.py
  pyproject.toml
  tests/test_add.py
  tests/test_tree_browser.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

feat(add): scrollable version picker, tree browser, ignore prompt, post-add update
  dfetch/commands/add.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/vcs/git.py
  features/add-project-through-cli.feature
  features/steps/add_steps.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make coderabbit more assertive
  .coderabbit.yaml
Due: none

Refactor TreeBrowser
  dfetch/commands/add.py
  dfetch/terminal/tree_browser.py
  tests/test_tree_browser.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Restyle docs to match landing page and restructure per Diataxis
  doc/conf.py
  doc/index.rst
  doc/static/css/custom.css
Due: isort, black, doc8

Split add scenarios into separate feature files and wire up both casts
  doc/manual.rst
  features/add-project-through-cli.feature
  features/interactive-add.feature
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
