Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Add reference doc links to aur-publish.yml setup instructions
  .github/workflows/distribution/aur-publish.yml
Due: none

Expand aur-publish.yml with full one-time setup instructions
  .github/workflows/distribution/aur-publish.yml
Due: none

Fix pylint R0801, isort order, and code-review findings in review-patch
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/review_patch.py
  dfetch/commands/update_patch.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Eliminate fetches after the first in review-patch
  dfetch/commands/review_patch.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/vcs/git.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add review-patch command for interactive patch inspection
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/review_patch.py
  dfetch/project/gitsuperproject.py
  dfetch/vcs/git.py
  doc/howto/patching.rst
  features/review-patch-in-git.feature
  features/review-patch-in-svn.feature
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Skip redundant restore fetch when all patches already applied
  dfetch/commands/review_patch.py
  doc/asciicasts/review-patch.cast
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Refactor review-patch to reduce cyclomatic complexity below 8
  dfetch/commands/review_patch.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add review-patch to CI run, demo script, and docs
  .github/workflows/run.yml
  doc/asciicasts/review-patch.cast
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/review-patch-demo.sh
  doc/howto/patching.rst
Due: doc8

Update review-patch asciicast and add rendered GIF
  doc/asciicasts/review-patch.cast
  doc/asciicasts/review-patch.gif
Due: doc8

Restore dfetch_data.yaml metadata after review-patch exits
  dfetch/commands/review_patch.py
  features/review-patch-in-git.feature
  features/review-patch-in-svn.feature
  features/steps/generic_steps.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

review comments
  .github/workflows/run.yml
  CHANGELOG.rst
  dfetch/commands/replay_patches.py
  dfetch/vcs/git.py
  doc/asciicasts/replay-patches.cast
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/replay-patches-demo.sh
  features/steps/git_steps.py
  plan.md
  security/__init__.py
  security/tm_supply_chain.py
  security/tm_usage.py
  tests/test_replay_patches.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix restore after patch failure by using git restore --source=HEAD
  dfetch/commands/review_patch.py
  dfetch/project/gitsuperproject.py
  dfetch/vcs/git.py
  features/review-patch-in-git.feature
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Rename to replay-patches
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/replay_patches.py
  doc/asciicasts/replay-patches.cast
  doc/asciicasts/replay-patches.gif
  doc/howto/patching.rst
  features/replay-patches-in-git.feature
  features/replay-patches-in-svn.feature
  plan.md
  security/tm_usage.py
  tests/test_replay_patches.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add combined mode
  CHANGELOG.rst
  dfetch/commands/replay_patches.py
  doc/howto/patching.rst
  features/replay-patches-in-git.feature
  tests/test_replay_patches.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Silence patch_ng logs during interactive TUI patch steps
  dfetch/commands/review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Address review comments: count validation, pathspec hardening, VCS diff cmd
  dfetch/commands/review_patch.py
  dfetch/vcs/git.py
  features/review-patch-in-svn.feature
  security/tm_usage.py
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix pyright errors in test_review_patch.py
  tests/test_review_patch.py
Due: isort, black

Fix bandit B101 by using GitSuperProject | None type narrowing
  dfetch/commands/review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

review comments
  dfetch/commands/review_patch.py
  dfetch/project/subproject.py
  features/steps/git_steps.py
  plan.md
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update review-patch feature files to match reduced-fetch behaviour
  features/review-patch-in-git.feature
  features/review-patch-in-svn.feature
Due: none

Fix pre-commit
  dfetch/commands/review_patch.py
  dfetch/vcs/git.py
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve docs
  doc/howto/patching.rst
Due: doc8

Clear TUI screen on patch failure before propagating the error
  dfetch/commands/review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Replace metadata patch assertion with git status no-changes check
  features/review-patch-in-git.feature
  features/review-patch-in-svn.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
Due: isort, black

Add script/cast2gif.py to convert asciicast files to animated GIFs
  script/cast2gif.py
Due: isort, black

docs: verify threat models for completeness and fix silent gaps
  doc/explanation/security.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/README.md
  security/dfetch.component-definition.json
  security/tm_controls_data.py
  security/tm_render.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8

Notes added by 'git notes append'
  68/899b3aa428dc4e7880a664d1811901216f5930
Due: none

Notes added by 'git notes append'
  a4/93f7056841878eeb0144e3a30381fb3604befe
Due: none

Notes added by 'git notes append'
  c4/034288856ed5ba3861f30aac64c3008c789b22
Due: none

Notes added by 'git notes append'
  dc/bcbfde5dd847fe04b11875f3ae3d1b429da8da
Due: none

Notes added by 'git notes append'
  96/31431a7fed5504e13be8edd453827e29f3206f
Due: none

Notes added by 'git notes append'
  70/8dc114f88c0029da4f1aa43656994f26dbfb9c
Due: none

Allow sourceforge and svn.code.sf.net endpoints for Windows runners
  .github/workflows/run.yml
Due: none

Fix remaining Windows egress blocks: cygwin.com, sourceforge mirrors
  .github/workflows/run.yml
Due: none

Allow Let's Encrypt CRL lookups for mirrors.kernel.org download
  .github/workflows/run.yml
Due: none
