Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Fix pre-commit
  dfetch/commands/review_patch.py
  dfetch/vcs/git.py
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add review-patch command for interactive patch inspection
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/review_patch.py
  dfetch/project/gitsuperproject.py
  dfetch/vcs/git.py
  doc/howto/patching.rst
  features/review-patch-in-git.feature
  features/review-patch-in-svn.feature
  tests/test_review_patch.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Silence patch_ng logs during interactive TUI patch steps
  dfetch/commands/review_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

review comments
  .github/workflows/run.yml
  CHANGELOG.rst
  dfetch/commands/replay_patches.py
  dfetch/vcs/git.py
  doc/asciicasts/replay-patches.cast
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/replay-patches-demo.sh
  features/steps/git_steps.py
  plan.md
  security/__init__.py
  security/tm_supply_chain.py
  security/tm_usage.py
  tests/test_replay_patches.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  ff/2840022aa9242cb6f435c55858401310969f4b
Due: none

Notes added by 'git notes append'
  8e/608dfd743927c4e193dbf3efb11d6dd2193487
Due: none

Add AUR package and move distribution actions to subfolder (#1319)
  .github/workflows/distribution/aur-publish.yml
  .github/workflows/distribution/python-publish.yml
  .github/workflows/distribution/winget-publish.yml
  CHANGELOG.rst
  aur/.SRCINFO
  aur/PKGBUILD
  doc/explanation/threat_model_supply_chain.rst
  doc/tutorials/installation.rst
  security/threats.json
  security/tm_controls_data.py
  security/tm_supply_chain.py
Due: isort, black, doc8

Expand aur-publish.yml with full one-time setup instructions
  .github/workflows/distribution/aur-publish.yml
Due: none

Add reference doc links to aur-publish.yml setup instructions
  .github/workflows/distribution/aur-publish.yml
Due: none

Add makepkg test job to aur-publish.yml for push/PR runs
  .github/workflows/distribution/aur-publish.yml
Due: none

Rebuild AUR test job: build from main commit, fix PKGBUILD install
  .github/workflows/distribution/aur-publish.yml
  aur/PKGBUILD
Due: none

Fix AUR tarball gap, add provenance attestation, improve docs
  .github/workflows/build.yml
  .github/workflows/distribution/aur-publish.yml
  aur/PKGBUILD
  doc/explanation/threat_model_supply_chain.rst
  doc/tutorials/installation.rst
  security/tm_controls_data.py
Due: isort, black, doc8

Fix code review findings: PR trigger, tarball naming, container digest, docs
  .github/workflows/build.yml
  .github/workflows/distribution/aur-publish.yml
  doc/tutorials/installation.rst
Due: doc8

Notes added by 'git notes append'
  f5/3372c5d03eb6e15a4494605c72d9c69d3206f9
Due: none

Notes added by 'git notes append'
  7c/f4af948693fc384a58814f81787d57918dd929
Due: none

Notes added by 'git notes append'
  8c/8a59505b71d6be8fb9592379f0a399b1e5af18
Due: none

Notes added by 'git notes append'
  55/9e5607dd1d254f05839e3f8380f58c8e9d542d
Due: none

Notes added by 'git notes append'
  34/65e468d390ad172d83653c389d73472fd86fb3
Due: none

Notes added by 'git notes append'
  65/95922293a730e97bc18ca6a989d7af308e9f16
Due: none

Notes added by 'git notes append'
  e4/fd67354bff0be97b378bcacd19e7fa2c5bc9b5
Due: none

Notes added by 'git notes append'
  38/55dd841c68c65079186ec9fcf92539ecc1d313
Due: none

Notes added by 'git notes append'
  ce/36dcf006cdee94765ea879ff2d25cd7c0eeacd
Due: none

Notes added by 'git notes append'
  b9/6dae41311347b6b943cebf550dd158fae12bcd
Due: none

Add filter command for guarding vendored files
  .github/workflows/run.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/filter.py
  dfetch/util/cmdline.py
  doc/generate-casts/filter-demo.sh
  doc/generate-casts/generate-casts.sh
  doc/howto/guard-vendored-files.rst
  doc/index.rst
  doc/reference/commands.rst
  features/environment.py
  features/filter-projects.feature
  features/steps/generic_steps.py
  tests/test_filter.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

docs: verify threat models for completeness and fix silent gaps
  doc/explanation/security.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/README.md
  security/dfetch.component-definition.json
  security/tm_controls_data.py
  security/tm_render.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8
