Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

wip feature
  .pre-commit-config.yaml
  dfetch/commands/filter.py
  features/filter-projects.feature
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add basic filter command as suggested in
  .pre-commit-config.yaml
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/commands/filter.py
  dfetch/util/cmdline.py
  dfetch/util/util.py
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update README.md
  README.md
Due: none

enable Link time optimization
  pyproject.toml
Due: none

Add more info
  doc/images/dfetch_logo_only.png
  doc/images/dfetch_logo_only.svg
  pyproject.toml
Due: doc8

Add windows icon
  pyproject.toml
Due: none

Add more info & icon to MSI
  script/package.py
Due: isort, black

Add comment for posterity
  pyproject.toml
Due: none

Make icon conditional
  script/package.py
Due: isort, black

Create script for generating sbom
  .gitignore
  pyproject.toml
  script/create_sbom.py
Due: isort, black

Generate and archive sboms
  .github/workflows/build.yml
  script/create_sbom.py
Due: isort, black

Keep sbom together with package
  .github/workflows/build.yml
  script/create_sbom.py
Due: isort, black

make sure output dir exists
  script/create_sbom.py
Due: isort, black

Add version flag to msi
  .github/workflows/build.yml
  script/package.py
Due: isort, black

Switch from pykwalify to yamale
  .pre-commit-config.yaml
  CHANGELOG.rst
  dfetch/manifest/manifest.py
  dfetch/manifest/validate.py
  dfetch/resources/schema.yaml
  doc/legal.rst
  example/dfetch.yaml
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
  pyproject.toml
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Create release notes
  CHANGELOG.rst
  script/create_release_notes.py
Due: isort, black

Create release workflow
  .github/workflows/release.yml
Due: none

Automate
  .github/workflows/build.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  .gitignore
  script/create_release_notes.py
Due: isort, black

Upload wheels to release
  .github/workflows/python-publish.yml
Due: none

Make sure zig is installed
  .github/workflows/build.yml
  .github/workflows/run.yml
Due: none

reorder workflows
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/landing-page.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  .github/workflows/run.yml
  .github/workflows/test.yml
Due: none

Make tag annotated
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  README.md
  pyproject.toml
  script/create_sbom.py
  script/package.py
Due: isort, black

cleanup script
  script/create_release_notes.py
Due: isort, black

Cleanup
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: none

Review comments
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/python-publish.yml
  .github/workflows/release.yml
  .github/workflows/run.yml
  pyproject.toml
  script/create_release_notes.py
  script/package.py
Due: isort, black

Update contributing manual
  doc/contributing.rst
Due: doc8

Restore step titles
  .github/workflows/docs.yml
  .github/workflows/landing-page.yml
  .github/workflows/test.yml
Due: none

Review fixes
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
