Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Re-pin sphinx
  pyproject.toml
Due: none

Use correct settings for publishing
  .github/workflows/landing-page.yml
Due: none

Ignore landing-page in regular docs
  doc/conf.py
Due: isort, black, doc8

Sort imports on save
  .gitpod.yml
  dfetch.code-workspace
Due: none

As workaround install sphinx-design separate
  .github/workflows/landing-page.yml
  pyproject.toml
Due: none

Remove condition from step
  .github/workflows/landing-page.yml
Due: none

Create landing page based on docs
  .gitignore
  doc/landing-page/Makefile
  doc/landing-page/conf.py
  doc/landing-page/index.rst
  doc/landing-page/make.bat
  doc/landing-page/static/css/custom.css
Due: isort, black, doc8

Use GITHUB_TOKEN instead of GH_TOKEN
  .github/workflows/landing-page.yml
Due: none

Fix auto issues
  .gitignore
  doc/landing-page/conf.py
Due: isort, black, doc8

Fix paths in landing-page.yml
  .github/workflows/landing-page.yml
Due: none

Drop sphinx req for now
  pyproject.toml
Due: none

Revert path change
  .github/workflows/landing-page.yml
Due: none

add .nojekyll file for disabling jekyll
  doc/landing-page/Makefile
Due: doc8

Use other github action
  .github/workflows/landing-page.yml
Due: none

Update landing page
  dfetch.yaml
  doc/landing-page/conf.py
  doc/landing-page/index.rst
  pyproject.toml
Due: isort, black, doc8

Create landing-page.yml
  .github/workflows/landing-page.yml
Due: none

Simplify
  doc/landing-page/index.rst
Due: doc8

Use different deploy key
  .github/workflows/landing-page.yml
Due: none

Already running in doc/landing-page
  .github/workflows/landing-page.yml
Due: none

Add missing newline
  dfetch.code-workspace
Due: none

Use semver3 Verion instead of VersionInfo
  dfetch/util/versions.py
  tests/test_util_version.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Split out function
  dfetch/util/versions.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use black formatting plugin
  .gitpod.yml
  dfetch.code-workspace
Due: none

Bump version
  features/report-sbom.feature
Due: none

Add docs workflow
  .github/workflows/docs.yml
Due: none

Install dfetch before checking docs
  .github/workflows/docs.yml
Due: none

Also install sphinx_design
  .github/workflows/docs.yml
Due: none

Update docs.yml
  .github/workflows/docs.yml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
