Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

fix: render gap analysis titles as rubrics so :ref: links resolve correctly
  doc/explanation/compliance_track.rst
  security/compliance.py
Due: isort, black, doc8

docs: expand OSCAL Artifacts section with context, purpose, and direct links
  doc/explanation/compliance_track.rst
  security/compliance.py
Due: isort, black, doc8

docs: add glossary term refs and links throughout security pages
  doc/explanation/compliance_track.rst
  doc/explanation/security.rst
  doc/explanation/security_pipeline.rst
  doc/reference/glossary.rst
  security/compliance.py
Due: isort, black, doc8

fix: correct RST pluralisation escape after :term:`ECR`
  doc/explanation/security_pipeline.rst
Due: doc8

docs: clean up and enrich security model documentation (#1285)
  doc/explanation/compliance_track.rst
  doc/explanation/security.rst
  doc/explanation/security_pipeline.rst
  doc/reference/glossary.rst
  security/compliance.py
Due: isort, black, doc8

Notes added by 'git notes append'
  ccacfdfee08866d69996fd243ebcf298e5abb1fa
Due: none

Notes added by 'git notes append'
  4b998f49ec41d9a31a8911c5a33698c78b0d27bc
Due: none

Fix purl namespace corruption when path contains ".git" mid-path
  CHANGELOG.rst
  dfetch/util/purl.py
  tests/test_purl.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix Version.__eq__ crashing when compared with a non-Version object
  CHANGELOG.rst
  dfetch/manifest/version.py
  tests/test_project_version.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix find_remote_for_url matching across path boundaries
  CHANGELOG.rst
  dfetch/manifest/manifest.py
  tests/test_add.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Guard git ref resolution against an empty revision
  CHANGELOG.rst
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Strip trailing newline from get_remote_url
  CHANGELOG.rst
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Ensure version is hashable
  dfetch/manifest/version.py
  tests/test_project_version.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  CHANGELOG.rst
  tests/test_add.py
  tests/test_manifest.py
Due: isort, black

Fix purl namespace corruption when path contains ".git" mid-path (#1268)
  CHANGELOG.rst
  dfetch/manifest/manifest.py
  dfetch/manifest/version.py
  dfetch/util/purl.py
  dfetch/vcs/git.py
  tests/test_git_vcs.py
  tests/test_manifest.py
  tests/test_project_version.py
  tests/test_purl.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  12ac48271b50fb97586bbdb425c4a4338fe437fe
Due: none

docs: improve patching how-to
  doc/howto/patching.rst
  doc/reference/commands.rst
  doc/tutorials/getting_started.rst
Due: doc8

docs: improve patching how-to (#1288)
  doc/howto/patching.rst
  doc/reference/commands.rst
  doc/tutorials/getting_started.rst
Due: doc8

Notes added by 'git notes append'
  9aea63fcfc0f1793a1fc9c098dd6d8a73d755a2a
Due: none

Notes added by 'git notes append'
  57e6c222ba8cf47488a58a35a080a4b89d88689c
Due: none

Notes added by 'git notes append'
  e401f263ed5fd4b3634f0fe5bd7e816e315e439a
Due: none

Notes added by 'git notes append'
  27/257303018f338fd83d24169be22b2dc0f7e29d
Due: none

Notes added by 'git notes append'
  e1/cc3ba846487951b65bef5c7db435173fd77030
Due: none

Notes added by 'git notes append'
  33/06d0096b3273ecec484c3d0d4aa28850b1a527
Due: none

Notes added by 'git notes append'
  8e/d97fe256145a588d43b23b0c12762e74c4c03e
Due: none

Fix winget publish
  .github/workflows/winget-publish.yml
Due: none

Fix winget publish (#1266)
  .github/workflows/winget-publish.yml
Due: none

Notes added by 'git notes append'
  28/5d082bc771732eca293ccf32dd0c09cb12725d
Due: none

ci: enforce 80% statement coverage gate
  .github/workflows/test.yml
  pyproject.toml
Due: none

tests: add test for environment.py to clear 80% coverage gate
  tests/test_commands_misc.py
Due: isort, black

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
