Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Update manifest.rst schema doc for integrity block (#23)
  doc/manifest.rst
Due: doc8

Review comments
  dfetch/project/subproject.py
  example/dfetch.yaml
  tests/test_subproject.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix review findings in archive/integrity implementation (#23)
  dfetch/commands/freeze.py
  dfetch/commands/report.py
  dfetch/manifest/schema.py
  dfetch/project/archivesubproject.py
  dfetch/project/subproject.py
  dfetch/util/purl.py
  dfetch/vcs/archive.py
  features/steps/generic_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Support all 3 hash algo's
  dfetch/manifest/schema.py
  dfetch/project/archivesubproject.py
  dfetch/vcs/archive.py
  doc/manifest.rst
  features/fetch-archive.feature
  features/steps/archive_steps.py
  features/steps/generic_steps.py
  features/steps/manifest_steps.py
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move archive hash into integrity block in manifest (#23)
  dfetch/manifest/project.py
  dfetch/manifest/schema.py
  dfetch/project/archivesubproject.py
  dfetch/vcs/archive.py
  features/check-archive.feature
  features/fetch-archive.feature
  features/freeze-archive.feature
  features/report-sbom-archive.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update changelog
  CHANGELOG.rst
Due: none

Review comments
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

add missing dst path
  example/dfetch.yaml
Due: none

Cleanup implementation
  dfetch/commands/report.py
  dfetch/manifest/project.py
  dfetch/project/archivesubproject.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/util/util.py
  dfetch/vcs/archive.py
  features/steps/generic_steps.py
  tests/test_archive.py
  tests/test_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix test
  features/report-sbom.feature
Due: none

Simplify and clean up archive implementation (#23)
  dfetch/commands/report.py
  dfetch/project/archivesubproject.py
  dfetch/reporting/sbom_reporter.py
  dfetch/vcs/archive.py
  features/fetch-archive.feature
  features/freeze-archive.feature
  features/steps/archive_steps.py
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

don't follow symlinks
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Implement archive (tar/zip) VCS type with hash verification (#23)
  dfetch/commands/check.py
  dfetch/commands/freeze.py
  dfetch/commands/update.py
  dfetch/manifest/project.py
  dfetch/project/__init__.py
  dfetch/project/archivesubproject.py
  dfetch/project/subproject.py
  dfetch/vcs/archive.py
  doc/manifest.rst
  features/check-archive.feature
  features/fetch-archive.feature
  features/freeze-archive.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Set component.group for GitHub and Bitbucket SBOM components (#23)
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update demo magic hash
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
  doc/generate-casts/demo-magic/.dfetch_data.yaml
Due: doc8

Review comments
  dfetch/log.py
  dfetch/reporting/sbom_reporter.py
  dfetch/util/purl.py
  dfetch/util/util.py
  dfetch/vcs/archive.py
  doc/landing-page/conf.py
  features/steps/generic_steps.py
  features/steps/manifest_steps.py
  tests/test_purl.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add feature test
  dfetch/vcs/archive.py
  features/report-sbom.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix CodeRabbitAI review comments: security, robustness, and platform fixes
  dfetch/log.py
  dfetch/vcs/archive.py
  features/steps/generic_steps.py
  tests/test_archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add feature tests and manifest schema for archive (tar/zip) support (#23)
  dfetch/manifest/project.py
  dfetch/manifest/schema.py
  features/check-archive.feature
  features/fetch-archive.feature
  features/freeze-archive.feature
  features/steps/archive_steps.py
  features/steps/generic_steps.py
  features/steps/manifest_steps.py
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add archive support to reporters and SBOM (#23)
  dfetch/commands/report.py
  dfetch/reporting/sbom_reporter.py
  dfetch/util/purl.py
  features/report-sbom-archive.feature
  features/steps/archive_steps.py
  features/steps/generic_steps.py
  features/steps/manifest_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fixes
  .github/workflows/release.yml
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/project/__init__.py
  dfetch/project/archivesubproject.py
  dfetch/project/subproject.py
  dfetch/reporting/sbom_reporter.py
  dfetch/util/purl.py
  dfetch/vcs/archive.py
  tests/test_archive.py
  tests/test_integrity.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add unit tests for archive VCS, integrity block, and PURL; update docs (#23)
  dfetch/project/archivesubproject.py
  dfetch/reporting/sbom_reporter.py
  tests/test_archive.py
  tests/test_integrity.py
  tests/test_purl.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Don't changing hashing algorithm
  dfetch/util/util.py
  tests/test_util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Security hardening for archive extraction (#23)
  dfetch/project/archivesubproject.py
  dfetch/vcs/archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Centralize path traversal check
  dfetch/commands/format_patch.py
  dfetch/commands/update.py
  dfetch/commands/update_patch.py
  dfetch/manifest/parse.py
  dfetch/project/gitsuperproject.py
  dfetch/project/superproject.py
  dfetch/project/svnsuperproject.py
  dfetch/util/util.py
  dfetch/vcs/archive.py
  tests/test_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/project/archivesubproject.py
  dfetch/util/util.py
  features/steps/archive_steps.py
  tests/test_archive.py
  tests/test_util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Apply security and correctness fixes from review (#23)
  dfetch/project/archivesubproject.py
  dfetch/vcs/archive.py
  features/steps/archive_steps.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/log.py
  dfetch/reporting/sbom_reporter.py
  dfetch/vcs/archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add example to example/dfetch.yaml
  example/dfetch.yaml
Due: none

Ensure consistent hash
  dfetch/commands/update.py
  dfetch/commands/update_patch.py
  dfetch/project/subproject.py
  dfetch/util/util.py
  features/check-archive.feature
  tests/test_subproject.py
  tests/test_update.py
  tests/test_util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

IntegretyHash class
  dfetch/project/archivesubproject.py
  dfetch/reporting/sbom_reporter.py
  dfetch/vcs/archive.py
  tests/test_archive.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fall back to manifest tag/revision/hash when metadata fields are empty (#23)
  dfetch/commands/report.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add to example
  example/dfetch.yaml
Due: none

Fetching any submodule in a subproject with submodules Fixes #1013
  CHANGELOG.rst
  dfetch/log.py
  dfetch/project/gitsubproject.py
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
  features/list-projects.feature
  features/steps/generic_steps.py
  features/steps/git_steps.py
  tests/test_report.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Don't break when importing submodules with space in path
  CHANGELOG.rst
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add test for nested submodules
  features/environment.py
  features/fetch-git-repo-with-submodule.feature
  features/steps/git_steps.py
Due: isort, black

Remove .git in submodules
  dfetch/project/gitsubproject.py
  features/fetch-git-repo-with-submodule.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Only move up if it is directory
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Warn when src: glob pattern matches multiple directories
  CHANGELOG.rst
  dfetch/vcs/git.py
  features/fetch-file-pattern-git.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Respect ignore within submodules
  dfetch/manifest/parse.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  example/dfetch.yaml
  pyproject.toml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon
