Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Notes added by 'git notes append'
  445a99df88e716f4f79b0c232231e8629d893d79
Due: none

Avoid codespell false positive on Unicode category code
  tests/test_fuzzing_parsers.py
Due: isort, black

docs: reframe foreseeable misuse as a priority harms list
  AGENTS.md
  doc/explanation/security.rst
Due: doc8

Fix off-by-one dropping a remote in dfetch import
  dfetch/commands/import_.py
  tests/test_import.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  f084c3eff9359f8fa1af8287f5066d1724b42587
Due: none

Collapse threat-model tables to one curated row per threat
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/tm_elements.py
  security/tm_render.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8

Notes added by 'git notes append'
  fe21185965cacf57d3fa1107a6bbf717d88ea637
Due: none

Add property-based fuzz tests for pure parser helpers
  CHANGELOG.rst
  dfetch/util/purl.py
  tests/test_fuzzing_parsers.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  0e6cb377d2a5f7e88bd15a1b15aed0d0e0385cca
Due: none

Notes added by 'git notes append'
  7e76fe3cdda4dfd3a799c49b0af2f157d034fe22
Due: none

Notes added by 'git notes append'
  a1b2f2dc31d638a27b61e008181724bb7ade1095
Due: none

Notes added by 'git notes append'
  11761c00709744f68b66c960cee82ac4d24f3f6a
Due: none

Notes added by 'git notes append'
  ba20291b2dcfb9ebdbc05e1247819897be946461
Due: none

Notes added by 'git notes append'
  3a8c73c592a96d839aaf2ab204e5eededbc34e3e
Due: none

Fix latex
  .github/workflows/docs.yml
Due: none

Notes added by 'git notes append'
  fd163c7d78db1dbae1f3a7b3d9f22eee140b953f
Due: none

Notes added by 'git notes append'
  09893522d97750adaec869916c43126aa3f23458
Due: none

Notes added by 'git notes append'
  f9a7522ec0da963384320275045c0afb19fdef51
Due: none

Notes added by 'git notes append'
  4799e2308be6d8ca977dfde063c78582718fcdf3
Due: none

Notes added by 'git notes append'
  062c92db8b30965a8aead030ab60ecceb926777f
Due: none

Fix SSH shorthand URLs joined with '/' instead of ':' (#1247)
  CHANGELOG.rst
  dfetch/manifest/project.py
  tests/test_project_entry.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Guard against trailing separator when repo-path is empty
  dfetch/manifest/project.py
  tests/test_project_entry.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix _is_ssh_shorthand matching path-prefixed bases like git@host:org
  dfetch/manifest/project.py
  tests/test_project_entry.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
