Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Reduce cyclomatic complexity below 9 in diff and update-patch commands
  dfetch/commands/diff.py
  dfetch/commands/update_patch.py
  tests/test_report.py
  tests/test_stdout_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Sort commands
  .claude/settings.json
Due: none

Revert version bump
  dfetch/__init__.py
  features/check-archive.feature
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-archive.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo-with-submodule.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-patching.feature
  features/journey-basic-usage.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/patch-fuzzy-matching-git.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Restrict commits in settings.json
  .claude/settings.json
Due: none

Review comments
  dfetch/commands/check.py
  dfetch/commands/freeze.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update .claude/commands/dfetch-add.md
  .claude/commands/dfetch-add.md
Due: none

Update doc/dfetch_cover.inc
  doc/dfetch_cover.inc
Due: doc8

Cleanup PDF docs
  .claude/settings.json
  .devcontainer/Dockerfile
  .github/workflows/docs.yml
  CHANGELOG.rst
  dfetch.yaml
  doc/_ext/unique_section_ids.py
  doc/conf.py
  doc/dfetch_cover.inc
  doc/static/fonts/poiretone/.dfetch_data.yaml
  doc/static/fonts/poiretone/ttf/PoiretOne-Regular.ttf
  doc/static/fonts/texgyreheros/.dfetch_data.yaml
  doc/static/fonts/texgyreheros/texgyreheros-bold.otf
  doc/static/fonts/texgyreheros/texgyreheros-bolditalic.otf
  doc/static/fonts/texgyreheros/texgyreheros-italic.otf
  doc/static/fonts/texgyreheros/texgyreheros-regular.otf
Due: isort, black, doc8

Add dfetch skill
  .claude/commands/dfetch-add.md
  .claude/settings.json
Due: none

Fix trailing slash in URL causing ValueError in add command (issue #1137)
  dfetch/util/purl.py
  tests/test_purl.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add changelog entry for trailing-slash fix (#1137)
  CHANGELOG.rst
Due: none

Set up CodeScene MCP server for the project
  .gitignore
  AGENTS.md
Due: none

Refactor
  dfetch/project/gitsubproject.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  dfetch/vcs/git_types.py
  tests/test_git_vcs.py
  tests/test_util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix four code review findings
  dfetch/project/subproject.py
  dfetch/vcs/git.py
  dfetch/vcs/git_types.py
  tests/test_util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add CRA/EN 18031 threat model: asset register, trust boundaries, security controls
  CHANGELOG.rst
  doc/explanation/security.rst
  doc/index.rst
  pyproject.toml
  security/__init__.py
  security/threat_model.py
Due: isort, black, doc8

Fix _apply_move scope, _revision_only_mode branch guard, and docstrings
  dfetch/project/subproject.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Clarify _is_already_pinned: two explicit cases, no None==None revision match
  dfetch/project/subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Revert _revision_only_mode: restore branch guard
  dfetch/project/subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/project/subproject.py
  dfetch/reporting/sbom_reporter.py
  dfetch/vcs/git.py
  tests/test_report.py
  tests/test_stdout_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove codescene agents entry
  AGENTS.md
Due: none

Clean output of git vesion
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add ref
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Add PDF appendix support to scenario-include directive
  doc/_ext/scenario_directive.py
  doc/appendix/scenarios.rst
  doc/index.rst
Due: isort, black, doc8

Make more user facing
  AGENTS.md
  doc/_ext/scenario_directive.py
  doc/appendix/scenarios.rst
  doc/howto/contributing.rst
Due: isort, black, doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
