Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Update changelog
  CHANGELOG.rst
Due: none

Simplify diff
  dfetch/commands/diff.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/project/svn.py
  dfetch/vcs/svn.py
  tests/test_svn.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix test
  tests/test_update.py
Due: isort, black

don't use vcs name
  dfetch/commands/environment.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

move ignored files to superproject
  dfetch/commands/check.py
  dfetch/commands/common.py
  dfetch/commands/update.py
  dfetch/project/superproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

rename vcs to subproject
  dfetch/commands/diff.py
  dfetch/commands/report.py
  dfetch/project/__init__.py
  dfetch/project/git.py
  dfetch/project/subproject.py
  dfetch/project/svn.py
  doc/static/uml/c3_dfetch_components_project.puml
  tests/test_subproject.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move diff into subproject
  dfetch/commands/diff.py
  dfetch/project/git.py
  dfetch/project/subproject.py
  dfetch/project/svn.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/project/subproject.py
  dfetch/vcs/svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Make svn import non-static
  dfetch/commands/import_.py
  dfetch/vcs/svn.py
  tests/test_svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Introduce superproject class
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/freeze.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/manifest/manifest.py
  dfetch/project/superproject.py
  tests/test_check.py
  tests/test_report.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Rename Git & SvnRepo to SubProject
  dfetch/commands/common.py
  dfetch/commands/diff.py
  dfetch/commands/import_.py
  dfetch/project/__init__.py
  dfetch/project/git.py
  dfetch/project/svn.py
  tests/test_import.py
  tests/test_svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Split out Svn VCS
  CHANGELOG.rst
  dfetch/commands/common.py
  dfetch/commands/diff.py
  dfetch/commands/import_.py
  dfetch/project/svn.py
  dfetch/vcs/svn.py
  tests/test_import.py
  tests/test_svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix comment
  dfetch/project/subproject.py
  doc/internal.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Describe the sub & super projects concepts in the getting started
  doc/getting_started.rst
Due: doc8

Minor typo fix
  dfetch/vcs/svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Switch from pykwalify to StrictYAML
  CHANGELOG.rst
  dfetch/manifest/schema.py
  dfetch/manifest/validate.py
  dfetch/resources/__init__.py
  dfetch/resources/schema.yaml
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
  pyproject.toml
  tests/test_resources.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Load manifest only once
  dfetch/commands/common.py
  dfetch/commands/update.py
  dfetch/commands/validate.py
  dfetch/manifest/manifest.py
  dfetch/manifest/parse.py
  dfetch/manifest/project.py
  dfetch/manifest/validate.py
  dfetch/project/superproject.py
  pyproject.toml
  script/create_sbom.py
  script/package.py
  tests/test_check.py
  tests/test_manifest.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add fuzzing
  .gitignore
  pyproject.toml
  tests/test_fuzzing.py
Due: isort, black

Only accept safe strings (no strange chars)
  CHANGELOG.rst
  dfetch/manifest/schema.py
  doc/manifest.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use hardcoded schema
  tests/test_fuzzing.py
Due: isort, black

Update test_fuzzing.py
  tests/test_fuzzing.py
Due: isort, black

Review comments
  dfetch/manifest/schema.py
  tests/test_fuzzing.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Pylint suppress
  tests/test_fuzzing.py
Due: isort, black

Use multiple patches for sphinxcontrib.asciinema
  dfetch.yaml
  doc/_ext/patches/001-autoformat-sphinxcontrib.asciinema.patch
  doc/_ext/patches/002-fix-options-sphinxcontrib.asciinema.patch
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
Due: doc8

Allow multiple patches in manifest
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/manifest/schema.py
  dfetch/project/metadata.py
  dfetch/project/subproject.py
  dfetch/reporting/stdout_reporter.py
  dfetch/util/util.py
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/steps/git_steps.py
  tests/test_fuzzing.py
  tests/test_project_entry.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/manifest/project.py
  dfetch/project/subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
