Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Notes added by 'git notes append'
  3b5931a8e4f05c5865bfdc90466c15875b00dbc8
Due: none

Notes added by 'git notes append'
  8ee8d1d9f6ccef9b9b69bd77873d34367677c242
Due: none

Report externals in svn subprojects
  CHANGELOG.rst
  dfetch/project/svnsubproject.py
  dfetch/vcs/svn.py
  features/fetch-svn-repo-with-external.feature
  features/fetch-svn-repo-with-nonstd-external.feature
  features/import-from-svn.feature
  features/steps/svn_steps.py
  tests/test_svn.py
  tests/test_svnsubproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  4cc65cdbe65a17109408ce43b36570b904d5161c
Due: none

Notes added by 'git notes append'
  5c4543d7ad4381ebf45112801829289c2b18e148
Due: none

Notes added by 'git notes append'
  1a1f11d56094ce58bbdca7147e56f838649bc57b
Due: none

Notes added by 'git notes append'
  03e908ddc9508a763a1aa53681cf686d26e746d7
Due: none

Notes added by 'git notes append'
  94155f5167b154e3bfc7d5d72349cf211bf7758f
Due: none

Improve docs
  .claude/settings.json
  CHANGELOG.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  doc/howto/verify-integrity.rst
  doc/static/css/custom.css
  pyproject.toml
  security/report_template.rst
  security/tm_common.py
  security/tm_elements.py
  security/tm_render.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8

Notes added by 'git notes append'
  dc320e08add10230127cca7c26879e62d24a3e23
Due: none

doc(security): link each accepted risk to its justifying assumption
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8

Notes added by 'git notes append'
  3ccf646333db89aa258d1e467f164e2cbb8882e2
Due: none

Warn on plaintext transport scheme in project URLs (DFT-01)
  CHANGELOG.rst
  dfetch/manifest/project.py
  dfetch/project/subproject.py
  doc/explanation/security.rst
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/tm_usage.py
  tests/test_manifest.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update doc/explanation/security.rst
  doc/explanation/security.rst
Due: doc8

Notes added by 'git notes append'
  8ee5ea6271b6683d9247ef8559e88e7db25d2341
Due: none

Use https:// instead of svn:// in remote SVN feature tests
  features/check-svn-repo.feature
  features/fetch-svn-repo.feature
  features/freeze-projects.feature
  features/list-projects.feature
  features/patch-after-fetch-svn.feature
Due: none

Notes added by 'git notes append'
  fdf22ccb0e460fe00ee6d940b75910c10420591a
Due: none

Fix off-by-one dropping a remote in dfetch import
  dfetch/commands/import_.py
  tests/test_import.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  9ff1879e33b8e5bf6f5d9eeb1bb2a9f30a1bdcd2
Due: none

Collapse threat-model tables to one curated row per threat
  doc/explanation/threat_model_supply_chain.rst
  doc/explanation/threat_model_usage.rst
  security/tm_elements.py
  security/tm_render.py
  security/tm_supply_chain.py
  security/tm_usage.py
Due: isort, black, doc8

fix(rtfd): install LaTeX toolchain via apt_packages for PDF generation
  .readthedocs.yml
Due: none

Add property-based fuzz tests for pure parser helpers
  CHANGELOG.rst
  dfetch/util/purl.py
  tests/test_fuzzing_parsers.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon
