Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Resolve ECR-i and ECR-m gaps as accepted design decisions; drop C-045
  CHANGELOG.rst
  doc/explanation/compliance_track.rst
  security/compliance.py
  security/compliance_data.py
  security/dfetch.component-definition.json
Due: isort, black, doc8

Notes added by 'git notes append'
  654f3e1a88ca62b06670f320f57a8ffc8b4cf7e9
Due: none

Notes added by 'git notes append'
  5e5251d2208bff036bf264632c3d1c401eaff829
Due: none

Add OSCAL Component Definition to release artifacts
  .github/workflows/python-publish.yml
Due: none

Attest OSCAL Component Definition with SLSA build provenance
  .github/workflows/python-publish.yml
Due: none

Fix RST asterisk escaping, ImportError breadth, and C-005 description accuracy
  CHANGELOG.rst
  doc/explanation/compliance_track.rst
  security/compliance.py
  security/compliance_data.py
  security/dfetch.component-definition.json
Due: isort, black, doc8

Add --track-b-only flag; fail fast when Track A controls unavailable
  .github/workflows/python-publish.yml
  doc/explanation/compliance_track.rst
  security/README.md
  security/compliance.py
Due: isort, black, doc8

Add CRA Compliance Track B: OSCAL 1.1.2 three-tier traceability (#1271)
  .github/workflows/python-publish.yml
  CHANGELOG.rst
  doc/explanation/compliance_track.rst
  doc/explanation/security.rst
  security/README.md
  security/compliance.py
  security/compliance_data.py
  security/cra_pren_4000014_oscal_catalog.json
  security/dfetch.component-definition.json
Due: isort, black, doc8

Notes added by 'git notes append'
  b0358cc80405548dd3032d989423a7034890ea12
Due: none

Fix documentation gaps in compliance_track and security docs
  doc/explanation/compliance_track.rst
  doc/explanation/security.rst
  security/compliance.py
  security/compliance_data.py
Due: isort, black, doc8

Close documentation-only compliance gaps in Track B
  SECURITY.md
  doc/explanation/compliance_track.rst
  security/compliance_data.py
Due: isort, black, doc8

Fix documentation gaps in compliance_track and security docs (#1272)
  SECURITY.md
  doc/explanation/compliance_track.rst
  doc/explanation/security.rst
  security/compliance.py
  security/compliance_data.py
Due: isort, black, doc8

Notes added by 'git notes append'
  0c54e1170c4c838a40e72a44041ce79a8e2c088c
Due: none

Remove Track B terminology from compliance docs; move control register to own page
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  doc/explanation/security.rst
Due: doc8

Remove Track B terminology from compliance docs; move control register to own page (#1273)
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  doc/explanation/security.rst
Due: doc8

Notes added by 'git notes append'
  7812ca79cdf1e57f4f987682b5e133ae8e7c7a08
Due: none

Add navigation links to compliance docs
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  doc/explanation/security.rst
Due: doc8

Add navigation links to compliance docs (#1275)
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  doc/explanation/security.rst
Due: doc8

Notes added by 'git notes append'
  bb1c1713633ad6173b679806f8e38b5985aed78d
Due: none

Renormalize fetched files per superproject per-file .gitattributes eol rules
  CHANGELOG.rst
  dfetch/commands/update.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/vcs/git.py
  features/steps/git_steps.py
  features/superproject-line-ending-attrs.feature
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Implement C-043: release-gate CVE check via pip-audit
  .github/workflows/python-publish.yml
  CHANGELOG.rst
  doc/explanation/compliance_track.rst
  doc/explanation/control_register.rst
  security/compliance_data.py
  security/dfetch.component-definition.json
Due: isort, black, doc8

Pin pip-audit in pyproject.toml [cve-audit] extra; install in devcontainer
  .devcontainer/devcontainer.json
  .github/workflows/python-publish.yml
  pyproject.toml
Due: none

Fix pip-audit scope and stale compliance docs wording
  .github/workflows/python-publish.yml
  doc/explanation/compliance_track.rst
Due: doc8

Notes added by 'git notes append'
  baba2ce19496c136a423f8221c87c4a41a79c4b6
Due: none

doc: add security documentation pipeline flow diagram
  doc/explanation/security.rst
  doc/static/uml/security_doc_flow.puml
Due: doc8

doc: add GitHub links to source files in security pipeline description
  doc/explanation/security.rst
Due: doc8

doc: restructure security doc flow diagram after EU Blue Guide fig 4.1.2.2
  doc/explanation/security.rst
  doc/static/uml/security_doc_flow.puml
Due: doc8

doc: add artifact quick-reference table and runtime output cross-links
  doc/explanation/security.rst
Due: doc8

doc: add Further Reading section with references to CRA, EN 40000, OSCAL, STRIDE
  doc/explanation/security.rst
Due: doc8

doc: correct SBOM scope — release attestations about dfetch, not dfetch report
  doc/explanation/security.rst
  doc/static/uml/security_doc_flow.puml
Due: doc8

doc: add attestation, provenance and security standard terms to glossary
  doc/reference/glossary.rst
Due: doc8
