Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, flake8, mypy, doc8, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        args: [--strict]
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Use 100% width
  doc/index.rst
Due: doc8

Autodiscover unittests
  dfetch.code-workspace
Due: none

Fix path resolution
  doc/static/uml/generate_diagram.py
Due: isort, black, doc8

Add basic c1 & c2 diagrams
  doc/index.rst
  doc/internal.rst
  doc/static/uml/c1_dfetch_context.puml
  doc/static/uml/c2_dfetch_containers.puml
Due: doc8

Fix crosses & checkmarks
  doc/alternatives.rst
Due: doc8

Fix malformed alernatives table
  doc/alternatives.rst
Due: doc8

auto format with new black
  dfetch/commands/common.py
  dfetch/project/svn.py
  dfetch/vcs/git.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Remove trailing space
  doc/generate-casts/generate-casts.sh
Due: doc8

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Install hooks in gitpod
  .gitpod/Dockerfile
Due: none

Don't upload coverage when there is no secret
  .github/workflows/test.yml
Due: none

Use env variable for secrets
  .github/workflows/test.yml
Due: none

Update to CycloneDX 4.0.0
  dfetch/reporting/sbom_reporter.py
  features/report-sbom.feature
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

Auto-format
  doc/static/uml/generate_diagram.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/manifest_steps.py
  features/steps/svn_steps.py
  tests/test_check.py
  tests/test_cmdline.py
  tests/test_git_vcs.py
  tests/test_import.py
  tests/test_manifest.py
  tests/test_report.py
  tests/test_svn.py
  tests/test_update.py
  tests/test_util_version.py
  tests/test_vcs.py
Due: isort, black, doc8

Use correct import
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, flake8, mypy, pydocstyle, bandit, radon (maintenance index), radon (cyclomatic complexity), xenon

format on save
  dfetch.code-workspace
Due: none

Create landing page based on docs
  .gitignore
  doc/landing-page/Makefile
  doc/landing-page/conf.py
  doc/landing-page/index.rst
  doc/landing-page/make.bat
  doc/landing-page/static/css/custom.css
Due: isort, black, doc8

Already running in doc/landing-page
  .github/workflows/landing-page.yml
Due: none

Remove condition from step
  .github/workflows/landing-page.yml
Due: none

add .nojekyll file for disabling jekyll
  doc/landing-page/Makefile
Due: doc8

Use other github action
  .github/workflows/landing-page.yml
Due: none

Fix auto issues
  .gitignore
  doc/landing-page/conf.py
Due: isort, black, doc8

Revert path change
  .github/workflows/landing-page.yml
Due: none

Update landing page
  dfetch.yaml
  doc/landing-page/conf.py
  doc/landing-page/index.rst
  pyproject.toml
Due: isort, black, doc8

Use different deploy key
  .github/workflows/landing-page.yml
Due: none

Simplify
  doc/landing-page/index.rst
Due: doc8

Create landing-page.yml
  .github/workflows/landing-page.yml
Due: none

Use GITHUB_TOKEN instead of GH_TOKEN
  .github/workflows/landing-page.yml
Due: none

Drop sphinx req for now
  pyproject.toml
Due: none

Fix paths in landing-page.yml
  .github/workflows/landing-page.yml
Due: none
