Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Add alternatives
  doc/alternatives.rst
Due: doc8

Update list of extensions
  .gitpod.yml
  dfetch.code-workspace
Due: none

Remove old settings from workspace
  dfetch.code-workspace
Due: none

Use as_file instead of deprecated path
  dfetch/resources/__init__.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add cygwin job
  .github/workflows/run.yml
Due: none

Don't rely on deprecated svn interface in example manifest
  example/dfetch.yaml
Due: none

Add basic dev-container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Update run.yml
  .github/workflows/run.yml
Due: none

Make sure svn is installed on the images
  .github/workflows/run.yml
  .github/workflows/test.yml
Due: none

Don't call empty abstract super()
  dfetch/reporting/check/reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix pylint issues
  dfetch/project/git.py
  dfetch/project/svn.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Please codespell
  features/checked-project-has-dependencies.feature
  features/updated-project-has-dependencies.feature
Due: none

Use LicenseExpression instead of LicenseChoice(expression=
  dfetch/reporting/sbom_reporter.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump version in feature test
  features/report-sbom.feature
Due: none

Make cyclonedx version python version dependent
  pyproject.toml
Due: none

Replace gitpod with codespaces
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .gitpod.yml
  .gitpod/Dockerfile
  README.md
  doc/contributing.rst
Due: doc8

Update gitignore
  .gitignore
Due: none

Update pre-commit
  .pre-commit-config.yaml
Due: none

Fixup file endings
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .gitignore
Due: none

Fix feature tests in devcontainer
  features/steps/git_steps.py
Due: isort, black

Add behave test adapter
  .devcontainer/devcontainer.json
  dfetch.code-workspace
Due: none

specify path to workspace
  .devcontainer/devcontainer.json
Due: none

Don't use workspace, but folder path
  .devcontainer/devcontainer.json
  .gitignore
Due: none

Make the defaultInterpreterPath windows specific
  dfetch.code-workspace
Due: none

Update the py version in contributing
  doc/contributing.rst
Due: doc8

Ignore warning about root user action
  .devcontainer/Dockerfile
Due: none

Set bash as default shell
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Update casts to remove traces of gitpod
  doc/asciicasts/basic.cast
  doc/asciicasts/check-ci.cast
  doc/asciicasts/check.cast
  doc/asciicasts/diff.cast
  doc/asciicasts/environment.cast
  doc/asciicasts/freeze.cast
  doc/asciicasts/import.cast
  doc/asciicasts/init.cast
  doc/asciicasts/report.cast
  doc/asciicasts/sbom.cast
  doc/asciicasts/update.cast
  doc/asciicasts/validate.cast
Due: doc8

Add tasks for the various win scripts
  dfetch.code-workspace
Due: none
