Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Change bands
  doc/landing-page/static/css/custom.css
Due: doc8

Cleanup
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

mention installers
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

add ci/cd visuals
  doc/landing-page/index.rst
  doc/landing-page/static/ci-diagram.svg
  doc/landing-page/static/css/custom.css
Due: doc8

add patch diagrams
  doc/landing-page/index.rst
  doc/landing-page/static/patch-diagram.svg
Due: doc8

Add new selling points, CSS animations, and page-wide color bands
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

Apply review feedback: URL fix, kebab keyframes, button animation scope
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

improve styling
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

Fix secondary buttons invisible on white background
  doc/landing-page/static/css/custom.css
Due: doc8

style asciicasts
  doc/landing-page/static/css/custom.css
Due: doc8

Modernize landing page with professional design overhaul
  doc/landing-page/conf.py
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: isort, black, doc8

Cleanup landing
  doc/landing-page/Makefile
  doc/landing-page/conf.py
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
  doc/landing-page/static/js/scroll-animate.js
Due: isort, black, doc8

style how it works
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

Make docs visible
  doc/landing-page/static/css/custom.css
Due: doc8

Add manifest-to-folder infographic
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

Fix mobile button overlap on landing page
  doc/landing-page/index.rst
Due: doc8

Use brand icons (Tux, Apple, Windows, Python) on landing page platform cards
  doc/landing-page/conf.py
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: isort, black, doc8

Add SRI hashes to FA CDN links and aria-hidden to decorative icons
  doc/landing-page/conf.py
  doc/landing-page/index.rst
Due: isort, black, doc8

Add import-linter to enforce C4 architecture constraints
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Document import-linter in contributing guide and architecture docs
  doc/contributing.rst
  doc/internal.rst
Due: doc8

Buttons side by side
  doc/landing-page/index.rst
Due: doc8

Update patch graphic
  doc/landing-page/static/patch-diagram.svg
Due: doc8

Add band
  doc/landing-page/index.rst
  doc/landing-page/static/css/custom.css
Due: doc8

Dots more visible
  doc/landing-page/static/css/custom.css
Due: doc8

Update doc/landing-page/index.rst
  doc/landing-page/index.rst
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
