Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Fix colordot in pdf
  doc/_ext/colordot.py
Due: isort, black, doc8

Fix scenarios not in appendix
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Pdf docs (#1264)
  doc/_ext/colordot.py
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Notes added by 'git notes append'
  7642a9e1d4f7ce9bd9f1f532338c83c9904391cf
Due: none

Fix #1096: print runtime errors in context of failing subproject
  features/check-git-repo.feature
  features/check-svn-repo.feature
  features/patch-after-fetch-svn.feature
Due: none

Fuzz test again
  tests/test_fuzzing.py
Due: isort, black

Reduce cyclomatic complexity below 9 in diff and update-patch commands
  dfetch/commands/diff.py
  dfetch/commands/update_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix glob_within_root root comparison and narrow git fetch permission
  .claude/settings.json
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Print errors instead of warnings
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/format_patch.py
  dfetch/commands/freeze.py
  dfetch/commands/update.py
  dfetch/commands/update_patch.py
  dfetch/log.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix #1096: print runtime errors in context of failing subproject
  CHANGELOG.rst
  dfetch/__init__.py
  dfetch/commands/check.py
  dfetch/commands/format_patch.py
  dfetch/commands/freeze.py
  dfetch/commands/update.py
  dfetch/util/util.py
  features/check-archive.feature
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-archive.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo-with-submodule.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-patching.feature
  features/journey-basic-usage.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/patch-fuzzy-matching-git.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Improve logging
  dfetch/log.py
  dfetch/project/svnsubproject.py
  dfetch/vcs/svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup commands
  .claude/settings.json
Due: none

Restrict commits in settings.json
  .claude/settings.json
Due: none

Revert version bump
  dfetch/__init__.py
  features/check-archive.feature
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-archive.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo-with-submodule.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-patching.feature
  features/journey-basic-usage.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/patch-fuzzy-matching-git.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix fuzz test
  tests/test_fuzzing.py
Due: isort, black

Sort commands
  .claude/settings.json
Due: none

Fix node reuse across multiple ScenarioAppendixPlaceholders
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Log new version check
  dfetch/commands/check.py
  dfetch/commands/environment.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/commands/check.py
  dfetch/commands/freeze.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor: replace SubProject inheritance with has-a Fetcher composition
  dfetch/commands/add.py
  dfetch/commands/environment.py
  dfetch/commands/format_patch.py
  dfetch/project/__init__.py
  dfetch/project/archivesubproject.py
  dfetch/project/fetcher.py
  dfetch/project/gitsubproject.py
  dfetch/project/gitsuperproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/project/svnsuperproject.py
  pyproject.toml
  tests/test_add.py
  tests/test_archive.py
  tests/test_subproject.py
  tests/test_svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: address code-review findings from composition refactoring
  dfetch/commands/add.py
  dfetch/project/__init__.py
  dfetch/project/gitsubproject.py
  dfetch/terminal/pick.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix runtime error printing (#1129)
  .claude/settings.json
  CHANGELOG.rst
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/environment.py
  dfetch/commands/format_patch.py
  dfetch/commands/freeze.py
  dfetch/commands/update.py
  dfetch/commands/update_patch.py
  dfetch/log.py
  dfetch/project/svnsubproject.py
  dfetch/util/util.py
  dfetch/vcs/svn.py
  doc/_ext/scenario_directive.py
  features/check-git-repo.feature
  features/check-svn-repo.feature
  features/fetch-archive.feature
  features/fetch-checks-destination.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/updated-project-has-dependencies.feature
  tests/test_fuzzing.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  54708e5e0c7f2f40940b270fc0dc97405ed78ed9
Due: none

fix: resolve all pre-commit check failures
  dfetch/commands/add.py
  dfetch/project/archivesubproject.py
  dfetch/project/fetcher.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  dfetch/terminal/pick.py
  dfetch/terminal/prompt.py
  dfetch/util/license.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: address four code-review findings
  dfetch/commands/add.py
  dfetch/log.py
  dfetch/project/svnsubproject.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

docs: update architecture diagram and AGENTS.md for composition refactoring
  AGENTS.md
  doc/static/uml/c3_dfetch_components_project.puml
Due: doc8

Introduce FetchContext dataclass; migrate all fetchers
  dfetch/project/archivesubproject.py
  dfetch/project/fetcher.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/svnsubproject.py
  tests/test_subproject.py
  tests/test_svnsubproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  fe1ced65cc9968cca0d9130571dd967aab94717e
Due: none

Fix tabs-to-subsubsection transform for HTML-cached doctrees in PDF build
  doc/_ext/latex_tabs.py
Due: isort, black, doc8

Fix tabs-to-subsubsection transform for HTML-cached doctrees in PDF build (#1267)
  doc/_ext/latex_tabs.py
Due: isort, black, doc8

Notes added by 'git notes append'
  e35c25164afab16ee88f1931536863997fe9a662
Due: none

Fix bug-review findings across version, purl, manifest and git modules
  CHANGELOG.rst
  dfetch/manifest/manifest.py
  dfetch/manifest/project.py
  dfetch/manifest/version.py
  dfetch/util/purl.py
  dfetch/vcs/git.py
  tests/test_add.py
  tests/test_git_vcs.py
  tests/test_project_entry.py
  tests/test_project_version.py
  tests/test_purl.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add CRA Compliance Track B: OSCAL 1.1.2 three-tier traceability
  CHANGELOG.rst
  doc/explanation/compliance_track.rst
  doc/explanation/security.rst
  security/README.md
  security/compliance.py
  security/compliance_data.py
  security/cra_pren_4000014_oscal_catalog.json
  security/dfetch.component-definition.json
Due: isort, black, doc8

Fix three review findings in CRA Track B compliance module
  doc/explanation/compliance_track.rst
  security/compliance.py
Due: isort, black, doc8

Resolve three ECR-e gaps as accepted design decisions
  doc/explanation/compliance_track.rst
  security/compliance_data.py
  security/dfetch.component-definition.json
Due: isort, black, doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
