Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Style vendoring page with landing-page icons, grids, and cards
  doc/static/css/custom.css
  doc/vendoring.rst
Due: doc8

Align README and docs index messaging with landing page
  README.md
  doc/index.rst
Due: doc8

Style flow diagrams to match the docs design system
  doc/static/css/custom.css
  doc/static/uml/check.puml
  doc/static/uml/update.puml
Due: doc8

Restructure manual into four logical groups
  doc/manual.rst
Due: doc8

Restyle CLI Cheatsheet as a printable 2×2 card grid
  doc/manual.rst
  doc/static/css/custom.css
Due: doc8

Redesign CLI Cheatsheet as a beautiful dark terminal card
  doc/manual.rst
  doc/static/css/custom.css
Due: doc8

Add command mindmap and wire up flow diagrams in manual
  doc/manual.rst
  doc/static/css/custom.css
  doc/static/uml/commands.puml
Due: doc8

Improve command documentation clarity and completeness
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/environment.py
  dfetch/commands/format_patch.py
  dfetch/commands/import_.py
  dfetch/commands/init.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/commands/validate.py
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add visual Design Guide to contributing docs
  doc/contributing.rst
  doc/static/css/custom.css
Due: doc8

Add Diataxis section colouring to sidebar and page headers
  doc/conf.py
  doc/contributing.rst
  doc/static/css/custom.css
  doc/static/js/diataxis.js
Due: isort, black, doc8

Deduplicate docs
  dfetch/commands/add.py
  doc/manual.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

remove outdated after confirmation mention
  features/add-project-through-cli.feature
Due: none

Vendor fonts using dfetch
  dfetch.yaml
  doc/static/css/custom.css
  doc/static/fonts/inter/.dfetch_data.yaml
  doc/static/fonts/inter/Inter-Bold.woff2
  doc/static/fonts/inter/Inter-ExtraBold.woff2
  doc/static/fonts/inter/Inter-ExtraLight.woff2
  doc/static/fonts/inter/Inter-Light.woff2
  doc/static/fonts/inter/Inter-Medium.woff2
  doc/static/fonts/inter/Inter-Regular.woff2
  doc/static/fonts/inter/Inter-SemiBold.woff2
  doc/static/fonts/inter/Inter-Thin.woff2
  doc/static/fonts/inter/LICENSE.txt
  doc/static/fonts/jetbrains-mono/.dfetch_data.yaml
  doc/static/fonts/jetbrains-mono/JetBrainsMono-Medium.woff2
  doc/static/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2
Due: doc8

Fix styling
  doc/static/css/custom.css
  doc/static/js/diataxis.js
Due: doc8

Split out cheatsheet
  doc/cli_cheatsheet.rst
  doc/index.rst
  doc/manual.rst
  doc/static/css/custom.css
Due: doc8

Split out migration guide
  dfetch/commands/import_.py
  doc/index.rst
  doc/migration.rst
  doc/static/js/diataxis.js
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Split out patching guide
  doc/index.rst
  doc/manual.rst
  doc/patching.rst
  doc/static/js/diataxis.js
Due: doc8

Move cicd docs into howto
  doc/check-ci.rst
  doc/index.rst
  doc/manual.rst
  doc/sbom.rst
  doc/static/js/diataxis.js
Due: doc8

Move adding project to howto
  dfetch/commands/add.py
  doc/adding-a-project.rst
  doc/index.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move updating project to howto
  dfetch/commands/update.py
  doc/index.rst
  doc/updating-projects.rst
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use more active titles for howto
  doc/adding-a-project.rst
  doc/check-ci.rst
  doc/contributing.rst
  doc/migration.rst
  doc/patching.rst
  doc/sbom.rst
  doc/troubleshooting.rst
  doc/updating-projects.rst
Due: doc8

Rename manual to command
  README.md
  doc/commands.rst
  doc/conf.py
  doc/index.rst
  doc/landing-page/index.rst
Due: isort, black, doc8

Fix cheatsheet
  doc/cli_cheatsheet.rst
  doc/static/css/custom.css
Due: doc8

Fix pre format
  doc/static/css/custom.css
Due: doc8

Reword commands
  doc/commands.rst
Due: doc8

Restructure docs
  doc/_ext/scenario_directive.py
  doc/conf.py
  doc/explanation/alternatives.rst
  doc/explanation/internal.rst
  doc/explanation/vendoring.rst
  doc/howto/adding-a-project.rst
  doc/howto/check-ci.rst
  doc/howto/contributing.rst
  doc/howto/migration.rst
  doc/howto/patching.rst
  doc/howto/sbom.rst
  doc/howto/troubleshooting.rst
  doc/howto/updating-projects.rst
  doc/index.rst
  doc/reference/changelog.rst
  doc/reference/cli_cheatsheet.rst
  doc/reference/commands.rst
  doc/reference/legal.rst
  doc/reference/manifest.rst
  doc/tutorials/getting_started.rst
  doc/tutorials/installation.rst
Due: isort, black, doc8

shorter titles
  doc/howto/patching.rst
  doc/howto/sbom.rst
  doc/howto/troubleshooting.rst
Due: doc8

Update doc/howto/sbom.rst
  doc/howto/sbom.rst
Due: doc8

Split add scenarios into separate feature files and wire up both casts
  doc/manual.rst
  features/add-project-through-cli.feature
  features/interactive-add.feature
Due: doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
