Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Make all paths absolute and resolve them fixes #946
  dfetch/project/superproject.py
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use path more consistent
  dfetch/project/superproject.py
  dfetch/util/util.py
  dfetch/vcs/git.py
  dfetch/vcs/svn.py
  tests/test_check.py
  tests/test_report.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Diff: new files have extra new line Fixes #945
  CHANGELOG.rst
  dfetch/vcs/patch.py
  tests/test_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update test_patch.py
  tests/test_patch.py
Due: isort, black

Make feature tests more robust
  features/steps/git_steps.py
Due: isort, black

Make comments more consistent
  dfetch/project/git.py
  dfetch/project/subproject.py
  dfetch/project/svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup fuzz test
  tests/test_fuzzing.py
Due: isort, black

Make feature test svn similar to git
  features/diff-in-svn.feature
  features/steps/svn_steps.py
Due: isort, black

Reorder items in manual based on similarity
  doc/manual.rst
Due: doc8

Make parameter names more consistent
  dfetch/project/subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix #614: Introduce new update-patch command
  CHANGELOG.rst
  dfetch.code-workspace
  dfetch/__main__.py
  dfetch/commands/command.py
  dfetch/commands/diff.py
  dfetch/commands/update_patch.py
  dfetch/project/git.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/project/svn.py
  dfetch/vcs/git.py
  dfetch/vcs/patch.py
  dfetch/vcs/svn.py
  doc/asciicasts/update-patch.cast
  doc/generate-casts/generate-casts.sh
  doc/generate-casts/update-patch-demo.sh
  doc/manual.rst
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/steps/svn_steps.py
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  tests/test_fuzzing.py
  tests/test_patch.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Let patch_ng use DLogger
  dfetch/log.py
  dfetch/vcs/patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Replace colored-logs with Rich
  CHANGELOG.rst
  dfetch/log.py
  doc/legal.rst
  features/steps/generic_steps.py
  pyproject.toml
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Replace colored-logs with Rich
  CHANGELOG.rst
  dfetch/__main__.py
  dfetch/log.py
  doc/legal.rst
  features/environment.py
  features/patch-after-fetch-git.feature
  features/steps/generic_steps.py
  pyproject.toml
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Replace halo with Rich
  CHANGELOG.rst
  dfetch/log.py
  dfetch/project/subproject.py
  doc/legal.rst
  features/steps/generic_steps.py
  pyproject.toml
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move log cleansing to central place
  features/steps/generic_steps.py
Due: isort, black

Group logging under a project name header
  CHANGELOG.rst
  dfetch/commands/common.py
  dfetch/commands/environment.py
  dfetch/commands/validate.py
  dfetch/log.py
  dfetch/project/subproject.py
  dfetch/vcs/patch.py
  doc/_ext/sphinxcontrib_asciinema/.dfetch_data.yaml
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-patching.feature
  features/journey-basic-usage.feature
  features/keep-license-in-project.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/steps/generic_steps.py
  features/updated-project-has-dependencies.feature
  tests/test_report.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove yarn keys
  .devcontainer/Dockerfile
Due: none

Refine experience
  dfetch/commands/update_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix update-patch cast
  doc/asciicasts/update-patch.cast
  doc/generate-casts/update-patch-demo.sh
Due: doc8

Add output to feature tests
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
Due: none

Revert command update in debug
  dfetch.code-workspace
Due: none

Fix review comments
  dfetch/commands/update_patch.py
  dfetch/project/git.py
  dfetch/vcs/patch.py
  doc/generate-casts/update-patch-demo.sh
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Correct tests for update-patch svn
  features/update-patch-in-svn.feature
  tests/test_patch.py
Due: isort, black

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
