Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: end-of-file-fixer
        exclude: ^doc/static/uml/styles/plantuml-c4/
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    -   id: isort
        name: Sort import
        entry: isort
        language: system
        types: [file, python]
    -   id: black
        name: Black (auto-format)
        entry: black
        language: system
        types: [file, python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^dfetch/
        types: [file, python]
    # -   id: flake8
    #     name: flake8
    #     entry: flake8
    #     language: system
    #     files: ^dfetch/
    #     types: [file, python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: doc8
        name: doc8
        entry: doc8
        language: system
        files: ^doc/
        types: [file]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: bandit (security)
        name: bandit
        entry: bandit
        language: system
        files: ^dfetch/
        types: [file, python]
    -   id: vulture (dead code)
        name: vulture
        language: python
        entry: vulture
        args: ["--min-confidence=80"]
        types: [python]
        files: ^dfetch/
        require_serial: true
    -   id: pyroma (package friendliness)
        name: Pyroma
        entry: pyroma
        language: python
        args: ["-d", "--min=10", "."]
        pass_filenames: false
        always_run: true
    -   id: radon (maintenance index)
        name: radon (maintenance index)
        entry: radon
        language: system
        files: ^dfetch/
        args: [mi, -nb]
        types: [file, python]
    -   id: radon (cyclomatic complexity)
        name: radon (cyclomatic complexity)
        entry: radon
        language: system
        files: ^dfetch/
        args: [cc, -nb]
        types: [file, python]
    -   id: xenon
        name: xenon
        entry: xenon
        language: system
        files: ^dfetch/
        args: [-b, B, -m, A, -a, A]
        types: [file, python]
    -   id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]

Fix submodule filter to remove exact paths instead of top-level dirs; handle empty parents and .git collision
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove unnecessary pylint suppression from _NoExpandRichHandler; fix submodule ancestor check; add unit tests
  dfetch/log.py
  dfetch/vcs/git.py
  tests/test_git_vcs.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: address review comments on submodule filtering and log handler
  dfetch/log.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor: fix xenon and mypy issues found by pre-commit
  dfetch/log.py
  dfetch/util/license.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

refactor: deduplicate safe_rm calls for outside-src submodule dirs
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: exclude submodules outside src folder when src is specified
  dfetch/vcs/git.py
  features/fetch-git-repo-with-submodule.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Remove inline type: ignore[misc] from _NoExpandRichHandler
  dfetch/log.py
  pyproject.toml
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

fix: restore LogRender inheritance to fix CI mypy assignment error
  dfetch/log.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Notes added by 'git notes append'
  c25a73498ffe48b66723b25fadb378183ddf4d1a
Due: none

Bump sbom version
  features/report-sbom.feature
Due: none

Notes added by 'git notes append'
  ccba2e1bf5443d55fa318525e294bbd68aeb3230
Due: none

Fix #1096: print runtime errors in context of failing subproject
  CHANGELOG.rst
  dfetch/__init__.py
  dfetch/commands/check.py
  dfetch/commands/format_patch.py
  dfetch/commands/freeze.py
  dfetch/commands/update.py
  dfetch/util/util.py
  features/check-archive.feature
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-archive.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo-with-submodule.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-patching.feature
  features/journey-basic-usage.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/patch-fuzzy-matching-git.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Reduce cyclomatic complexity below 9 in diff and update-patch commands
  dfetch/commands/diff.py
  dfetch/commands/update_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Sort commands
  .claude/settings.json
Due: none

Fix #1096: print runtime errors in context of failing subproject
  features/check-git-repo.feature
  features/check-svn-repo.feature
  features/patch-after-fetch-svn.feature
Due: none

Cleanup commands
  .claude/settings.json
Due: none

Revert version bump
  dfetch/__init__.py
  features/check-archive.feature
  features/check-git-repo.feature
  features/check-specific-projects.feature
  features/check-svn-repo.feature
  features/checked-project-has-dependencies.feature
  features/diff-in-git.feature
  features/diff-in-svn.feature
  features/fetch-archive.feature
  features/fetch-checks-destination.feature
  features/fetch-file-pattern-git.feature
  features/fetch-file-pattern-svn.feature
  features/fetch-git-repo-with-submodule.feature
  features/fetch-git-repo.feature
  features/fetch-single-file-git.feature
  features/fetch-single-file-svn.feature
  features/fetch-with-ignore-git.feature
  features/fetch-with-ignore-svn.feature
  features/guard-against-overwriting-git.feature
  features/guard-against-overwriting-svn.feature
  features/handle-invalid-metadata.feature
  features/journey-basic-patching.feature
  features/journey-basic-usage.feature
  features/list-projects.feature
  features/patch-after-fetch-git.feature
  features/patch-after-fetch-svn.feature
  features/patch-fuzzy-matching-git.feature
  features/report-sbom.feature
  features/suggest-project-name.feature
  features/update-patch-in-git.feature
  features/update-patch-in-svn.feature
  features/updated-project-has-dependencies.feature
  features/validate-manifest.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Restrict commits in settings.json
  .claude/settings.json
Due: none

Review comments
  dfetch/commands/check.py
  dfetch/commands/freeze.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix glob_within_root root comparison and narrow git fetch permission
  .claude/settings.json
  dfetch/util/util.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add sshhostkeyerror
  dfetch/vcs/svn.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Unshallow docs
  .readthedocs.yml
Due: none

fixup
  .readthedocs.yml
Due: none

Prevent hanging in svn+ssh
  CHANGELOG.rst
  dfetch/vcs/svn.py
  doc/howto/troubleshooting.rst
  features/check-svn-repo.feature
  tests/test_svn.py
  tests/test_svn_vcs.py
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Respect superproject .gitattributes eol rule when fetching git dependencies
  CHANGELOG.rst
  dfetch/project/gitsubproject.py
  dfetch/vcs/git.py
  dfetch/vcs/git_types.py
  doc/howto/updating-projects.rst
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/superproject-line-ending-attrs.feature
Due: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add SVN subproject eol support and cross-check scenarios
  dfetch/project/svnsubproject.py
  dfetch/vcs/git.py
  features/steps/svn_steps.py
  features/superproject-line-ending-attrs.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix apply_eol_conversion: use commit+delete+checkout instead of checkout-index
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add explanatory comments for non-obvious heuristics
  dfetch/project/gitsubproject.py
  dfetch/vcs/git.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Use git-native eol config before fetch instead of Python post-processing
  dfetch/vcs/git.py
  features/superproject-line-ending-attrs.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Address review feedback on superproject eol feature
  dfetch/project/gitsubproject.py
  dfetch/vcs/git.py
  features/steps/generic_steps.py
  features/steps/git_steps.py
  features/superproject-line-ending-attrs.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Ignore .claude/worktrees/ directory
  .gitignore
Due: none

Use Scenario Outline + Examples tables in eol feature; update docs
  doc/howto/updating-projects.rst
  features/superproject-line-ending-attrs.feature
Due: doc8
