Repository dfetch-org/dfetch: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, mypy, doc8, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

isort:
  name: Sort import
  entry: isort
  language: system

black:
  name: Black (auto-format)
  entry: black
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

doc8:
  name: doc8
  entry: doc8
  language: system

pydocstyle:
  name: pydocstyle
  entry: pydocstyle
  language: system

bandit (security):
  name: bandit
  entry: bandit
  language: system

vulture (dead code):
  name: vulture
  language: python
  entry: vulture
  args:
  - --min-confidence=80
  require_serial: true

radon (maintenance index):
  name: radon (maintenance index)
  entry: radon
  language: system
  args:
  - mi
  - -nb

radon (cyclomatic complexity):
  name: radon (cyclomatic complexity)
  entry: radon
  language: system
  args:
  - cc
  - -nb

xenon:
  name: xenon
  entry: xenon
  language: system
  args:
  - -b
  - B
  - -m
  - A
  - -a
  - A

Don't backup patch during update, we are in vcs
  dfetch/commands/update_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Rename git to gitsubproject and svn to svnsubproject
  dfetch/project/__init__.py
  dfetch/project/gitsubproject.py
  dfetch/project/superproject.py
  dfetch/project/svnsubproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Split SuperProject into separate VCS types
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/format_patch.py
  dfetch/commands/freeze.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/commands/update_patch.py
  dfetch/project/superproject.py
  dfetch/vcs/svn.py
  tests/test_check.py
  tests/test_report.py
  tests/test_svn.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Getting revision of local repo should be done from superproject
  dfetch/commands/diff.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/project/svnsubproject.py
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Reduce SuperProject interface
  dfetch/commands/update_patch.py
  dfetch/project/superproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move import superproject concerns into superproject
  dfetch/commands/import_.py
  dfetch/project/superproject.py
  features/import-from-git.feature
  features/import-from-svn.feature
  tests/test_import.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Move diff into superproject
  dfetch/commands/diff.py
  dfetch/commands/update_patch.py
  dfetch/project/gitsubproject.py
  dfetch/project/subproject.py
  dfetch/project/superproject.py
  dfetch/project/svnsubproject.py
  features/import-from-git.feature
  tests/test_subproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Bump cunit to rev 172 after upstream update
  features/check-svn-repo.feature
  features/fetch-svn-repo.feature
  features/freeze-projects.feature
  features/import-from-svn.feature
Due: none

Review comments
  dfetch/project/superproject.py
  tests/test_import.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Split super project
  dfetch/commands/check.py
  dfetch/commands/diff.py
  dfetch/commands/environment.py
  dfetch/commands/format_patch.py
  dfetch/commands/freeze.py
  dfetch/commands/import_.py
  dfetch/commands/report.py
  dfetch/commands/update.py
  dfetch/commands/update_patch.py
  dfetch/project/__init__.py
  dfetch/project/gitsuperproject.py
  dfetch/project/superproject.py
  dfetch/project/svnsuperproject.py
  tests/test_check.py
  tests/test_import.py
  tests/test_report.py
  tests/test_update.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Review comments
  dfetch/commands/update_patch.py
  dfetch/project/gitsuperproject.py
  dfetch/project/superproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Cleanup
  dfetch/project/gitsubproject.py
  dfetch/project/gitsuperproject.py
  dfetch/project/svnsubproject.py
  dfetch/project/svnsuperproject.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Add clarifying scenarios for format-patch
  features/format-patch-in-git.feature
  features/format-patch-in-svn.feature
  features/steps/git_steps.py
Due: isort, black

Remove outdated line, we no longer backup
  dfetch/commands/update_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

WIP
  dfetch/commands/format_patch.py
  dfetch/vcs/patch.py
  features/format-patch-in-git.feature
  features/format-patch-in-svn.feature
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Ensure format-patch creates patch for target vcs
  dfetch/commands/format_patch.py
  dfetch/vcs/patch.py
  features/format-patch-in-git.feature
  features/format-patch-in-svn.feature
  tests/test_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update casts
  doc/asciicasts/format-patch.cast
  doc/asciicasts/update-patch.cast
Due: doc8

Make format-patch comment more accurate
  dfetch/commands/format_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Update revision to 176 for cunit
  features/check-svn-repo.feature
  features/fetch-svn-repo.feature
  features/freeze-projects.feature
  features/import-from-svn.feature
Due: none

Review comments
  dfetch/vcs/patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Fix references
  dfetch/commands/diff.py
  dfetch/commands/format_patch.py
Due: isort, black, pylint, mypy, pydocstyle, bandit (security), vulture (dead code), radon (maintenance index), radon (cyclomatic complexity), xenon

Drop sphinxcontrib-details-directive dependency
  doc/_ext/scenario_directive.py
  doc/conf.py
  pyproject.toml
Due: isort, black, doc8

Escape html in title
  doc/_ext/scenario_directive.py
Due: isort, black, doc8

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  pylint: any of: ^dfetch/ and \.py$
  mypy: any of: ^dfetch/ and \.py$
  doc8: any of: ^doc/
  pydocstyle: any of: ^dfetch/ and \.py$
  bandit (security): any of: ^dfetch/ and \.py$
  vulture (dead code): any of: ^dfetch/ and \.py$
  radon (maintenance index): any of: ^dfetch/ and \.py$
  radon (cyclomatic complexity): any of: ^dfetch/ and \.py$
  xenon: any of: ^dfetch/ and \.py$
